extends ../layout
block content
    script.
    .panel.panel-info
        .panel-heading.text-center
            h1 Sponsor the next wave of developers
        .panel-body
            img.img-responsive.img-center.border-radius-5(src='https://s3.amazonaws.com/freecodecamp/wide-social-banner.png')
            .col-xs-12.col-md-10.col-md-offset-1
                h2.text-center Call our executive team at +1 888-888-8888
