extends ../layout
block content
    script.
    .panel.panel-info
        .panel-heading.text-center
            h1 These Sponsors make freeCodeCamp possible
        .panel-body
            img.img-responsive.img-center.border-radius-5(src='https://s3.amazonaws.com/freecodecamp/wide-social-banner.png')
            .spacer
            .row
                .col-xs-12.col-md-10.col-md-offset-1
                    h1 Interested in becoming a sponsor? Call us any time at +1 888-888-8888
                    .spacer
            h1.text-center Platinum Sponsors
            .row
                .col-xs-6
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                    .col-xs-12.col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2.negative-35
                        h3
                            a(href='#' target='_blank') Name of Company
                        p.large-p Sagittis 9 lives climb the curtains lady tincidunt sleep on your face odd consequat lobortis erat eu? Malesuada eros, ac facilisis waffles reddit cute id together lacinia lived faucibus! Sed, sleeping watched diam cat ut mercedes litora? Meet cute aptent lacinia, eu likes quam neighbors tincidunt scelerisque quis loves she.
                .col-xs-6
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                    .col-xs-12.col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2.negative-35
                        h3
                            a(href='#' target='_blank') Name of Company
                        p.large-p Sagittis 9 lives climb the curtains lady tincidunt sleep on your face odd consequat lobortis erat eu? Malesuada eros, ac facilisis waffles reddit cute id together lacinia lived faucibus! Sed, sleeping watched diam cat ut mercedes litora? Meet cute aptent lacinia, eu likes quam neighbors tincidunt scelerisque quis loves she.

            h1.text-center Gold Sponsors
            .row
                .col-xs-4
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                    .col-xs-12.col-sm-10.col-sm-offset-1.negative-35
                        h3
                            a(href='#' target='_blank') Name of Company
                        p.large-p Sagittis 9 lives climb the curtains lady tincidunt sleep on your face odd consequat lobortis erat eu? Malesuada eros, ac facilisis waffles reddit cute id together lacinia lived faucibus! Sed, sleeping watched diam cat ut mercedes litora? Meet cute aptent lacinia, eu likes quam neighbors tincidunt scelerisque quis loves she.
                .col-xs-4
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                    .col-xs-12.col-sm-10.col-sm-offset-1.negative-35
                        h3
                            a(href='#' target='_blank') Name of Company
                        p.large-p Sagittis 9 lives climb the curtains lady tincidunt sleep on your face odd consequat lobortis erat eu? Malesuada eros, ac facilisis waffles reddit cute id together lacinia lived faucibus! Sed, sleeping watched diam cat ut mercedes litora? Meet cute aptent lacinia, eu likes quam neighbors tincidunt scelerisque quis loves she.
                .col-xs-4
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                    .col-xs-12.col-sm-10.col-sm-offset-1.negative-35
                        h3
                            a(href='#' target='_blank') Name of Company
                        p.large-p Sagittis 9 lives climb the curtains lady tincidunt sleep on your face odd consequat lobortis erat eu? Malesuada eros, ac facilisis waffles reddit cute id together lacinia lived faucibus! Sed, sleeping watched diam cat ut mercedes litora? Meet cute aptent lacinia, eu likes quam neighbors tincidunt scelerisque quis loves she.

            h1.text-center Silver Sponsors
            .row
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
                .col-xs-2
                    img.img-responsive.img-center(src='http://placekitten.com/200/300')
