/*
For some reason this `div` is needed in order to overidde
the CSS rules of `ui-components`'s Alert.
*/
div.flash-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  position: fixed;
  width: 100%;
  z-index: var(--z-index-flash);
}
