extends ../layout
block content
    .jumbotron.text-center
        h1.animated.lightSpeedIn Congratulations!
        .animated.fadeIn.delay-2
            h2 You've completed the first 100 hours of Free Code Camp!
        .animated.fadeIn.delay-4
            h3 Now you're ready to continue your learning by building solutions for nonprofits!
            h3 First, please enter your email below.
            br
            form.form-horizontal(role='form', action="/done-with-first-100-hours/", method='POST', novalidate='novalidate', name='doneWithFirst100HoursForm')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                    label(class='col-sm-3 control-label', for='email') Your email *
                    .col-sm-8
                        input.form-control(type='text', name='email', id='email', autocomplete="off", ng-model='email', required='required', ng-keypress='')
                    .col-sm-8.col-sm-offset-3(ng-show="doneWithFirst100HoursForm.$error.email && !doneWithFirst100HoursForm.email.$pristine")
                        alert(type='danger')
                            span.ion-close-circled
                            | Please enter a valid email format.
                    .col-sm-8.col-sm-offset-3(ng-show="doneWithFirst100HoursForm.email.$invalid && doneWithFirst100HoursForm.email.$error.required && !doneWithFirst100HoursForm.email.$pristine")
                        alert(type='danger')
                            span.ion-close-circled(id='#email-error').
                                Your email is required.
                .form-group
                    .col-sm-offset-2.col-sm-8
                        button.btn.btn-primary(type='submit', ng-disabled='doneWithFirst100HoursForm.$invalid')
                            span.ion-paper-airplane
                            | Submit