extends ../layout

block content
    .jumbotron
        .text-center
            h1.nonprofit-landing.hug-top Get pro bono code for your nonprofit
            .big-break
            h2 Our process:
            .row
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Your idea
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', title='Get great references and connections to help you get a job')
                    p.landing-p You tell us how we can help you.
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Our team
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', title='Build a portfolio of apps for nonprofits')
                    p.landing-p We'll hand pick developers and a project manager.
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Your solution
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', title='Help nonprofits')
                    p.landing-p Together we'll set milestones and complete your project.
            .big-break
            h2 Solutions we can help you build:
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-android-globe
                    h2.black-text Websites
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-card
                    h2.black-text Donation Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-android-calendar
                    h2.black-text Volunteer Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-box
                    h2.black-text Inventory Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-university
                    h2.black-text E-learning Platforms
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-list
                    h2.black-text Web Forms
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-people
                    h2.black-text Community Tools
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-settings
                    h2.black-text ...and other tools
                    br
                    br
            .big-break

            script.
                challengeName = 'Home'
            .big-break
            h3 Fill in this form. We'll get back to you within 48 hours.
            h4
              form.form-horizontal(role='form', action="/nonprofits/", method='POST', novalidate='novalidate', name='nonprofitForm')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label(class='col-sm-2 control-label', for='name') Your name *
                  .col-sm-8
                    input.form-control(type='text', name='name', id='name', autocomplete="off", ng-model='name', required='required')
                  .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.name.$invalid && nonprofitForm.name.$error.required && !nonprofitForm.name.$pristine")
                    alert(type='danger')
                        span.ion-close-circled(id='#name-error')
                        |  Your name is required.
                .form-group
                  label(class='col-sm-2 control-label', for='email') Your email *
                  .col-sm-8
                    input.form-control(type='text', name='email', id='email', autocomplete="off", ng-model='email', required='required')
                  .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.email.$invalid && nonprofitForm.email.$error.required && !nonprofitForm.email.$pristine")
                    alert(type='danger')
                      span.ion-close-circled(id='#email-error').
                        Your email is required.
                .form-group
                  label(class='col-sm-2 control-label', for='message') Briefly describe what problem you need to solve, and for whom. *
                  .col-sm-8
                    textarea.form-control(type='text', name='message', id='message', rows='7', autocomplete="off", ng-model='message', required='required')
                  .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.message.$invalid && nonprofitForm.message.$error.required && !nonprofitForm.message.$pristine")
                    alert(type='danger')
                      span.ion-close-circled(id='#message-error')
                      | Your message is required.
                .form-group
                  .col-sm-offset-2.col-sm-8
                    button.btn.btn-primary(type='submit', ng-disabled='nonprofitForm.$invalid')
                      span.ion-paper-airplane
                      | Submit
      script.
          var challengeName = 'Non-profit Interest'