extends ../layout
block content
    .col-xs-12
        .panel.panel-info
            .panel-body
                h2.text-center We're an open source community of people
                    br
                    | who learn to code and help nonprofits.
                .spacer
                .row
                    .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
                        h2 Free Code Camp around the web:
                        table.table.link-table
                            tr
                                td.text-right
                                    .ion-speakerphone
                                td
                                    a(href='//medium.freecodecamp.com', target='_blank') Medium Publication
                            tr
                                td.text-right
                                    .ion-social-github
                                td
                                    a(href="//github.com/freecodecamp", target='_blank') GitHub Repository
                            tr
                                td.text-right
                                    .ion-social-reddit
                                td
                                    a(href="//www.reddit.com/r/freecodecamp", target='_blank') Subreddit
                            tr
                                td.text-right
                                    .ion-social-linkedin
                                td
                                    a(href="//www.linkedin.com/edu/school?id=166029", target='_blank') LinkedIn University Page
                            tr
                                td.text-right
                                    .ion-social-twitter
                                td
                                    a(href="//twitter.com/freecodecamp", target='_blank') Twitter Feed
                            tr
                                td.text-right
                                    .ion-social-facebook
                                td
                                    a(href="//facebook.com/freecodecamp") Facebook Page
                            tr
                                td.text-right
                                    .ion-social-twitch-outline
                                td
                                    a(href="//twitch.tv/freecodecamp", target='_blank') Twitch.tv Channel
                        .spacer

                        h2 Other useful links:
                        table.table.link-table
                            tr
                                td.text-right
                                    .ion-locked
                                td
                                    a(href="/terms-and-privacy") Our Privacy Policy, Terms of Service and Code of Conduct
                            tr
                                td.text-right
                                    .ion-erlenmeyer-flask
                                td
                                    a(href="/labs") Extra-curricular Apps Built by Campers
                            tr
                                td.text-right
                                    .ion-chatbox
                                td
                                    a(href="/stories") Stories from campers who've become professional developers
                        .spacer
                        h2 Which camper to contact for:
                        table.table.table-stripe
                            tr
                                td Support (team@freecodecamp.com)
                                td
                                    a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                            tr
                                td Facebook page
                                td
                                    a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                            tr
                                td Twitter feed
                                td
                                    a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                            tr
                                td Medium publication
                                td
                                    a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                            tr
                                td Media inquiries
                                td
                                    a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                            tr
                                td Open source codebase contributions
                                td
                                    a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                            tr
                                td Server problems
                                td
                                    a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                            tr
                                td Nonprofit projects
                                td
                                    a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                            tr
                                td Volunteer agile project managers
                                td
                                    a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                            tr
                                td Commit program
                                td
                                    a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                            tr
                                td Hikes curriculum
                                td
                                    a(href='https://gitter.im/BrianaMarie' target='_blank') @BrianaMarie
                            tr
                                td JavaScript curriculum
                                td
                                    a(href='https://gitter.im/SaintPeter' target='_blank') @SaintPeter
                            tr
                                td Data Science and Open Data
                                td
                                    a(href='https://gitter.im/Evaristoc' target='_blank') @Evaristoc
                            tr
                                td CamperBot
                                td
                                    a(href='https://gitter.im/LTegman' target='_blank') @LTegman
                            tr
                                td Twitch.tv channel
                                td
                                    a(href='https://gitter.im/Septimus' target='_blank') @Septimus
                            tr
                                td Youtube channel
                                td
                                    a(href='https://gitter.im/Septimus' target='_blank') @Septimus
                            tr
                                td Translation and Internationalization
                                td
                                    a(href='https://gitter.im/Vtamara' target='_blank') @Vtamara
                            tr
                                td Wiki
                                td
                                    a(href='https://gitter.im/Rafase282' target='_blank') @Rafase282
                            tr
                                td Campsites
                                td
                                    a(href='https://gitter.im/Hallaathrad' target='_blank') @Hallaathrad
