extends ../layout
block content
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    h2.text-center Academic Honesty Policy
    hr
    each line in policy
      p
        html.
          !{line}