extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        html.
          <h2 class='text-center'></a>Academic Honesty Policy</h2>
          <hr>
          <p>Before we issue our verified certification to a camper, he or she must accept our Academic Honesty Pledge, which reads:</p>
          <p>"I understand that plagiarism means copying someone else’s work and presenting the work as if it were my own, without clearly attributing the original author.</p>
          <p>"I understand that plagiarism is an act of intellectual dishonesty, and that people usually get kicked out of university or fired from their jobs if they get caught plagiarizing.</p>
          <p>"Aside from using open source libraries such as jQuery and Bootstrap, and short snippets of code which are clearly attributed to their original author, 100% of the code in my projects was written by me, or along with another camper with whom I was pair programming in real time.</p>
          <p>"I pledge that I did not plagiarize any of my freeCodeCamp work. I understand that freeCodeCamp’s team will audit my projects to confirm this."</p>
          <p>In the situations where we discover instances of unambiguous plagiarism, we will replace the camper in question’s certification with a message that "Upon review, this account has been flagged for academic dishonesty."</p>
          <p>As an academic institution that grants achievement-based certifications, we take academic honesty very seriously. If you have any questions about this policy, or suspect that someone has violated it, you can email <a href="mailto:team@freecodecamp.com">team@freecodecamp.com</a> and we will investigate.</p>
