extends ../layout
block content
    .panel.panel-info
        .panel-heading.text-center Coding Bootcamp Cost Calculator
        .panel-body
            .row
                .col-xs-12.col-sm-10.col-sm-offset-1
                    h2#one Where do you live?
                        #city-buttons
                            button#austin.btn.btn-primary.btn-block Austin
                            button#brisbane.btn.btn-primary.btn-block Brisbane
                            button#boulder.btn.btn-primary.btn-block Boulder
                            button#chicago.btn.btn-primary.btn-block Chicago
                            button#denver.btn.btn-primary.btn-block Denver
                            button#hong-kong.btn.btn-primary.btn-block Hong Kong
                            button#london.btn.btn-primary.btn-block London
                            button#los-angeles.btn.btn-primary.btn-block Los Angeles
                            button#manchester.btn.btn-primary.btn-block Manchester
                            button#melbourne.btn.btn-primary.btn-block Melbourne
                            button#san-francisco.btn.btn-primary.btn-block San Fransisco
                            button#new-york-city.btn.btn-primary.btn-block New York City
                            button#portland.btn.btn-primary.btn-block Portland
                            button#singapore.btn.btn-primary.btn-block Singapore
                            button#seattle.btn.btn-primary.btn-block Seattle
                            button#toronto.btn.btn-primary.btn-block Toronto
                            button#other.btn.btn-primary.btn-block Other
                    h2#two How much money did you make last year (in USD)?
                        #income
                            button#0.btn.btn-primary.btn-block(href='#') $0
                            button#20000.btn.btn-primary.btn-block(href='#') $20,000
                            button#40000.btn.btn-primary.btn-block(href='#') $40,000
                            button#60000.btn.btn-primary.btn-block(href='#') $60,000
                            button#80000.btn.btn-primary.btn-block(href='#') $80,000
                            button#100000.btn.btn-primary.btn-block(href='#') $100,000
                    svg.chart
                    | Sources:
                    a(href='#') Link to Data Sources Here
                    form
                        label
                            input(type='radio', name='mode', value='grouped')
                            | Grouped
                        label
                            input(type='radio', name='mode', value='stacked')
                            | Stacked

                    script.
                        $(document).ready(function () {
                            var city = "";
                            //major cities array to check against users location for housing costs
                            var cityArray = ["san-fransisco", "los-angeles", "chicago", "austin", "new-york-city"];
                            //this is the raw bootcamps file allowing easy addition of new code camps
                            var bootcamps = [{
                                "name": "App Academy",
                                "cost": "18000",
                                "weeks": "12",
                                "finance": false,
                                "housing": "500",
                                "cities": [
                                    "new-york-city",
                                    "san-francisco"
                                ]
                            }, {
                                "name": "Viking Code School",
                                "cost": "18000",
                                "weeks": "14",
                                "housing": "0",
                                "finance": false,
                                "cities": [
                                    "online"
                                ]
                            }, {
                                "name": "Hack Reactor",
                                "cost": "17780",
                                "housing": "500",
                                "weeks": "12",
                                "finance": true,
                                "cities": [
                                    "new-york-city",
                                    "san-francisco"
                                ]
                            }, {
                                "name": "Hack Reactor Online",
                                "cost": "17780",
                                "housing": "0",
                                "weeks": "12",
                                "finance": true,
                                "cities": [
                                    "online"
                                ]
                            }, {
                                "name": "Hackbright Academy",
                                "cost": "15000",
                                "housing": "500",
                                "weeks": "10",
                                "finance": true,
                                "cities": [
                                    "san-francisco"
                                ]
                            }, {
                                "name": "Dev Bootcamp",
                                "cost": "13950",
                                "finance": true,
                                "housing": "500",
                                "weeks": "19",
                                "cities": [
                                    "new-york-city",
                                    "san-francisco",
                                    "chicago"
                                ]
                            }, {
                                "name": "General Asssembly",
                                "cost": "11500",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "washington-dc",
                                    "austin",
                                    "boston",
                                    "chicago",
                                    "hong-kong",
                                    "london",
                                    "los-angeles",
                                    "melbourne",
                                    "new-york-city",
                                    "san-francisco",
                                    "seattle",
                                    "singapore"
                                ]
                            }, {
                                "name": "Angel Hack",
                                "cost": "14250",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "san-francisco"
                                ]
                            }, {
                                "name": "Bitmaker Labs",
                                "cost": "12000",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "toronto"
                                ]
                            }, {
                                "name": "CoderVox",
                                "cost": "9980",
                                "housing": "400",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "austin"
                                ]
                            }, {
                                "name": "Coding Dojo",
                                "cost": "12500",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "new-york-city",
                                    "san-francisco",
                                    "chicago"
                                ]
                            }, {
                                "name": "Epicodus",
                                "cost": "4500",
                                "housing": "400",
                                "finance": false,
                                "weeks": "15",
                                "cities": [
                                    "portland"
                                ]
                            }, {
                                "name": "Flat Iron School",
                                "cost": "15000",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "new-york-city"
                                ]
                            }, {
                                "name": "Galvanize",
                                "cost": "21000",
                                "housing": "500",
                                "finance": true,
                                "weeks": "24",
                                "cities": [
                                    "boulder",
                                    "denver",
                                    "seattle",
                                    "san-francisco"
                                ]
                            }, {
                                "name": "The Iron Yard",
                                "cost": "12000",
                                "housing": "500",
                                "finance": true,
                                "weeks": "19",
                                "cities": [
                                    "austin",
                                    "washington-dc"
                                ]
                            }, {
                                "name": "Launch Academy",
                                "cost": "12500",
                                "housing": "500",
                                "finance": true,
                                "weeks": "10",
                                "cities": [
                                    "boston"
                                ]
                            }, {
                                "name": "Maker Square",
                                "cost": "16920",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "los-angeles",
                                    "san-francisco",
                                    "austin"
                                ]
                            }, {
                                "name": "Refactor U",
                                "cost": "13500",
                                "housing": "400",
                                "finance": true,
                                "weeks": "10",
                                "cities": [
                                    "boulder"
                                ]
                            }, {
                                "name": "Rocket U",
                                "cost": "12500",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "new-york-city",
                                    "san-francisco",
                                    "chicago"
                                ]
                            }, {
                                "name": "Sabio",
                                "cost": "13450",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "los-angeles"
                                ]
                            }, {
                                "name": "Shillington School",
                                "cost": "12950",
                                "housing": "500",
                                "finance": true,
                                "weeks": "12",
                                "cities": [
                                    "new-york-city",
                                    "sydney",
                                    "brisbane",
                                    "london",
                                    "manchester",
                                    "melbourne"
                                ]
                            }, {
                                "name": "The Tech Academy",
                                "cost": "9000",
                                "housing": "400",
                                "finance": true,
                                "weeks": "20",
                                "cities": [
                                    "portland"
                                ]
                            }, {
                                "name": "Turing School",
                                "cost": "17500",
                                "housing": "400",
                                "finance": true,
                                "weeks": "27",
                                "cities": [
                                    "denver"
                                ]
                            }, {
                                "name": "Free Code Camp",
                                "cost": "0",
                                "housing": "0",
                                "finance": false,
                                "weeks": "0",
                                "cities": [
                                    "online"
                                ]
                            }];
                            $('#two').css({opacity: '0.25'});
                            $('#three').css({opacity: '0.25'});
                            $('#four').css({opacity: '0.25'});
                            //step one event listener
                            $('#city-buttons').on("click", "button", function () {
                                $(this).addClass('animated tada');
                                city = $(this).attr("id");
                                //make next step visible
                                $('#two').css({opacity: '1'});
                                $('#income').css({visibility: 'visible'});
                                //console.log(city);
                            });
                            //step two event listener
                            $('#income').on("click", "button", function() {
                                $(this).addClass('animated tada');
                                var lastYearincome = parseInt($(this).attr("id"));
                                //make next step visible
                                $('#four').css({opacity: '1'});
                                <!--Prep the data for D3 -->
                                var categoryNames = ['Opportunity Cost at Current Wage', 'Financing Cost', 'Housing Cost', 'Tuition / Wage Garnishing'];
                                bootcamps.forEach(function (camp) {
                                    var x0 = 0;
                                    if (camp.cities.indexOf(city) > -1) {
                                        weeklyHousing = 0;
                                    } else {
                                        weeklyHousing = +camp.housing;
                                    }
                                    camp.mapping = [{
                                        name: camp.name,
                                        label: 'Opportunity Cost at Current Wage',
                                        value: +camp.cost,
                                        x0: x0,
                                        x1: x0 += +camp.cost
                                    }, {
                                        name: camp.name,
                                        label: 'Financing Cost',
                                        value: +Math.floor(camp.cost * .09519),
                                        x0: +camp.cost,
                                        x1: camp.finance ? x0 += +Math.floor(camp.cost * .09519) : 0
                                    }, {
                                        name: camp.name,
                                        label: 'Housing Cost',
                                        value: +weeklyHousing * camp.weeks,
                                        x0: camp.finance ? +Math.floor(camp.cost * 1.09519) : camp.cost,
                                        x1: x0 += weeklyHousing * camp.weeks
                                    }, {
                                        name: camp.name,
                                        label: 'Tuition / Wage Garnishing',
                                        value: +(Math.floor(camp.weeks * lastYearincome / 50)),
                                        x0: camp.finance ? +(Math.floor(camp.cost * 1.09519) + weeklyHousing * camp.weeks) : +camp.cost + weeklyHousing * camp.weeks,
                                        x1: x0 += +(Math.floor(camp.weeks * lastYearincome / 50))
                                    }];
                                    camp.total = camp.mapping[camp.mapping.length - 1].x1;
                                });
                                bootcamps.sort(function(a, b) { return a.total - b.total; });
                                maxValue = 0;
                                bootcamps.forEach(function (camp) {
                                    camp.mapping.forEach(function (thing) {
                                        //console.log(thing.value );
                                        if (thing.value > maxValue) {
                                            maxValue = thing.value;
                                            console.log(maxValue);
                                        }
                                    });
                                });
                                var xStackMax = d3.max(bootcamps, function (d) {
                                            return d.total;
                                        }), //Scale for Stacked
                                        xGroupMax = bootcamps.map(function (camp) {                        //Scale for Grouped
                                            return camp.mapping.reduce(function (a, b) {
                                                return a.value > b.value ? a.value : b.value;
                                            });
                                        }).reduce(function (a, b) {
                                            return a > b ? a : b;
                                        });
                                var margin = {
                                            top: 30,
                                            right: 60,
                                            bottom: 50,
                                            left: 140
                                        },
                                        width = 800 - margin.left - margin.right,
                                        height = 1200 - margin.top - margin.bottom;
                                var barHeight = 20;
                                var xScale = d3.scale.linear()
                                        .domain([0, xStackMax])
                                        .rangeRound([0, width]);
                                var y0Scale = d3.scale.ordinal()
                                        .domain(bootcamps.map(function (d) {
                                            return d.name;
                                        }))
                                        .rangeRoundBands([0, height], .1);
                                var y1Scale = d3.scale.ordinal()
                                        .domain(categoryNames).rangeRoundBands([0, y0Scale.rangeBand()]);
                                var color = d3.scale.ordinal()
                                    .range(["#215f1e", "#5f5c1e", "#1e215f", "#5c1e5f"])
                                    .domain(categoryNames);
                                var svg = d3.select("svg")
                                        .attr("width", width + margin.left + margin.right)
                                        .attr("height", height + margin.top + margin.bottom)
                                        .append("g")
                                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                                var selection = svg.selectAll(".series")
                                        .data(bootcamps)
                                        .enter().append("g")
                                        .attr("class", "series")
                                        .attr("transform", function (d) {
                                            return "translate(0," + y0Scale(d.name) + ")";
                                        });
                                var rect = selection.selectAll("rect")
                                        .data(function (d) {
                                            return d.mapping;
                                        })
                                        .enter().append("rect")
                                        .attr("x", 0)
                                        .attr("width", 0)
                                        .attr("height", y0Scale.rangeBand())
                                        .style("fill", function (d) {
                                            return color(d.label);
                                        })
                                        .style("stroke", "white")
                                        .on("mouseover", function (d) {
                                            showPopover.call(this, d);
                                        })
                                        .on("mouseout", function (d) {
                                            removePopovers();
                                        });
                                rect.transition()
                                        .delay(function (d, i) {
                                            return i * 10;
                                        })
                                        .attr("x", function (d) {
                                            return xScale(d.x0);
                                        })
                                        .attr("width", function (d) {
                                            return xScale((d.x1) - (d.x0));
                                        });
                                d3.selectAll("input").on("change", change);
                                var timeout= setTimeout(function () {
                                    d3.select("input[value=\"stacked\"]").property("checked",true).each(change);
                                    // d3.select("input[value=\"stacked\"]").property("checked",true).each(change);
                                }, 4000);
                                var timeout= setTimeout(function () {
                                    d3.select("input[value=\"grouped\"]").property("checked",true).each(change);
                                }, 1500);

                                function change() {
                                    clearTimeout(timeout);
                                    if (this.value === "grouped") transitionGrouped();
                                    else transitionStacked();
                                }

                                function transitionGrouped() {
                                    xScale.domain = ([0, xGroupMax]);
                                    rect.transition()
                                            .duration(500)
                                            .delay(function (d, i) {
                                                return i * 10;
                                            })
                                            .attr("width", function (d) {
                                                return xScale((d.x1) - (d.x0));
                                            })
                                            .transition()
                                            .attr("y", function (d) {
                                                return y1Scale(d.label);
                                            })
                                            .attr("x", 0)
                                            .attr("height", y1Scale.rangeBand())
                                }

                                function transitionStacked() {
                                    xScale.domain = ([0, xStackMax]);
                                    rect.transition()
                                            .duration(500)
                                            .delay(function (d, i) {
                                                return i * 10;
                                            })
                                            .attr("x", function (d) {
                                                return xScale(d.x0);
                                            })
                                            .transition()
                                            .attr("y", function (d) {
                                                return y0Scale(d.label);
                                            })
                                            .attr("height", y0Scale.rangeBand())
                                }

                                //axes
                                var xAxis = d3.svg.axis()
                                        .scale(xScale)
                                        .orient("bottom");
                                var yAxis = d3.svg.axis()
                                        .scale(y0Scale)
                                        .orient("left");
                                svg.append("g")
                                        .attr("class", "y axis")
                                        .call(yAxis);
                                svg.append("g")
                                        .attr("class", "x axis")
                                        .attr("transform", "translate(0," + height + ")")
                                        .call(xAxis)
                                        .append("text")
                                        .attr("x", 300)
                                        .attr("y", 35)
                                        .attr("dy", ".35em")
                                        .style("text-anchor", "middle")
                                        .text("Cost in $USD");
                                //tooltips
                                function removePopovers() {
                                    $('.popover').each(function () {
                                        $(this).remove();
                                    });
                                }

                                function showPopover(d) {
                                    $(this).popover({
                                        title: d.name,
                                        placement: 'auto top',
                                        container: 'body',
                                        trigger: 'manual',
                                        html: true,
                                        content: function () {
                                            return d.label +
                                                    "<br/>$" +
                                                    d3.format(",")(d.value ? d.value : d.x1 - d.x0);
                                        }
                                    });
                                    $(this).popover('show')
                                }

                                //legends
                                var legend = svg.selectAll(".legend")
                                        .data(categoryNames.slice().reverse())
                                        .enter().append("g")
                                        .attr("class", "legend")
                                        .attr("transform", function (d, i) {
                                            return "translate(30," + i * y0Scale.rangeBand() * 1.1 + ")";
                                        });
                                legend.append("rect")
                                        .attr("x", width - y0Scale.rangeBand())
                                        .attr("width", y0Scale.rangeBand())
                                        .attr("height", y0Scale.rangeBand())
                                        .style("fill", color)
                                        .style("stroke", "white");
                                legend.append("text")
                                        .attr("x", width - y0Scale.rangeBand() * 1.2)
                                        .attr("y", 12)
                                        .attr("dy", ".35em")
                                        .style("text-anchor", "end")
                                        .text(function (d) {
                                            return d;
                                        });
                            });
                        });
