extends ../layout
block content
    script(src="../../../js/calculator.js")
    .panel.panel-info
        .panel-heading.text-center Coding Bootcamp Cost Calculator
        .panel-body
            .row
                .col-xs-12.col-sm-10.col-sm-offset-1
                    h3.text-primary#chosen Coming from _______, and making $_______, your true costs will be:
                    #city-buttons
                        h2 Where do you live?
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#atlanta.btn.btn-primary.btn-block.btn-lg Atlanta
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#austin.btn.btn-primary.btn-block.btn-lg Austin
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#brisbane.btn.btn-primary.btn-block.btn-lg Brisbane
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#boulder.btn.btn-primary.btn-block.btn-lg Boulder
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#chicago.btn.btn-primary.btn-block.btn-lg Chicago
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#denver.btn.btn-primary.btn-block.btn-lg Denver
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#hong-kong.btn.btn-primary.btn-block.btn-lg Hong Kong
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#london.btn.btn-primary.btn-block.btn-lg London
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#los-angeles.btn.btn-primary.btn-block.btn-lg Los Angeles
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#manchester.btn.btn-primary.btn-block.btn-lg Manchester
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#melbourne.btn.btn-primary.btn-block.btn-lg Melbourne
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#new-york-city.btn.btn-primary.btn-block.btn-lg New York City
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#portland.btn.btn-primary.btn-block.btn-lg Portland
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#raleigh-durham.btn.btn-primary.btn-block.btn-lg Raleigh-Durham
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#san-francisco.btn.btn-primary.btn-block.btn-lg San Fransisco
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#seattle.btn.btn-primary.btn-block.btn-lg Seattle
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#singapore.btn.btn-primary.btn-block.btn-lg Singapore
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#toronto.btn.btn-primary.btn-block.btn-lg Toronto
                        .col-xs-12.btn-nav
                            button#other.btn.btn-primary.btn-block.btn-lg Other
                            .spacer
                    #income.initially-hidden
                        h2 How much money did you make last year (in USD)?
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#0.btn.btn-primary.btn-block.btn-lg(href='#') $0
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#20000.btn.btn-primary.btn-block.btn-lg(href='#') $20,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#30000.btn.btn-primary.btn-block.btn-lg(href='#') $30,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#40000.btn.btn-primary.btn-block.btn-lg(href='#') $40,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#50000.btn.btn-primary.btn-block.btn-lg(href='#') $50,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#60000.btn.btn-primary.btn-block.btn-lg(href='#') $60,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#70000.btn.btn-primary.btn-block.btn-lg(href='#') $70,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#80000.btn.btn-primary.btn-block.btn-lg(href='#') $80,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#90000.btn.btn-primary.btn-block.btn-lg(href='#') $90,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#100000.btn.btn-primary.btn-block.btn-lg(href='#') $100,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#120000.btn.btn-primary.btn-block.btn-lg(href='#') $120,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#140000.btn.btn-primary.btn-block.btn-lg(href='#') $140,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#160000.btn.btn-primary.btn-block.btn-lg(href='#') $160,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#180000.btn.btn-primary.btn-block.btn-lg(href='#') $180,000
                        .col-xs-12.col-sm-6.col-md-4.btn-nav
                            button#200000.btn.btn-primary.btn-block.btn-lg(href='#') $200,000
                            .spacer
                    #chart.initially-hidden
                        .d3-centered
                            svg.chart
                    #explanation.initially-hidden
                        .text-center
                            .text-center
                                button#transform.btn.btn-primary.btn-block.btn-lg Transform
                            .button-spacer
                            a(href='/coding-bootcamp-cost-calculator.json') View Data Source JSON
                            span &nbsp; &bullet; &nbsp;
                            a(href='/coding-bootcamp-cost-calculator') Recalculate
                        p.large-p Test
