extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Win a Chromebook
        h2 Thanks to everyone who participated in our Chromebook giveaway.
        script(src='//widget-prime.rafflecopter.com/launch.js')
        a#rcwidget_a7khonhd.rcptr(href='http://www.rafflecopter.com/rafl/display/d70901b10/', rel='nofollow', data-raflid='d70901b10', data-theme='classic', data-template='') a Rafflecopter giveaway
        h2 Ready to learn to code?
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br
