extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h1.text-center Code of Conduct
        hr
        p freeCodeCamp is a friendly place to learn to code. We’re committed to keeping it that way.
        p By using freeCodeCamp, you agree that you'll follow this code of conduct.
        p In short: <bold>Be nice. No harassment, trolling, or spamming.</bold>
        ul
            li <bold>Harassment</bold> includes sexual language and imagery, deliberate intimidation, stalking, unwelcome sexual attention, libel and any malicious hacking or social engineering. freeCodeCamp should be a harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, national origin, or religion (or lack thereof).
            li <bold>Trolling</bold> includes posting inflammatory comments to provoke an emotional response or disrupt discussions.
            li <bold>Spamming</bold> includes posting off-topic messages to disrupt discussions, promote a product, or solicit donations.
        p If you see someone harass, troll, or spam anywhere on freeCodeCamp's online media (Gitter, YouTube, Facebook, etc.), notify us in our &thinsp;
            a(href='https://gitter.im/freecodecamp/admin' target='_blank') Admin room in Gitter
            | &thinsp; - preferably with a screen shot of the offense. Our team will take any action we deem appropriate, up to and including banning the offender from freeCodeCamp.
        p Also, no bots are allowed in our chat rooms or on our forum without prior written permission from &thinsp;
            a(href='https://gitter.im/FreeCodeCamp/CoreTeam' target="_blank") freeCodeCamp's Core Team.
        p If you have questions about this code of conduct, email us at&thinsp;
            a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
            | .
