extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h1.text-center Code of Conduct
        hr
        p
            | Free Code Camp is friendly place to learn to code. We’re committed to keeping it that way.
        p
            | All campers are required to agree with the following code of conduct. We’ll enforce this code. We’re expecting cooperation from all campers in ensuring a friendly environment for everybody.
        p In short: be nice to your fellow campers.
        p Remember these 3 things and your fellow campers will like you:
        ol
            li Compliment your fellow campers when they do good work. Congratulate them when they accomplish something (like completing one of our certifications or getting a job).
            li Critique the work, not the camper doing it.
            li Only argue about something if it’s important to the greater discussion.
        p
            | Free Code Camp should be a harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, national origin, or religion (or lack thereof).
        p
            | We do not tolerate harassment of campers in any form, anywhere on Free Code Camp’s online media (Gitter, Twitch, Facebook, etc.) or during pair programming. Harassment includes sexual language and imagery, deliberate intimidation, stalking, unwelcome sexual attention, libel, and any malicious hacking or social engineering.
        p
            | If a camper engages in harassing behavior, our team will take any action we deem appropriate, up to and including banning them from Free Code Camp.
        p
            | No bots are allowed in any of the Official Chat Rooms without prior explicit permission from the FCC Core Team.
        p
            | We want everyone to feel safe and respected. If you are being harassed or notice that someone else is being harassed, say something! Go to our &thinsp;
            a(href='https://gitter.im/freecodecamp/admin' target='_blank') Admin room in Gitter
            | &thinsp; and explain what has happened where (preferably with a screen shot of the offending language) so we can take fast action.
        p
            | If you have questions about this code of conduct, email us at&thinsp;
            a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
