extends ../layout
block content
    .jumbotron
        h2.text-center Do these steps to get ready for Free Code Camp (this only takes 10 minutes):
        ol
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Welcome to Free Code Camp. We're an open source community of busy people who learn to code, then practice by building projects for nonprofits.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/pYsTbjI.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Learning to code is hard. To succeed, you'll need lots practice and support. That's why we've created a rigorous curriculum and supportive community.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/Gtf8aIq.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Free Code Code camp is self-paced, browser-based, and free.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/D7Y5luw.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption If you can finish Free Code Camp, you will be able to get a coding job. There are thousands of coding jobs currently going unfilled, and the demand for coders grows every year.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/dLx8nrg.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption During the first 800 hours of Free Code Camp, you'll learn technologies like HTML5, Node.js and databases.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/yXyxbDd.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption During the last 800 hours, you'll build several real-life projects for nonprofits.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/PprMPUx.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption By the time you finish, you'll have a job-winning portfolio of real apps that people use every day.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/EAR7Lvh.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Now let's join Free Code Camp's chat rooms. You can come here any time of day to hang out, ask questions, or find another camper to pair program with.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.i.imgur.com/WAxbGZE.gif' alt='a gif showing how to install this')
            li.large-li.gif-caption
                a(href='https://github.com/join' target='_blank') Create an account with GitHub
                | . This will be private, so you should use your real email address.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Click the pixel art in the upper right hand corner of GitHub, then choose settings. Upload a picture of yourself. A picture of your face works best. This is how people will see you in our chat rooms, so put your best foot forward. You can add your city and your name if you want.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption
                a(href='//github.com/freecodecamp/freecodecamp' target='_blank') Go to Free Code Camp's open-source repository
                | &thinsp;and "star" it. "Starring" is the GitHub equivalent of "liking" something.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Now that you have a GitHub account, you can&thinsp;
                a(href='https://gitter.im/FreeCodeCamp/FreeCodeCamp' target='_blank') join our main chat room by authenticating with GitHub
                | .

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Introduce yourself by saying "Hello world!". Tell your fellow campers how you found Free Code Camp. Also tell us why you want to learn to code.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Please note that all of our chat rooms are visible to the public. If you need to share sensitive information, such as an email address or phone number, do it in a private message.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Keep our chat room open while you work through our challenges. That way, you can ask for help if you get stuck. You can also socialize with other campers when you feel like taking a break.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption
                a(href='https://gitter.im/apps' target='_blank') You can also download the chat room app to your computer or phone
                | .

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Click the "Map" button in your upper right hand corner. Our map shows all our coding challenges. We recommend that you complete these from top to bottom, at a sustainable pace.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/9NJfPQv.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption After you finish all of our challenges, you'll start building projects for nonprofits.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Click the "Wiki" button in your upper right hand corner. Our community has contributed lots of useful information to this searchable wiki.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Let's check out your portfolio page. Click your picture your upper right hand corner. Before you can see your portfolio page, you'll need to link your GitHub account with Free Code Camp.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption You can also add a short bio, and links to your social media profiles.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Your portfolio page shows your progress and how many Brownie Points you have. You can get Brownie Points by completing challenges and by helping other campers in our chat rooms. If you get Brownie Points on several days in a row, you'll get a streak.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Click the "News" button in your upper right hand corner. You can browse links on Camper News and upvote ones that you enjoy.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/Elb3dfj.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Our Campsites help you code with campers in your city. You can coordinate study groups or attend local coding events together.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption
                a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites' target='_blank') Find your city on this list
                | . Click the "Join group" button to join your city's Facebook group. If your city isn't on this list,&thinsp;
                a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/How-to-create-a-Campsite-for-your-city' target='_blank') follow these directions to create a Facebook group for your city
                | .

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption
                a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites' target='_blank') Go back to our list of Campsites&thinsp;
                | and click "Gitter" to join your city's chat room.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption You can&thinsp;
                a(href='https://www.linkedin.com/profile/edit-education?school=Free+Code+Camp' target='_blank') add Free Code Camp to your LinkedIn education background
                | . Set your graduation date as next year. For "Degree", type "Full Stack Web Development". For "Field of study", type "Computer Software Engineering". Then click "Save Changes".

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/6VtsD1K.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Let's cover one last thing before you start working through our challenges: how to get help. Any time you get stuck or don't know what to do next: RSAP (Read, Search, Ask, Post).

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/99BfAcK.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption First, R - Read the documentation or error message. A key skill that good coders have is the ability to interpret and then follow instructions.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption If that didn't help, S - Search Google. Good Google queries take a lot of practice. When you search Google, you usually want to include the language or framework you're using. You also want to limit the results to a recent period.

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption If that didn't help, A - Ask your friends. If you have trouble, you can ask your fellow campers in our&thinsp;
                a(href='https://gitter.im/FreeCodeCamp/Help' target='_blank') help chat room
                | .

            hr
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/rWeBOhF.jpg' alt='a gif showing how to install this')
            li.large-li.gif-caption Finally if you still haven't found an answer to your question, P - Post on Stack Overflow. This is a popular question and answer site where you can get help with coding questions.

        h2.text-center Nicely done. Now you have all the tools you need to succeed. Happy coding!
        a.btn.btn-cta.signup-btn.btn-block(href="/map") Take me to my Challenge Map
