extends ../layout
block content
        .bg-info.default-border-radius
            p &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/August-2015-Improvements' target='_blank') Free Code Camp is sloooooow today. We're fixing some serious issues, which you can read about here.
        .jumbotron
            h2.text-center This 10-minute guide will help you get the most out of Free Code Camp.

        .thumbnail
            img.gif-block.img-center.img-responsive.thumbnail(src='http://i.imgur.com/RlEk2IF.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p Welcome to Free Code Camp. We're an open source community of busy people who learn to code, then practice by building projects for nonprofits.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/pYsTbjI.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p Learning to code is hard. To succeed, you'll need lots practice and support. That's why we've created a rigorous curriculum and supportive community.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/D7Y5luw.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p If you can finish Free Code Camp, you will be able to get a coding job. There are thousands of coding jobs currently going unfilled, and the demand for coders grows every year.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/dLx8nrg.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p During the first 800 hours of Free Code Camp, you'll learn technologies like HTML5, Node.js and databases.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/yXyxbDd.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p During the last 800 hours, you'll build several real-life projects for nonprofits. By the time you finish, you'll have a job-winning portfolio of real apps that people use every day.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/EAR7Lvh.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p Now let's join Free Code Camp's chat rooms. You can come here any time of day to hang out, ask questions, or find another camper to pair program with. First you'll need a GitHub account.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/FEImaEN.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    a(href='https://github.com/join' target='_blank') Create an account with GitHub
                    | . Be sure to use your real email address - GitHub will keep this private.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/ALN6zPK.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    | Click the pixel art in the upper right hand corner of GitHub, then choose settings. Upload a picture of yourself. A picture of your face works best. This is how your fellow campers will see you in our chat rooms, so put your best foot forward. You can add your city and your name if you want.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/OXL3G3n.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    a(href='//github.com/freecodecamp/freecodecamp' target='_blank') Go to Free Code Camp's open-source repository
                    | &thinsp;and "star" it. "Starring" is the GitHub equivalent of "liking" something.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/EZHzKCV.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    | Now that you have a GitHub account, you can&thinsp;
                    a(href='https://gitter.im/FreeCodeCamp/FreeCodeCamp' target='_blank') join our main chat room by logging in with GitHub
                    | . Introduce yourself by saying "Hello world!". Tell your fellow campers how you found Free Code Camp. Also tell us why you want to learn to code.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/Ecs5XAd.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    | Our chat rooms are extremely active. You should change your settings so you're only notified if someone mentions you.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/T0bGJPe.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Please note that all of our chat rooms are visible to the public. If you need to share sensitive information, such as an email address or phone number, do it in a private message.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/vDTMJSh.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Keep our chat room open while you work through our challenges. That way, you can ask for help if you get stuck. You can also socialize with other campers when you feel like taking a break.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/SLQ27Gr.gif' alt='a gif showing how to install this')
            .caption
                p.large-p You can also&thinsp;
                    a(href='https://gitter.im/apps' target='_blank') download the chat room app
                    | &thinsp;to your computer or phone.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/DoOqkNW.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this: Click the "Wiki" button in your upper right hand corner. Our community has contributed lots of useful information to this searchable wiki.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/FkEzbto.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this: Check out your portfolio page. Click your picture your upper right hand corner. To activate your portfolio page, you'll need to link your GitHub account with Free Code Camp.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/WKzEr1q.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Your portfolio page shows your progress and how many Brownie Points you have. You can get Brownie Points by completing challenges and by helping other campers in our chat rooms. If you get Brownie Points on several days in a row, you'll get a streak.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/nmSiMy1.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    | Click the "News" button in your upper right hand corner. You can browse links on Camper News and upvote ones that you enjoy.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/Elb3dfj.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p Our Campsites help you code with campers in your city. You can coordinate study groups or attend local coding events together.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/EZHzKCV.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites' target='_blank') Find your city on this list
                    | . Click the "Join group" button to join your city's Facebook group. If your city isn't on this list,&thinsp;
                    a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/How-to-create-a-Campsite-for-your-city' target='_blank') follow these directions to create a Facebook group for your city
                    | .

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/3AgvJQg.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Try this:&thinsp;
                    a(href='https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites' target='_blank') Go back to our list of Campsites&thinsp;
                    | and click "Gitter" to join your city's chat room.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/P7qfJXt.gif' alt='a gif showing how to install this')
            .caption
                p.large-p You can&thinsp;
                    a(href='https://www.linkedin.com/profile/edit-education?school=Free+Code+Camp' target='_blank') add Free Code Camp to your LinkedIn education background
                    | . Set your graduation date as next year. For "Degree", type "Full Stack Web Development". For "Field of study", type "Computer Software Engineering". Then click "Save Changes".

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/EWWZBag.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p Let's cover one last thing before you start working through our challenges: how to get help. Any time you get stuck or don't know what to do next: Read-Search-Ask.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/99BfAcK.jpg' alt='a gif showing how to install this')
            .caption
                p.large-p First, read the documentation or error message. A key skill that good coders have is the ability to interpret and then follow instructions.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/GxvrsFb.gif' alt='a gif showing how to install this')
            .caption
                p.large-p If that didn't help, search Google. Good Google queries take a lot of practice. When you search Google, you usually want to include the language or framework you're using. You also want to limit the results to a recent period.

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/LZYU7p2.gif' alt='a gif showing how to install this')
            .caption
                p.large-p If that didn't help, ask your friends. If you have trouble, you can ask your fellow campers in our&thinsp;
                    a(href='https://gitter.im/FreeCodeCamp/Help' target='_blank') help chat room
                    | .

        .big-spacer
        .thumbnail
            img.gif-block.img-center.img-responsive(src='http://i.imgur.com/WsfzvVo.gif' alt='a gif showing how to install this')
            .caption
                p.large-p Now you're ready to start coding! Click the "Map" button in your upper right hand corner. Our map shows all our coding challenges. We recommend that you complete these from top to bottom, at a sustainable pace.
