extends ../layout
block content
    .col-xs-12
        .panel.panel-info
            .panel-heading.text-center Join our open source community wherever we may be
            .panel-body
                table.table.link-table
                    tr
                        td.text-right
                            .ion-erlenmeyer-flask
                        td
                            a(href="/labs") Cool Apps Built by Campers
                    tr
                        td.text-right
                            .ion-chatbox
                        td
                            a(href="/stories") Stories from Campers
                    tr
                        td.text-right
                            .ion-speakerphone
                        td
                            a(href='//medium.freecodecamp.com', target='_blank') Medium Publication
                    tr
                        td.text-right
                            .ion-social-github
                        td
                            a(href="//github.com/freecodecamp", target='_blank') GitHub Repository
                    tr
                        td.text-right
                            .ion-social-reddit
                        td
                            a(href="//www.reddit.com/r/freecodecamp", target='_blank') Subreddit
                    tr
                        td.text-right
                            .ion-social-linkedin
                        td
                            a(href="//www.linkedin.com/edu/school?id=166029", target='_blank') LinkedIn University Page
                    tr
                        td.text-right
                            .ion-social-twitter
                        td
                            a(href="//twitter.com/freecodecamp", target='_blank') Twitter Feed
                    tr
                        td.text-right
                            .ion-social-facebook
                        td
                            a(href="//facebook.com/freecodecamp") Facebook Page
                    tr
                        td.text-right
                            .ion-social-twitch-outline
                        td
                            a(href="//twitch.tv/freecodecamp", target='_blank') Twitch.tv Channel
                    tr
                        td.text-right
                            .ion-locked
                        td
                            a(href="//github.com/FreeCodeCamp/freecodecamp/wiki/Free-Code-Camp's-Privacy-Policy") Privacy Policy
                .spacer
