extends ../layout
block content
    .col-xs-12
        .panel.panel-info
            .panel-heading.text-center Join our open source community wherever we may be
            .panel-body
                .row
                    .col-xs-12
                        ul
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-erlenmeyer-flask
                                .col-xs-10.col-sm-11
                                    a(href="/labs") Cool Apps Built by Campers
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-chatbox
                                .col-xs-10.col-sm-11
                                    a(href="/stories") Stories from Campers
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-speakerphone
                                .col-xs-10.col-sm-11
                                    a(href='//medium.freecodecamp.com', target='_blank') Medium Publication
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-github
                                .col-xs-10.col-sm-11
                                    a(href="//github.com/freecodecamp", target='_blank') GitHub Repository
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-reddit
                                .col-xs-10.col-sm-11
                                    a(href="//www.reddit.com/r/freecodecamp", target='_blank') Subreddit
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-linkedin
                                .col-xs-10.col-sm-11
                                    a(href="//www.linkedin.com/edu/school?id=166029", target='_blank') LinkedIn University Page
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-twitter
                                .col-xs-10.col-sm-11
                                    a(href="//twitter.com/freecodecamp", target='_blank') Twitter Feed
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-facebook
                                .col-xs-10.col-sm-11
                                    a(href="//facebook.com/freecodecamp") Facebook Page
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-social-twitch-outline
                                .col-xs-10.col-sm-11
                                    a(href="//twitch.tv/freecodecamp", target='_blank') Twitch.tv Channel
                            li.large-li
                                .col-xs-2.col-sm-1
                                    .ion-locked
                                .col-xs-10.col-sm-11
                                    a(href="//github.com/FreeCodeCamp/freecodecamp/wiki/Free-Code-Camp's-Privacy-Policy") Privacy Policy
                .spacer
