extends ../layout
block content
    .text-center
        .row
            .col-xs-12
                h1.landing-heading Get pro bono code for your nonprofit.
                .big-break
                .col-xs-12.col-sm-12.col-md-12
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='//player.vimeo.com/video/126228100')
                    .big-break
                h2 As featured in:
                img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
                .spacer
                hr
                .spacer
                h2 Our process:
                .spacer
                .row
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Image of a briefcase')
                        p.large-p You tell us how we can help you.
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Image of people putting their hands together in a huddle')
                        p.large-p We'll hand pick developers and a project manager.
                    .col-xs-12.col-sm-12.col-md-4
                        img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='image of two people high-fiving')
                        p.large-p Together we'll set milestones and complete your project.
                .spacer
                hr
                .spacer
                h2 Solutions we can help you build:
                .spacer
                .text-center.negative-35
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-android-globe
                        h2.black-text Websites
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-card
                        h2.black-text Donation Systems
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-android-calendar
                        h2.black-text Volunteer Systems
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-box
                        h2.black-text Inventory Systems
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-university
                        h2.black-text E-learning Platforms
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-list
                        h2.black-text Paperless Workflows
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-ios-people
                        h2.black-text Community Tools
                    .col-xs-12.col-sm-12.col-md-3
                        .landing-skill-icon.ion-settings
                        h2.black-text ...and other tools
        .spacer
        hr
        .spacer
        .large-p.text-left.col-xs-offset-0.col-sm-offset-1
            h2 Our developers build projects for nonprofits who:
            ul.large-li
                li.ion-code &thinsp; already have people who benefit from their services.
                li.ion-code &thinsp; are registered with their government and have tax-exempt status.
                li.ion-code &thinsp; have a stakeholder who can meet with our developers to direct the project.
                li.ion-code &thinsp; can budget at least $20 per month for their own cloud servers.
                li.ion-code &thinsp; can commit to using and maintaining the solution that our developers build.
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/nonprofits-form") My nonprofit needs coding help
                .button-spacer
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href="/nonprofits/directory") Browse our directory of nonprofits we've helped
