extends ../layout
block content
    .text-center
        h1.landing-heading We will build software for your nonprofit. Pro Bono.
        .big-spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Image of a briefcase')
                p.large-p Apply for a Code Grant.
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Image of people putting their hands together in a huddle')
                p.large-p We'll provide volunteer developers and a project manager.
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='image of two people high-fiving')
                p.large-p We'll collaborate with you to build the tool you need.
        .spacer
        h2 As featured in:
        img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
        hr
        .spacer
        h1 What nonprofit leaders are saying:
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/ZHnFFN5.jpg", alt="Ewa's testimonial image")
                p.nonprofit-testimonial-copy With freeCodeCamp's valuable contribution, we were able to improve all of our systems and processes as part of our Wonder Women Eastern Indonesia program, and make sure that even more life changing technologies get to where they are needed most.
                h3 - Ewa Wojkowska with Kopernik
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/KHF8O2i.jpg", alt="Jennifer's testimonial image")
                p.nonprofit-testimonial-copy We have been blown away by the professional quality of the work that has been produced by the campers working on our projects. freeCodeCamp has been an invaluable partner and we are grateful for their support.
                h3 - Jennifer McDowell with Child First Authority
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/9VknVe3.jpg", alt="Stephanie's testimonial image")
                p.nonprofit-testimonial-copy We had the pleasure to work with two very talented campers who went above and beyond to create a web-based app for us. I would highly recommend that nonprofits apply to freeCodeCamp with their custom solution needs!
                h3 - Stephanie McAllister with Timeraiser
        .spacer
        hr
        .spacer
        h1 Solutions we can help you build:
        .spacer
        .row.text-center
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-tasks
                h2.black-text Paperless Workflows
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-child
                h2.black-text Volunteer Management
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-users
                h2.black-text Community Management
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-repeat
                h2.black-text Inventory Systems
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-truck
                h2.black-text Logistics Tools
            .col-xs-12.col-sm-12.col-md-4
                .landing-skill-icon.fa.fa-wrench
                h2.black-text ...and other tools
        .spacer
        hr
        .spacer
        h1 Some of the projects we've built for nonprofits:
        .spacer
        .row
            .col-xs-12
                h2 Options, Inc.
                    br
                    | Big Lake, Minnesota
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='//www.youtube.com/embed/V8B4orj0M7Y?rel=0&amp;showinfo=0')
        .spacer
        .row
            .col-xs-12
                h2 Child First Authority
                    br
                    | Baltimore, Maryland
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='//www.youtube.com/embed/O993J5KCR_w?rel=0&amp;showinfo=0')
        .spacer
        .row
            .col-xs-12
                h2 Chasdei Kaduri Food Bank
                    br
                    | Toronto, Canada
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='//www.youtube.com/embed/XUR8E9fy0mE?rel=0&amp;showinfo=0')
        .spacer
        hr
        .spacer
        h2 As grantmakers of pro bono code, we approve applications for nonprofits who:
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left.large-p
            ul.large-li
                li
                    span.fa.fa-code 
                    | &thinsp; have 501(c)(3) status or foreign equivalent.
                li
                    span.fa.fa-code 
                    | &thinsp; have a demonstrated need for custom code.
                li
                    span.fa.fa-code 
                    | &thinsp; have explored existing software solutions.
                li
                    span.fa.fa-code 
                    | &thinsp; already have people who benefit from their services.
                li
                    span.fa.fa-code 
                    | &thinsp; can budget $20 to $30 per month for hosting.
                li
                    span.fa.fa-code 
                    | &thinsp; will commit to using what our developers build.

        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                .spacer
                a.btn.btn-cta.signup-btn.btn-block(href="/nonprofits-form") Apply
