extends ../layout
block content
    .jumbotron
        .col-sm-offset-1
            h1 Nonprofit projects
            h3 It's time to apply what you've learned here at Free Code Camp.
            h3 By the end of this process, you'll have a portfolio of live apps being used by real people.
            h3 Please do the following immediately:
            h4
                ol
                    li Complete this form: &nbsp;
                        a(href="http://goo.gl/forms/f61dLt67t8" target="_blank") http://goo.gl/forms/f61dLt67t8
                        | .
                    li Read this document, which will answer many questions you may have about our nonprofit projects: &nbsp;
                        a(href="http://forum.freecodecamp.com/t/an-introduction-to-our-nonprofit-projects/856" target="_blank") http://forum.freecodecamp.com/t/an-introduction-to-our-nonprofit-projects/856
                        | .
                    li We'll send you an invite to our Nonprofit Projects Trello board. Once we do, go there and add yourself to at least 3 nonprofit projects that interest you.
                    li Finish any unfinished Bonfire challenges. These challenges serve as the Free Code Camp "exit test". You must complete these before you can start working on nonprofit projects. If you completed CoderByte or CodeWars challenges instead of Bonfire, email us and we'll take a look:&nbsp;
                        a(href="mailto:team@freecodecamp.com") team@freecodecamp.com
                        | .
                h4 Please email us if you have further questions: &nbsp;
                    a(href="mailto:team@freecodecamp.com") team@freecodecamp.com
                    | .