extends ../layout
block content
    .jumbotron
        .text-center
            .row
                .col-xs-12
                    h1.nonprofit-landing.hug-top Get Agile Project Management Experience for the PMI-ACP by Helping Nonprofits
                    .big-break
                    .col-xs-12.col-sm-12.col-md-12
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src='//player.vimeo.com/video/126228100')
                        .big-break
                    h2 Your opportunity:
                    .row
                        .col-xs-12.col-sm-12.col-md-4
                            h3.nowrap Plan Projects
                            img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Image of a briefcase')
                            p.landing-p You'll triage deliverables and set deadlines.
                        .col-xs-12.col-sm-12.col-md-4
                            h3.nowrap Manage Teams
                            img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Image of people putting their hands together in a huddle')
                            p.landing-p You'll lead two developers and a nonprofit stakeholder to success.
                        .col-xs-12.col-sm-12.col-md-4
                            h3.nowrap Become a PMI-ACP
                            img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='image of two people high-fiving')
                            p.landing-p You'll learn Agile, get references, and qualify for the PMI-ACP.
                    .big-break
                    h2 Solutions you'll help nonprofits build:
                    .text-center.negative-35
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-android-globe
                            h2.black-text Websites
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-card
                            h2.black-text Donation Systems
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-android-calendar
                            h2.black-text Volunteer Systems
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-ios-box
                            h2.black-text Inventory Systems
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-university
                            h2.black-text E-learning Platforms
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-ios-list
                            h2.black-text Paperless Workflows
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-ios-people
                            h2.black-text Community Tools
                        .col-xs-12.col-sm-12.col-md-3
                            .landing-skill-icon.ion-settings
                            h2.black-text ...and other tools
            .big-break
            a.btn.btn-cta.signup-btn.btn-block(href="/pmi-acp-agile-project-managers-form") I want to lead agile projects for nonprofits
