extends ../layout
block content
    h1.text-center Shop
    hr
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
            img.img-responsive.img-center(src='//i.imgur.com/MH1CvwY.jpg')
            h3 Free Code Camp laptop stickers are here!
            h4 Get two for only $5, with free shipping anywhere!
            p These durable 2" (5 cm) stickers sport a matte finish, and look great anywhere - especially on your laptop.
            html.
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R9AGYKJUCU37N">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
