extends ../layout
block content
    h1.text-center Shop
    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1
            .row
                .col-xs-12.text-center
                    a(href='https://teespring.com/free-code-camp-feb' target='_blank')
                        img.img-responsive.img-center(src='http://i.imgur.com/e50zjNy.jpg')
                        h3 Free Code Camp "function call" logo t-shirt
                    h4 100% Cotton. Unisex. $20 shipped. 
                    h4 Only available until February 15.
                    h5 Are you outside the US? Ships from the EU &thinsp;
                        a(href='https://teespring.com/free-code-camp-t-shirt-eu-shop' target='_blank') here
                        | .