extends ../layout
block content
    h1.text-center Shop
    hr
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
            img.img-responsive.img-center(src='//i.imgur.com/GzpUBR5.jpg')
            h3 Women's fitted black t-shirt
            h4 Only $19.99!
            p This high-quality American Apparel t-shirt will help you look like the fantastic developer you are.
            .spacer
            a.btn.btn-lg.signup-btn.btn-block(href='//teespring.com/free-code-camp-tshirt-black#pid=70&cid=2343&sid=front' target='_blank') Get this awesome shirt
            .button-spacer
            a.btn.btn-primary.btn-lg.btn-block(href='//teespring.com/black-free-code-camp-tshirt-eu#pid=375&cid=100052&sid=front' target='_blank') Get it here if you live in Europe
            hr
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
            img.img-responsive.img-center(src='//i.imgur.com/ENPVayN.jpg')
            h3 Men's black t-shirt
            h4 Only $19.99!
            p Features Free Code Camp's classy "function call" logo. You can't have too many awesome black t-shirts!
            .spacer
            a.btn.btn-lg.signup-btn.btn-block(href='//teespring.com/free-code-camp-tshirt-black' target='_blank') Get this awesome shirt
            .button-spacer
            a.btn.btn-primary.btn-lg.btn-block(href='//teespring.com/black-free-code-camp-tshirt-eu' target='_blank') Get it here if you live in Europe
            hr
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.text-center
            img.img-responsive.img-center(src='//i.imgur.com/MH1CvwY.jpg')
            h3 Free Code Camp laptop stickers are here!
            h4 Get two for only $5, with free shipping anywhere!
            p These durable 2" (5 cm) stickers sport a matte finish, and look great anywhere - especially on your laptop.
            html.
                <form action="//www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R9AGYKJUCU37N">
                <input type="image" src="//www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="//www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
