extends ../layout
block content
    h2.text-center Buy cool stuff and support our open source community:
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/0JSMQlO.jpg')
            h3 Bonfire Function Call T-shirt - $24.99
            p This comfortable jet black T-shirt features our community's iconic "bonfire function call" logo.
            p Also available in high quality American Apparel women's fitted tee sizes.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2cIteT1' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'bonfire function call tshirt');") Get this classic shirt

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/Ev3dGx2.jpg')
            h3 Bonfire Function Call Hoodie - $49.99
            p Stay warm and dress like a developer. This freeCodeCamp hoodie comes with pockets and a zipper for maximum convenience.
            p Fits great on men, women, and kids.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2cHlCx6' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'bonfire function call hoodie');") Get this toasty hoodie

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/nlupFKM.jpg')
            h3 It's all talk until the code runs T-shirt - $24.99
            p Ward Cunningham, inventor of the wiki, famously said, "It's all talk until the code runs." Spread his wisdom with this jet black t-shirt.
            p Also available in high quality American Apparel women's fitted tee sizes.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2bQ97AU' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'all talk tshirt');") Get this sweet shirt

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/XcruzJf.jpg')
            h3 Celebrate the Open Data Movement T-shirt - $24.99
            p All around the world, scientists and governments are releasing open data. freeCodeCamp's datasets are among the most popular with Kaggle's community of 600,000+ data scientists.
            p Also available in high quality American Apparel women's fitted tee sizes.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2celkPa' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'open data tshirt');") Get this awesome shirt

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/H4q9EAo.jpg')
            h3 Rabbit Skins Baby Onesie - $19.99
            p Inspire your baby to become a coder! 
            p These onesies come in pink and green, and range in size from 6 months to 2 years old.
            a.btn.btn-cta.signup-btn.btn-block(href='http://bit.ly/2b4Gq12' target='_blank' onClick="ga('send', 'event', 'Shop', 'clicked', 'open data onesie');") Get this adorable onesie

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/FNFqn9Tg.jpg')
            h3 freeCodeCamp laptop stickers
            p Get 2 for only $5, with free shipping anywhere!
            p These durable 2" (5 cm) stickers sport a matte finish, and look great anywhere - especially on your laptop.
            html.
                <form action="//www.paypal.com/cgi-bin/webscr" onSubmit="ga('send', 'event', 'Shop', 'clicked', 'Freecodecamp sticker');" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R9AGYKJUCU37N">
                <input type="submit" class="btn btn-cta signup-btn btn-block" name="submit" value='Get these with PayPal or a Credit Card'>
                <img alt="" border="0" src="//www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
    hr

    .big-break
    h2.text-center These audiobooks are extremely popular with developers:
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/0aHcAtS.jpg')
            h3 The Innovators: How a Group of Hackers, Geniuses, and Geeks Created the Digital Revolution
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2aZVCR6" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-the-innovators');") Get this audiobook for free

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/1088eKE.jpg')
            h3 The Master Switch: The Rise and Fall of Information Empires
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2cjtFDH" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-master-switch');") Get this audiobook for free

    hr
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
            img.img-responsive.img-center(src='//i.imgur.com/kAzbbvk.jpg')
            h3 Hackers: Heroes of the Computer Revolution
            p Get this audiobook and another of your choosing for free with an Audible free trial.
            a.btn.btn-cta.signup-btn.btn-block(target='_blank' href="http://amzn.to/2bIHlYP" onClick="ga('send', 'event', 'Shop', 'clicked', 'book-hackers');") Get this audiobook for free
