extends ../layout
block content
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h2.text-center Software Resources for Nonprofits
        hr
        p Please note that freeCodeCamp is not partnered with, nor do we receive a referral fee from, any of the following providers. We simply want to help guide you toward a solution for your organization.
        h3 Skills-based Volunteer Organizations:
        ul
            li
                a(href='http://givecamp.org/' target='_blank') Give Camp
            li
                a(href='http://www.volunteermatch.com' target='_blank') Volunteer Match.com
            li
                a(href='http://www.catchafire.org' target='_blank') Catchafire
            li
                a(href='http://anyonecanhaveawebsite.com' target='_blank') Anyone Can Have A Website
        h3 Building a website:
        ul
            li
                a(href='https://www.youtube.com/watch?v=4AXDKWuY9QM' target='_blank') How to build and deploy a website without writing any code for free
            li
                a(href='http://www.wix.com/' target='_blank') Wix
            li
                a(href='https://www.squarespace.com/' target='_blank') Square Space
            li
                a(href='https://wordpress.com/' target='_blank') WordPress
            li
                a(href='https://xprs.imcreator.com' target='_blank') Imcreator.com
        h3 Donor and Volunteer Management Systems:
        ul
            li
                a(href='http://causesignal.com' target='_blank') Cause Signal
            li
                a(href='https://www.thedatabank.com/' target='_blank') The Data Bank
            li
                a(href='http://www.donorsnap.com/' target='_blank') Donor Snap
            li
                a(href='http://www.donorperfect.com/' target='_blank') Donor Perfect
            li
                a(href='https://www.blackbaud.com/fundraising-crm/etapestry-donor-management' target='_blank') E Tapestry
            li
                a(href='http://www.z2systems.com' target='_blank') Z2 Systems
            li
                a(href='http://www.regpacks.com/volunteer-management' target='_blank') Reg Packs
            li
                a(href='http://sumac.com' target='_blank') Sumac
            li
                a(href='http://www.volgistics.com' target='_blank') Volgistics
        h3 Inventory Management Systems:
        ul
            li
                a(href='https://www.ordoro.com' target='_blank') Ordoro
            li
                a(href='http://www.unleashedsoftware.com' target='_blank') Unleashed Software
            li
                a(href='https://www.ezofficeinventory.com/industries/non-profits' target='_blank') EZ Office Inventory
        h3 E-Learning platforms:
        ul
            li
                a(href='http://www.dokeos.com' target='_blank') Dokeos
            li
                a(href='http://www.efrontlearning.net/' target='_blank') E Front Learning
            li
                a(href='https://moodle.org/' target='_blank') Moodle
            li
                a(href='https://sakaiproject.org/' target='_blank') Sakai Project
        h3 Community Management:
        ul
            li
                a(href='https://civicrm.org/' target='_blank') CiviCRM
            li
                a(href='http://tcmgr.com/' target='_blank') Total Community Manager
        h3 Electronic Forms:
        ul
            li
                a(href='http://www.google.com/forms' target='_blank') Google Forms
            li
                a(href='http://www.typeform.com' target='_blank') Typeform
