extends ../layout
block content
    .col-xs-12
        .panel.panel-info
            .panel-body
                h1 Privacy Policy
                p
                    | Free Code Camp is committed to respecting the privacy of visitors to our web sites and web applications. The guidelines below explain how we protect the privacy of visitors to
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  and its features.
                h3
                    a#Personally_Identifiable_Information_2
                    | Personally Identifiable Information
                p
                    | Free Code Camp protects the identity of visitors to
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  by limiting the collection of personally identifiable information.
                p
                    | Free Code Camp does not knowingly collect or solicit personally identifiable information from or about children under 13, except as permitted by law. If we discover we have received any information from a child under 13 in violation of this policy, we will delete that information immediately. If you believe Free Code Camp has any information from or about anyone under 13, please email us at
                    okies and software logs
                    a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                    | .
                p
                    | All personally identifiable information you provide to us is used by Free Code Camp and its team to process and manage your account, analyze the demographic of our users, or to deliver services through the site.
                p
                    | If you choose to provide personally identifiable information to us, you may receive occasional emails from us that are relevant to Free Code Camp, getting a job, or learning to code in general.
                    | Free Code Camp may also use other third-party providers to facilitate the delivery of the services described above, and these third-party providers may be supplied with or have access to personally identifiable information for the sole purpose of providing these services, to you on behalf of Free Code Camp.
                p
                    | Free Code Camp may also disclose personally identifiable information in special legal circumstances. For instance, such information may be used where it is necessary to protect our copyright or intellectual property rights, or if the law requires us to do so.
                h3
                    a#Anonymous_Information_15
                    | Anonymous Information
                p
                    | Anonymous aggregated data may be provided to other organizations we associate with for statistical purposes. For example, we may report to an organization that a certain percentage of our site’s visitors are adults between the ages of 25 and 35.
                h3
                    a#Cookies_and_BeaconsUse_by_Free_Code_Camp_Opting_Out_18
                    | Cookies and Beacons—Use by Free Code Camp; Opting Out
                p
                    | We use cookies and software logs to monitor the use of 
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  and to gather non-personal information about visitors to the site. Cookies are small files that Free Code Camp transfers to the hard drives of visitors for record-keeping purposes. These monitoring systems allow us to track general information about our visitors, such as the type of browsers (for example, Firefox or Internet Explorer), the operating systems (for instance, Windows or Macintosh), or the Internet providers (for instance, Comcast) they use. This information is used for statistical and market research purposes to tailor content to usage patterns and to provide services requested by our customers. To delete these cookies, please see your browser’s privacy settings.
                p
                    | A beacon is an electronic file object (typically a transparent image) placed in the code of a Web page. We use third party beacons to monitor the traffic patterns of visitors from one 
                    a(href='http://FreeCodeCamp.com') Free Code Camp.com
                    |  page to another and to improve site performance.
                    | None of the information we gather in this way can be used to identify any individual who visits our site.
                h3
                    a#Security_24
                    | Security
                p
                    | Any personally identifiable information collected through this site is stored on limited-access servers. We will maintain safeguards to protect these servers and the information they store.
                h3
                    a#Surveys_28
                    | Surveys
                p
                    | We may occasionally conduct on-line surveys. All surveys are voluntary and you may decline to participate.
                h3
                    a#Copyright_31
                    | Copyright
                p
                    | All of the content on 
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  is copyrighted by Free Code Camp. If you’d like to redistribute it beyond simply sharing it through social media, please contact us at
                    a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                    | .
                h3
                    a#Contacting_Us_34
                    | Contacting Us
                p
                    | If you have questions about Free Code Camp, or to correct, update, or remove personally identifiable information, please email us at 
                    a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                    | .
                h3
                    a#Links_to_Other_Web_sites_37
                    | Links to Other Web sites
                p
                    | Free Code Camp’s sites each contain links to other Web sites. Free Code Camp is not responsible for the privacy practices or content of these third-party Web sites. We urge all 
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  visitors to follow safe Internet practices: Do not supply Personally Identifiable Information to these Web sites unless you have verified their security and privacy policies.
                h3
                    a#Data_Retention_40
                    | Data Retention
                p
                    | We retain your information for as long as necessary to permit us to use it for the purposes that we have communicated to you and comply with applicable law or regulations.
                h3
                    a#Business_Transfers_43
                    | Business Transfers
                p
                    | As we continue to develop our business, we might sell or buy subsidiaries, or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Policy (unless, of course, the customer consents otherwise). Also, in the unlikely event that Free Code Camp, or substantially all of its assets are acquired, customer information will be one of the transferred assets, and will remain subject to our Privacy Policy.
                h3
                    a#Your_California_Privacy_Rights_46
                    | Your California Privacy Rights
                p
                    | If you are a California resident, you are entitled to prevent sharing of your personal information with third parties for their own marketing purposes through a cost-free means. If you send a request to the address above, Free Code Camp will provide you with a California Customer Choice Notice that you may use to opt-out of such information sharing. To receive this notice, submit a written request to 
                    a(target='_blank' href='mailto:href=%22mailto:team@freecodecamp.com') team@freecodecamp.com, 
                    | specifying that you seek your “California Customer Choice Notice.” Please allow at least thirty (30) days for a response.
                h3
                    a#Acceptance_of_Privacy_Policy_Terms_and_Conditions_49
                    | Acceptance of Privacy Policy Terms and Conditions
                p
                    | By using this site, you signify your agreement to the terms and conditions of this 
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  Privacy Policy. If you do not agree to these terms, please do not use this site. We reserve the right, at our sole discretion, to change, modify, add, or remove portions of this policy at any time. All amended terms automatically take effect 30 days after they are initially posted on the site. Please check this page periodically for any modifications. Your continued use of 
                    a(href='http://FreeCodeCamp.com') FreeCodeCamp.com
                    |  following the posting of any changes to these terms shall mean that you have accepted those changes.
                p
                    | If you have any questions or concerns, please send an email to 
                    a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                    | .
                .spacer
                hr
                .spacer
                h1 Terms of Service
                p Coming soon
                .spacer
                hr
                .spacer
                h1 Code of Conduct
                p
                    | Free Code Camp is friendly place to learn to code. We’re committed to keeping it that way.
                p
                    | All campers are required to agree with the following code of conduct. We’ll enforce this code. We’re expecting cooperation from all campers in ensuring a friendly environment for everybody.
                p In short: be nice to your fellow campers.
                p Remember these 3 things and your fellow campers will like you:
                ul
                    li
                        | Compliment your fellow campers when they do good work. Congratulate them when they accomplish something (like completing one of our certifications or getting a job).
                    li Critique the work, not the camper doing it.
                    li Only argue about something if it’s important to the greater discussion.
                p
                    | Free Code Camp should be a harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, national origin, or religion (or lack thereof).
                p
                    | We do not tolerate harassment of campers in any form, anywhere on Free Code Camp’s online media (Gitter, Twitch, Facebook, etc.) or during pair programming. Harassment includes sexual language and imagery, deliberate intimidation, stalking, unwelcome sexual attention, libel, and any malicious hacking or social engineering.
                p
                    | If a camper engages in harassing behavior, our team will take any action we deem appropriate, up to and including banning them from Free Code Camp.
                p
                    | No bots are allowed in any of the Official Chat Rooms without prior explicit permission from the FCC Core Team.
                p
                    | We want everyone to feel safe and respected. If you are being harassed or notice that someone else is being harassed, say something! Message @quincylarson, @berkeleytrue, @brianamarie and @codenonprofit in Gitter (preferably with a screen shot of the offending language) so we can take fast action.
                p
                    | If you have questions about this code of conduct, email us at 
                    a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                    | .
