extends ../layout
block content
    .panel.panel-info
        .panel-body.text-center
            h1 OK - you have successfully unsubscribed from Quincy's weekly emails.
            h2 If you want, you can resubscribe by clicking the button below.
            .big-break
            a.btn.btn-cta.signup-btn(href='/resubscribe/#{email}') Re-subscribe



