.keyboardPanel {
	position: absolute;
	top: 240px;
	width: 300px;
	height: 100px;
	text-align: center;
	margin-left: calc(50% - 150px);
}


.keyboardSelectLabel {
	font-weight: 900;
}
.flagContainer {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-around;
	
}
.usLayout {
	width: 48px;
	height: 48px;
	background-image: url(../images/US.png);
	cursor: pointer;
}
.ukLayout {
	width: 48px;
	height: 48px;
	background-image: url(../images/UK.png);
    cursor: pointer;
}
.noLayout {
	width: 48px;
	height: 48px;
    font-size: 8px;
    text-align: center;
    font-weight: 900;
	background-image: url(../images/nokeyboard.png);
	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    
	
}

.flagHighlighted {
	border-bottom: solid 5px yellow;
}