extends ../layout

block content
  .page-header
    h3 Sign in to Free Code Camp with any of these social network accounts:
    a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
        i.fa.fa-linkedin
        | Sign in with LinkedIn
    a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
    a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
        i.fa.fa-twitter
        | Sign in with Twitter
    a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign in with GitHub
