extends ../layout

block content
  if errors.length
    .alert.alert-danger.animated.fadeIn
      for error in errors
        div= error.msg

  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Sign In
      .form-group
        .btn-group.btn-group-justified
          a.btn.btn-facebook(href='/auth/facebook')
            i.fa.fa-facebook
            | Facebook
          a.btn.btn-twitter(href='/auth/twitter')
            i.fa.fa-twitter
            | Twitter
          a.btn.btn-github(href='/auth/github')
            i.fa.fa-github
            | GitHub
          a.btn.btn-google-plus(href='/auth/google')
            i.fa.fa-google-plus
            | Google
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='username') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | Login
