.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    p.stats
      | You have completed&nbsp;
      strong
        span.green-text=completedChallengeCount
      | &nbsp;of&nbsp;
      strong
        span.green-text=challengeCount
      | &nbsp;lessons.
    p.stats
      | You have built&nbsp;
      strong
        span.green-text=completedProjectCount
      |  out of&nbsp;
      strong
        span.green-text 30
      |  projects
    p.stats
      | You have earned&nbsp;
      strong
        span.green-text=completedCertCount
      |  out of&nbsp;
      strong
        span.green-text 6
      |  certifications