.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    p.stats
      | You have completed&nbsp;
      strong
        span.green-text=completedChallengeCount
      | &nbsp;of&nbsp;
      strong
        span.green-text=challengeCount
      | &nbsp;lessons.