#blog
script.
    (function() {
        $.ajax({
            url: '/api/blogger',
            type: 'GET'
        }).done(
            function(data) {
                var props = Object.keys(data);
                for (var i = 0; i < props.length; i+=2) {
                    var blogger = document.createElement('div');
                    $(blogger).html('<h2><a href=' + data[props[i+1]] + '>' + data[props[i]] + '</a></h2></div>').appendTo($('#blog'))
                }
            }
        );
    })();