script(type='text/javascript', src='/js/lib/jailed/jailed.js')
script(src=rev('/js', 'vendor-challenges.js'))
script(src=rev('/js', 'commonFramework.js'))
script.
  if (typeof localStorage !== 'undefined') {
    localStorage.setItem('currentDashedName', typeof common !== 'undefined' && common.dashedName || '');
  }
  var common = window.common || { init: [] };
  common.helpRoom = !{JSON.stringify(helpRoom)};
  document.addEventListener('gitter-sidecar-ready', function(e) {
    if (window.main) {
      window.main.chat.createHelpChat(common.helpRoom, '#challenge-help-btn');
    }
  });
