script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jshint/2.8.0/jshint.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/codemirror.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/addon/edit/closebrackets.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/addon/edit/matchbrackets.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/addon/lint/lint.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/addon/lint/javascript-lint.js')
script(type='text/javascript', src='/js/lib/chai/chai.js')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/codemirror.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/addon/lint/lint.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/theme/monokai.css')
link(rel='stylesheet', href='/css/ubuntu.css')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/mode/javascript/javascript.js')
script(type='text/javascript', src='/js/lib/jailed/jailed.js')
