#pair-modal.modal(tabindex='-1')
    .modal-dialog.animated.zoomIn.fast-animation
        .modal-content
            .modal-header.challenge-list-header Ready to pair program?
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body.text-center
                h3 This will take you to our pair programming room where you can request a pair.
                h3 You'll need &thinsp;
                    a(href='//github.com/FreeCodeCamp/freecodecamp/wiki/How-to-install-Screenhero' target='_blank') Screenhero
                    | .
                h3 Other campers may then message you about pair programming.
                a.btn.btn-lg.btn-primary.btn-block.close-modal(href='https://gitter.im/FreeCodeCamp/LetsPair', target='_blank') Take me to the pair programming room
                a.btn.btn-lg.btn-info.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Cancel

#issue-modal.modal(tabindex='-1')
    .modal-dialog.animated.zoomIn.fast-animation
        .modal-content
            .modal-header.challenge-list-header Did you find a bug?
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body.text-center
                h3 This will open our GitHub Issues page.
                h3 Please tell us how to reproduce the bug and link us to screenshots if possible.
                a.btn.btn-lg.btn-primary.btn-block#report-issue(name='_csrf', value=_csrf) Create my GitHub issue
                a.btn.btn-lg.btn-info.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Cancel

#help-modal.modal(tabindex='-1')
    .modal-dialog.animated.zoomIn.fast-animation
        .modal-content
            .modal-header.challenge-list-header Need some help?
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body.text-center
                h3 Remember to use &thinsp;
                    a(href='//github.com/FreeCodeCamp/freecodecamp/wiki/How-to-get-help-when-you-get-stuck', target='_blank') Read-Search-Ask
                    | .
                h3 If you've already read the errors and searched Google, you should ask for help.
                h3 This will take you to our help room.
                a.btn.btn-lg.btn-primary.btn-block.close-modal(href='https://gitter.im/FreeCodeCamp/help', target='_blank') Take me to the help room
                a.btn.btn-lg.btn-info.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Cancel

#reset-modal.modal(tabindex='-1')
    .modal-dialog.animated.fadeInUp.fast-animation
        .modal-content
            .modal-header.challenge-list-header Clear your code?
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
                h3 This will restore your code editor to its original state.
                a.btn.btn-lg.btn-info.btn-block#reset-button(href='#', data-dismiss='modal', aria-hidden='true') Clear my code
                a.btn.btn-lg.btn-primary.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Cancel
