.row.flashMessage
    .col-xs-12
        if (messages.errors || messages.error)
          .alert.alert-danger.fade.in
            button.close(type='button', data-dismiss='alert')
              span.ion-close-circled
            for error in (messages.errors || messages.error)
              div!= error.msg || error
        if messages.info
          .alert.alert-info.fade.in
            button.close(type='button', data-dismiss='alert')
              span.ion-close-circled
            for info in messages.info
              div!= info.msg
        if messages.success
          .alert.alert-success.fade.in
            button.close(type='button', data-dismiss='alert')
              span.ion-close-circled
            for success in messages.success
              div!= success.msg
