div
  if messages.danger
    .flash-container.bg-danger
      for msg in messages.danger
        .flash-content
          p.flash-message!= msg
          button.close(type='button', data-dismiss='flash-container')
            span(aria-hidden='true') ×
            span.sr-only Close
  if messages.info
    .flash-container.bg-info.alert
      for msg in messages.info
        .flash-content
          p.flash-message!= msg
          button.close(type='button', data-dismiss='alert')
            span(aria-hidden='true') ×
            span.sr-only Close
  if messages.success
    .flash-container.bg-success.alert
      for msg in messages.success
        .flash-content
          p.flash-message!= msg
          button.close(type='button', data-dismiss='alert')
            span(aria-hidden='true') ×
            span.sr-only Close
