if (user && user.points > 15)
    .container
        .row.flashMessage.negative-30
            .col-xs-12
                #bill-board.alert.alert-info.fade.in(style='display: none;')
                    button.close(type='button', data-dismiss='alert', id='dismiss-bill')
                        span.ion-close-circled
                    #bill-content
