if (user && user.points > 5)
    .container
        .row.flashMessage.negative-30
            .col-xs-12
                #bill-board.alert.alert-info.fade.in(style='display: none;')
                    button.close(type='button', data-dismiss='alert')
                        span.ion-close-circled#dismiss-bill
                    #bill-content
