.container
    .row.flashMessage.negative-30
        .col-xs-12
            #billBoard.alert.alert-info.fade.in(style="display: none;")
                button.close(type='button', data-dismiss='alert')
                    span.ion-close-circled#dismissBill
                #billContent
