.fcc-footer
    .col-xs-12.hidden-xs.hidden-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank') &nbsp;Blog&nbsp;&nbsp;
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank') &nbsp;GitHub&nbsp;&nbsp;
        a.ion-social-twitch-outline(href="/twitch") &thinsp;Twitch&nbsp;
        a.ion-social-linkedin(href="https://www.linkedin.com/edu/school?id=166029", target='_blank') &thinsp;LinkedIn&nbsp;
        a.ion-social-facebook(href="//facebook.com/freecodecamp") &nbsp;Facebook&nbsp;&nbsp;
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank') &nbsp;Twitter&nbsp;&nbsp;
        a.ion-locked(href="//github.com/FreeCodeCamp/freecodecamp/wiki/Free-Code-Camp's-Privacy-Policy") &nbsp;Privacy&nbsp;&nbsp;
    .col-xs-12.visible-xs.visible-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank')
            span.sr-only Free Code Camp's Blog
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on GitHub
        a.ion-social-twitch-outline(href="/twitch")
            span.sr-only Free Code Camp Live Pair Programming on Twitch.tv
        a.ion-social-linkedin(href="https://www.linkedin.com/edu/school?id=166029", target='_blank')
            span.sr-only Free Code Camp LinkedIn Alumni Network
        a.ion-social-facebook(href="//facebook.com/freecodecamp")
            span.sr-only Free Code Camp local groups on Facebook
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on Twitter
        a.ion-locked(href="//github.com/FreeCodeCamp/freecodecamp/wiki/Free-Code-Camp's-Privacy-Policy")
            span.sr-only Free Code Camp's Privacy Policy

// scripts should be moved here
script(src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer)
