// scripts should be moved here
script(src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer)
aside.map-aside.is-collapsed
  .map-aside-action-bar
      a.map-aside-action-item.map-aside-action-pop-out(href='/map' target='_blank' aria-label='open map in new tab')
      button.map-aside-action-item.map-aside-action-collapse(aria-label='close map aside')
aside.wiki-aside.is-collapsed
    .wiki-aside-action-bar
        a.wiki-aside-action-item.wiki-aside-action-pop-out(href='/wiki' target='_blank' aria-label='open wiki in new tab')
        button.wiki-aside-action-item.wiki-aside-action-collapse(aria-label='close wiki aside')
