// scripts should be moved here
script(src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer)
aside.map-aside.is-collapsed
  .map-aside-action-bar
      a.map-aside-action-item.map-aside-action-pop-out(href='/map' target='_blank' aria-label='open map in new tap')
      button.map-aside-action-item.map-aside-action-collapse(aria-label='close map aside')
