meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{title} | Spiraladder
link(rel='canonical', href='https://spiraladder.com')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
meta(name="description", content="Teen teach themselves to code.")
<meta name="apple-mobile-web-app-title" content="Spiraladder">
<meta name="application-name" content="Spiraladder">

link(rel="apple-touch-icon" sizes="180x180" href="https://www.dropbox.com/s/hr3f08k6de8i2nf/apple-touch-icon.png?raw=1")

link(rel="icon" type="image/png" sizes="16x16" href="https://www.dropbox.com/s/02150pl5qwc6gm3/favicon-16x16.png?raw=1")
link(rel="icon" type="image/png" sizes="32x32" href="https://www.dropbox.com/s/fa10kt14e1rz8q9/favicon-32x32.png?raw=1")
link(rel="icon" type="image/png" sizes="192x192" href="https://www.dropbox.com/s/vbxdctpkolejfdq/android-chrome-192x192.png?raw=1")

link(rel="manifest" href="https://www.dropbox.com/s/pskgnfvn875oed2/site.webmanifest?raw=1")

link(rel="mask-icon" href="https://www.dropbox.com/s/sebvf9pofbhn8yx/safari-pinned-tab.svg?dl=0" color="#1098da")

link(rel="shortcut icon" href="/favicon.ico?v=2")

meta(name="msapplication-TileColor", content="#ffaa2b")
meta(name="msapplication-TileImage" content="https://www.dropbox.com/s/u1dhkylp7yu2o3h/mstile-144x144.png?raw=1")

meta(name="theme-color" content="#ffffff")

