nav.navbar.navbar-default.navbar-static-top.nav-height

    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='https://dl.dropbox.com/s/axj20gzbebk3pio/teencodecamp_logo.png?raw=1', alt='learn to code at Spiraladder logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li
                a(href='https://learn.spiraladder.com' rel='noopener') Curriculum
            li
                a(href='/news', rel='noopener') News
            if !user
                li
                    a(href='/signin') Sign in
            else
                li
                  a(href='/settings') Settings
