nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/challenges/next-challenge')
            img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg', alt='learn to code javascript at Free Code Camp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li
                a(href='/map') Map
            li.hidden-xs
                a#nav-chat-btn(href='//gitter.im/freecodecamp/freecodecamp' onclick="if (!(event.ctrlKey || event.metaKey)) {return false;}") Chat
            li.visible-xs
                a(href="//gitter.im/freecodecamp/freecodecamp" target="_blank") Chat
            li
                a(href='http://forum.freecodecamp.com', target='_blank') Forum
            li
                a(href='/about') About
            li
                a(href='/shop') Shop
            if !user
                li
                    a(href='/signin') Sign in
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.points}&thinsp;]
                li.hidden-xs.hidden-sm.avatar
                  a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
