nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg', alt='learn to code javascript at Free Code Camp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li.hidden-xs
                a#nav-map-btn(href='#' onclick='return false') Map
            li.visible-xs
                a(href='/map') Map
            li.hidden-xs
                a#nav-chat-btn(href='#' onclick="return false") Chat
            li.visible-xs
                a(href="//gitter.im/freecodecamp/freecodecamp" target="_blank") Chat
            li
                a(href='/news', target='_blank') News
            li
                a(href='//github.com/FreeCodeCamp/freecodecamp/wiki/Home', target='_blank') Wiki
            li
                a(href='/jobs') Jobs
            li
                a(href='/about') About
            if !user
                li
                    a(href='/login') Sign in
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.progressTimestamps.length}&thinsp;]
                .hidden-xs.hidden-sm
                    a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
