link(rel='stylesheet', type='text/css' href='/css/lato.css')
link(rel="stylesheet" type="text/css" href="/bower_components/cal-heatmap/cal-heatmap.css")
link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/bower_components/lightbox2/dist/css/lightbox.css')
link(rel='stylesheet', href=rev('/css', 'main.css'))
