#trello
script.
    (function() {
        $.ajax({
            url: '/api/trello',
            type: 'GET'
        }).done(
            function(data) {
                var trello = document.createElement('div');
                $(trello).html('<h3 class="tight-h3"> We help ' + data.trello + ' nonprofits. <a href="https://trello.com/b/BA3xVpz9/nonprofit-projects">(view them)</a></h3>').prependTo($('#trello'))
            }
        );
    })();