link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400|Inconsolata")

link(rel="stylesheet" type="text/css" href="/bower_components/cal-heatmap/cal-heatmap.css")

link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')

link(rel='stylesheet', href='/css/main.css')
// End **REQUIRED** includes

include meta
title #{title} | Free Code Camp
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
