.panel.panel-info
    .panel-heading.landing-panel-heading.text-center Our Team of Volunteer Camp Counselors
    .panel-body
        .landing-panel-body.text-center
            .col-xs-12
                script.
                    $(function () {
                        var parent = $("#shuffle");
                        var divs = parent.children();
                        while (divs.length) {
                            parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                        }
                    });
                #shuffle
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Ammar Shah
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/ammar-shah.jpg' alt="Ammar Shah's picture")
                        h4.text-nowrap Karachi, Pakistan
                        p.negative-10 "I code whenever I'm not sleeping or in school. Making computers obey me is a dream come true."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Branden Byers
                        h4.negative-10.text-nowrap Instructional Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/branden-byers.jpg' alt="Branden Byers picture")
                        h4.text-nowrap Madison, Wisconsin
                        p.negative-10 "Cookbook author and stay-at-home-dad. Started coding as a kid, got distracted, but now I'm back in full JavaScript force!"
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Michael Johnson
                        h4.negative-10.text-nowrap Nonprofit Coordinator
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/michael-johnson.jpeg' alt="Michael Johnson's picture")
                        h4.text-nowrap Washington, D.C.
                        p.negative-10 "I’m a recent Harvard University graduate who took a pass on Wall Street to code for a cause, and help others do the same."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Berkeley Martinez
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/berkeley-martinez.jpg' alt="Berkeley Martinez's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "Former mechanical engineer. Coding is pure creation. I can fly, but only once."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Mychael Zuniga
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/mychael-zuniga.jpg' alt="Mychael Zuniga's picture")
                        h4.text-nowrap San Diego, California
                        p.negative-10 "I'm a college student who turned to code as an avenue for creative expression. I love political science and economics."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Jeanette Casteñeta
                        h4.negative-10.text-nowrap Product Manager
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/jeanette-casteneta.jpg' alt="Jeanette Casteñeta's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "Home-ec diva. I can envision a dress, then stitch it together. Now I'm learning how to do the same thing with code."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Darryl Dixon
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/darryl-dixon.jpg' alt="Darryl Dixon's picture")
                        h4.text-nowrap Newport News, Virginia
                        p.negative-10 "I'm a self-taught graphic designer. I'm learning web development here and want you to learn with me."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Kathy O'Driscoll
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/kathy-odriscoll.jpg' alt="Kathy O'Driscoll's picture")
                        h4.text-nowrap Los Angeles, California
                        p.negative-10 "Mother and grandmother. All my life I've dabbled in getting machines to do my bidding. Now it's becoming my career."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Ryan Malm
                        h4.negative-10.text-nowrap Visual Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/ryan-malm.jpg' alt="Ryan Malm's picture")
                        h4.text-nowrap Omaha, Nebraska
                        p.negative-10 "I love origami, piano, and playing minecraft with my kids. My JavaScript grows stronger every day."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Charles Watson
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/charles-watson.jpg' alt="Charles Watson's picture")
                        h4.text-nowrap Minneapolis, Minnesota
                        p.negative-10 "I skipped college. I build iOS apps. I love the obstacles and puzzles that coding presents me."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Quincy Larson
                        h4.negative-10.text-nowrap Instructional Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/quincy-larson.jpg' alt="Quincy Larson's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "I worked as a school director in China before learning to code. It's clear that everyone can - and should - learn to code."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Mark Howard
                        h4.negative-10.text-nowrap Digital Marketer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/mark-howard.jpg' alt="Mark Howard's picture")
                        h4.text-nowrap San Diego, California
                        p.negative-10 "I enjoy helping people, at scale. Code is the best way to do that."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Nathan Leniz
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/nathan-leniz.jpg' alt="Nathan Leniz's picture")
                        h4.text-nowrap Seoul, South Korea
                        p.negative-10 "I learned to code for the games, and stayed for the algorithms."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Jason Rueckert
                        h4.negative-10.text-nowrap Live Content Manager
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/jason-rueckert.jpg' alt="Jason Rueckert's picture")
                        h4.text-nowrap Seattle, Washington
                        p.negative-10 "My high school job was testing basketball shoes for Nike. I learned code to work smarter, not harder. I have no thyroid."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Christopher Nguyen
                        h4.negative-10.text-nowrap QA Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/christopher-nguyen.jpg' alt="Christopher Nguyen's picture")
                        h4.text-nowrap Seattle, Washington
                        p.negative-10 "Morning Owl. Code is an equalizer. Barriers exist everywhere, but if you can say 'hello world', the world will say hello back."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Dominic Jones
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/dominic-jones.jpg' alt="Dominic Jones's picture")
                        h4.text-nowrap York, Pennsylvania
                        p.negative-10 "Born with Sickle Cell Anemia. Professional writer, working on becoming a professional code writer."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap James McShane
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/james-mcshane.jpg' alt="James McShane's picture")
                        h4.text-nowrap Minneapolis, Minnesota
                        p.negative-10 "I just bought our first house, ending a 10 year streak of moving each year. I've used code to solve problems since I was a child."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Ellie Adam
                        h4.negative-10.text-nowrap Visual Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/ellie-adam.jpg' alt="Eliie Adam's picture")
                        h4.text-nowrap Seattle, Washington
                        p.negative-10 "I photograph birds and flowers. I'm a designer who recently decided to learn coding and front end web developement."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Kamal Sharif
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/kamal-sharif.jpg' alt="Kamal Sharif's picture")
                        h4.text-nowrap Dhaka, Bangladesh
                        p.negative-10 "I build applications that help other people improve their own lives."
                    .col-xs-12.col-sm-12.col-md-12.col-lg-6.team-member
                        h3.negative-10.text-nowrap Patrick Ly
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/patrick-ly.jpg' alt="Patrick Ly's picture")
                        h4.text-nowrap Los Angeles, California
                        p.negative-10 "I'm a student and self-taught Hip Hop dancer. Just using the web isn't enough for me. I want to create and maintain web apps, too"