.panel.panel-primary
    .panel-heading.landing-panel-heading.text-center We are Free Code Camp
    .panel-body
        .text-left.landing-panel-body
            //.col-xs-12
              .embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(src='https://gitter.im/FreeCodeCamp/FreeCodeCamp')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | coding made easy thanks to
                        a(href='https://twitter.com/FreeCodeCamp') @freecodecamp
                    | &mdash; Ngunjirinyaguthie (@_tess_ey)
                    a(href='https://twitter.com/_tess_ey/status/538468416047546368') November 28, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  I&apos;ll make time to be part of this!!!!
                    | &mdash; Guy (@codenorris)
                    a(href='https://twitter.com/codenorris/status/536585762083733505') November 23, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  Great idea. Great vision.
                    | &mdash; Dennis Ahaus (@DennisAhaus)
                    a(href='https://twitter.com/DennisAhaus/status/535528750977654784') November 20, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | Learn code for free! Your time, your pace! Sweet!
                        a(href='http://t.co/y6IMdPDPnH') http://t.co/y6IMdPDPnH
                        a(href='https://twitter.com/hashtag/code?src=hash') #code
                        a(href='https://twitter.com/hashtag/coding?src=hash') #coding
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        a(href='https://twitter.com/ESMSchoolDist') @ESMSchoolDist
                        | &mdash; Rebecca Wenner (@techiepusher)
                    a(href='https://twitter.com/techiepusher/status/535097411619016704') November 19, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  is my new favorite online learning tool right now.
                        a(href='http://t.co/W0kyl2q3n2') http://t.co/W0kyl2q3n2
                        a(href='https://twitter.com/hashtag/programming?src=hash') #programming
                        a(href='https://twitter.com/hashtag/computerscience?src=hash') #computerscience
                        a(href='https://twitter.com/hashtag/MOOCs?src=hash') #MOOCs
                    | &mdash; Edeline Wrigh (@EdelineWrigh)
                    a(href='https://twitter.com/EdelineWrigh/status/534850956127522816') November 18, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | Started
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  last nite. So far a good bit of review, but the overall program is pretty in-depth. From HTML thru
                        a(href='https://twitter.com/hashtag/git?src=hash') #git
                        a(href='https://twitter.com/hashtag/sql?src=hash') #sql
                        a(href='https://twitter.com/hashtag/agile?src=hash') #agile
                        | .
                    | &mdash; Tracie Holton (@TracieHolton)
                    a(href='https://twitter.com/TracieHolton/status/533272754363957248') November 14, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | I don&apos;t consider myself a teacher, but getting involved &amp; collaborating through
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  is really showing me how much I like sharing.
                    | &mdash; Alex Martin (@ADotMartin)
                    a(href='https://twitter.com/ADotMartin/status/532961039181045760') November 13, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | A6 -
                        a(href='http://t.co/M6Gyw8jszd') http://t.co/M6Gyw8jszd
                        a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                        |  Great concept, solid lessons, and the right reasons behind it. :)
                        a(href='https://twitter.com/hashtag/CodeNewbie?src=hash') #CodeNewbie
                    | &mdash; Angel Jose (@ajose01)
                    a(href='https://twitter.com/ajose01/status/532729251754033152') November 13, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | no school today: with
                        a(href='https://twitter.com/BlueninjaSF') @blueninjaSF
                        |  at
                        a(href='https://twitter.com/AWSloft') @awsloft
                        |  working on
                        a(href='https://twitter.com/FreeCodeCamp') @freecodecamp
                        |  - first website. check!
                        a(href='http://t.co/yJ8ycEti9B') pic.twitter.com/yJ8ycEti9B
                    | &mdash; brian ball (@brianball)
                    a(href='https://twitter.com/brianball/status/532243325290827777') November 11, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
            .col-xs-12.col-md-6
                blockquote.twitter-tweet(lang='en')
                    p
                        | I agree,
                        a(href='https://twitter.com/LeifPixel') @LeifPixel
                        |  ...
                        a(href='https://twitter.com/FreeCodeCamp') @freecodecamp
                        |  a wonderful way of learning web development while helping non-profits!
                        a(href='https://twitter.com/hashtag/web?src=hash') #web
                        a(href='https://twitter.com/hashtag/development?src=hash') #development
                        a(href='https://twitter.com/hashtag/nonprofit?src=hash') #nonprofit
                    | &mdash; Deb Simon-Heinfeld (@debBlufftonAGS)
                    a(href='https://twitter.com/debBlufftonAGS/status/532198725129867265') November 11, 2014
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
