.panel.panel-primary
    .panel-heading.landing-panel-heading.text-center What Our Code Campers are Saying
    .panel-body
        .landing-panel-body.text-center
            .col-xs-12
                .masonry-row
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Getting back on track with
                                    a(href='https://twitter.com/FreeCodeCamp') @freecodecamp
                                    |  and committing to a new career in 2015!
                                | &mdash; Jen (@jenbestyoga)
                                a(href='https://twitter.com/jenbestyoga/status/552261958221963264') January 6, 2015
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  I can&apos;t get enough of the free tutorials you&apos;re offering. Thanks for being awesome! Will be referring friends your way!
                                | &mdash; Chris Pearson (@CPearsonnn)
                                a(href='https://twitter.com/CPearsonnn/status/551513789401559042') January 3, 2015
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Great way to start learning code, it&apos;s the future.
                                    a(href='http://t.co/pNwDAQ9xFe') http://t.co/pNwDAQ9xFe
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    a(href='https://twitter.com/hashtag/Code?src=hash') #Code
                                    a(href='https://twitter.com/hashtag/html?src=hash') #html
                                    a(href='https://twitter.com/hashtag/css?src=hash') #css
                                    a(href='https://twitter.com/hashtag/jquery?src=hash') #jquery
                                    a(href='https://twitter.com/hashtag/javascript?src=hash') #javascript
                                | &mdash; Adam (@savageEWOK87)
                                a(href='https://twitter.com/savageEWOK87/status/549277640612278273') December 28, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | My boss was impressed by the troubleshooting I learned through
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  and I just got a raise! Sweet!
                                    a(href='http://t.co/om7DqQoyAr') http://t.co/om7DqQoyAr
                                | &mdash; Alec Hansen (@AlecMHansen)
                                a(href='https://twitter.com/AlecMHansen/status/544975882771648512') December 16, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/DrivenByTatiana') @DrivenByTatiana
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  - Cool. I&apos;m currently working thru it to improve my JavaScript. The community is very welcoming! &#x1F604;
                                | &mdash; a touch of curar&eacute; (@cynthialanel)
                                a(href='https://twitter.com/cynthialanel/status/544768565467807744') December 16, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Discovered
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  - there goes my December.
                                    a(href='http://t.co/ZmKcqnvf02') http://t.co/ZmKcqnvf02
                                    a(href='https://twitter.com/hashtag/PowerUp?src=hash') #PowerUp
                                    | &mdash; Gus S (@seattlegus)
                                a(href='https://twitter.com/seattlegus/status/541016560916127744') December 5, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | For my friends who are learning to code,
                                    a(href='https://twitter.com/ossia') @ossia
                                    |  has created a pretty remarkable resource
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  -
                                    a(href='http://t.co/LtO1Kmk6lL') http://t.co/LtO1Kmk6lL
                                    | .
                                | &mdash; mark_hayward (@mark_hayward)
                                a(href='https://twitter.com/mark_hayward/status/541968385480097792') December 8, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  is such a fantastic program! I love the idea of it. Perfect for someone like me
                                | &mdash; Konner Robison (@konnerrobison)
                                a(href='https://twitter.com/konnerrobison/status/541330055368949761') December 6, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Just built my companies website
                                    a(href='http://t.co/AUkS27oTm5') http://t.co/AUkS27oTm5
                                    |  with skills I&apos;ve learned from
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                | &mdash; tate (@TateThurston)
                                a(href='https://twitter.com/TateThurston/status/540269941815910401') December 3, 2014
                                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  I&apos;ll make time to be part of this!!!!
                                | &mdash; Guy (@codenorris)
                                a(href='https://twitter.com/codenorris/status/536585762083733505') November 23, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  Great idea. Great vision.
                                | &mdash; Dennis Ahaus (@DennisAhaus)
                                a(href='https://twitter.com/DennisAhaus/status/535528750977654784') November 20, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Learn code for free! Your time, your pace! Sweet!
                                    a(href='http://t.co/y6IMdPDPnH') http://t.co/y6IMdPDPnH
                                    a(href='https://twitter.com/hashtag/code?src=hash') #code
                                    a(href='https://twitter.com/hashtag/coding?src=hash') #coding
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    a(href='https://twitter.com/ESMSchoolDist') @ESMSchoolDist
                                    | &mdash; Rebecca Wenner (@techiepusher)
                                a(href='https://twitter.com/techiepusher/status/535097411619016704') November 19, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  is my new favorite online learning tool right now.
                                    a(href='http://t.co/W0kyl2q3n2') http://t.co/W0kyl2q3n2
                                    a(href='https://twitter.com/hashtag/programming?src=hash') #programming
                                    a(href='https://twitter.com/hashtag/computerscience?src=hash') #computerscience
                                    a(href='https://twitter.com/hashtag/MOOCs?src=hash') #MOOCs
                                | &mdash; Edeline Wrigh (@EdelineWrigh)
                                a(href='https://twitter.com/EdelineWrigh/status/534850956127522816') November 18, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | Started
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  last nite. So far a good bit of review, but the overall program is pretty in-depth. From HTML thru
                                    a(href='https://twitter.com/hashtag/git?src=hash') #git
                                    a(href='https://twitter.com/hashtag/sql?src=hash') #sql
                                    a(href='https://twitter.com/hashtag/agile?src=hash') #agile
                                    | .
                                | &mdash; Tracie Holton (@TracieHolton)
                                a(href='https://twitter.com/TracieHolton/status/533272754363957248') November 14, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | I don&apos;t consider myself a teacher, but getting involved &amp; collaborating through
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  is really showing me how much I like sharing.
                                | &mdash; Alex Martin (@ADotMartin)
                                a(href='https://twitter.com/ADotMartin/status/532961039181045760') November 13, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | A6 -
                                    a(href='http://t.co/M6Gyw8jszd') http://t.co/M6Gyw8jszd
                                    a(href='https://twitter.com/FreeCodeCamp') @FreeCodeCamp
                                    |  Great concept, solid lessons, and the right reasons behind it. :)
                                    a(href='https://twitter.com/hashtag/CodeNewbie?src=hash') #CodeNewbie
                                | &mdash; Angel Jose (@ajose01)
                                a(href='https://twitter.com/ajose01/status/532729251754033152') November 13, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
                    .masonry-block
                        .masonry-relative
                            blockquote.twitter-tweet(lang='en', data-cards="hidden")
                                p
                                    | I agree,
                                    a(href='https://twitter.com/LeifPixel') @LeifPixel
                                    |  ...
                                    a(href='https://twitter.com/FreeCodeCamp') @freecodecamp
                                    |  a wonderful way of learning web development while helping non-profits!
                                    a(href='https://twitter.com/hashtag/web?src=hash') #web
                                    a(href='https://twitter.com/hashtag/development?src=hash') #development
                                    a(href='https://twitter.com/hashtag/nonprofit?src=hash') #nonprofit
                                | &mdash; Deb Simon-Heinfeld (@debBlufftonAGS)
                                a(href='https://twitter.com/debBlufftonAGS/status/532198725129867265') November 11, 2014
                            script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

.panel.panel-primary
    .panel-heading.landing-panel-heading.text-center Our Team of Volunteer Camp Counselors
    .panel-body
        .landing-panel-body.text-center
            .col-xs-12
                script.
                    $(function () {
                        var parent = $("#shuffle");
                        var divs = parent.children();
                        while (divs.length) {
                            parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                        }
                    });
                #shuffle
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Ammar Shah
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/ammar-shah.jpg' alt="Ammar Shah's picture")
                        h4.text-nowrap Karachi, Pakistan
                        p.negative-10 "I code whenever I'm not sleeping or in school. Making computers obey me is a dream come true."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Branden Byers
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/branden-byers.jpg' alt="Branden Byers picture")
                        h4.text-nowrap Madison, Wisconsin
                        p.negative-10 "I'm a massage therapist and Stay-at-home-dad. I learned Hypercard, then Rails, but now I feel at home with JavaScript."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Michael Johnson
                        h4.negative-10.text-nowrap Nonprofit Coordinator
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/michael-johnson.jpeg' alt="Michael Johnson's picture")
                        h4.text-nowrap Washington, D.C.
                        p.negative-10 "I’m a recent Harvard University graduate who took a pass on Wall Street to code for a cause, and help others do the same."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Berkeley Martinez
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/berkeley-martinez.jpg' alt="Berkeley Martinez's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "Former mechanical engineer. Coding is pure creation. I can fly, but only once."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Mychael Zuniga
                        h4.negative-10.text-nowrap JavaScript Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/mychael-zuniga.jpg' alt="Mychael Zuniga's picture")
                        h4.text-nowrap San Diego, California
                        p.negative-10 "I'm a college student who turned to code as an avenue for creative expression. I love political science and economics."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Jeanette Casteñeta
                        h4.negative-10.text-nowrap Product Manager
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/jeanette-casteneta.jpg' alt="Jeanette Casteñeta's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "Home-ec diva. I can envision a dress, then stitch it together. Now I'm learning how to do the same thing with code."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Darryl Dixon
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/darryl-dixon.jpg' alt="Darryl Dixon's picture")
                        h4.text-nowrap Newport News, Virginia
                        p.negative-10 "I'm a self-taught graphic designer. I'm learning web development here and want you to learn with me."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Kathy O'Driscoll
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/kathy-odriscoll.jpg' alt="Kathy O'Driscoll's picture")
                        h4.text-nowrap Los Angeles, California
                        p.negative-10 "Mother and grandmother. All my life I've dabbled in getting machines to do my bidding. Now it's becoming my career."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Ryan Malm
                        h4.negative-10.text-nowrap Visual Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/ryan-malm.jpg' alt="Ryan Malm's picture")
                        h4.text-nowrap Omaha, Nebraska
                        p.negative-10 "I love origami, piano, and playing minecraft with my kids. My JavaScript grows stronger every day."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Charles Watson
                        h4.negative-10.text-nowrap iOS Engineer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/charles-watson.jpg' alt="Charles Watson's picture")
                        h4.text-nowrap Minneapolis, Minnesota
                        p.negative-10 "I skipped college. I build iOS apps. I love the obstacles and puzzles that coding presents me."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Quincy Larson
                        h4.negative-10.text-nowrap Instructional Designer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/quincy-larson.jpg' alt="Quincy Larson's picture")
                        h4.text-nowrap San Francisco, California
                        p.negative-10 "I worked as a school director in China before learning to code. It's clear that everyone can - and should - learn to code."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Mark Howard
                        h4.negative-10.text-nowrap Digital Marketer
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/mark-howard.jpg' alt="Mark Howard's picture")
                        h4.text-nowrap San Diego, California
                        p.negative-10 "I enjoy helping people, at scale. Code is the best way to do that."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Nathan Leniz
                        h4.negative-10.text-nowrap Community Builder
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/nathan-leniz.jpg' alt="Nathan Leniz's picture")
                        h4.text-nowrap Seoul, South Korea
                        p.negative-10 "I learned to code for the games, and stayed for the algorithms."
                    .col-xs-12.col-sm-4.col-md-3.team-member
                        h3.negative-10.text-nowrap Jason Rueckert
                        h4.negative-10.text-nowrap Live Content Manager
                        img.profile-image(src='https://s3.amazonaws.com/freecodecamp/jason-rueckert.jpg' alt="Jason Rueckert's picture")
                        h4.text-nowrap Seattle, Washington
                        p.negative-10 "My high school job was testing basketball shoes for Nike. I learned code to work smarter, not harder. I have no thyroid."