h3
    ol#bonfireList
    script.
        var getLinkedName = function getLinkedName(name) {
            return name.toLowerCase().replace(/\s/g, '-');
        }
        $.ajax({
            url: '/bonfires/getBonfireList',
            type: 'GET'
        })
        .success(
            function(data) {
                for (var i = 0; i < data.bonfireList.length; i++) {
                    var li  = document.createElement('li');
                    var linkedName = getLinkedName(data.bonfireList[i]);
                    $(li)
                    .html("<a href='/bonfires/"  + linkedName + "'>" + data.bonfireList[i] + "</a>");
                    $(li).appendTo($('#bonfireList'));
                }
        });
