h3
    ol#bonfireList
    script.
        var getLinkedName = function getLinkedName(name) {
            return name.toLowerCase().replace(/\s/g, '-');
        }
        $.ajax({
            url: '/bonfires/getBonfireList',
            type: 'GET'
        })
        .success(
            function(data) {
                for (var i = 0; i < data.bonfireList.length; i++) {
                    var li  = document.createElement('li');
                    var linkedName = getLinkedName(data.bonfireList[i].name);
                    if (R.contains(data.bonfireList[i]._id, data.completedList)) {
                        $(li).addClass('strikethrough');
                    }
                    $(li).html("<a href='/bonfires/" + linkedName + "'>" + data.bonfireList[i].name + "</a></li>");
                    $(li).appendTo($('#bonfireList'));

                }
        });


