h3
    ol(start='0')
for bonfire in bonfires
    li
        a(href="/bonfire/#{bonfire.bonfireNumber}") #{bonfire.name}
        | &nbsp; (Level #{bonfire.difficulty})

    block content
    script(src='/js/lib/codemirror/lib/codemirror.js')
    script(src='/js/lib/codemirror/addon/edit/closebrackets.js')
    script(src='/js/lib/codemirror/addon/edit/matchbrackets.js')
    script(src='/js/lib/codemirror/addon/lint/lint.js')
    script(src='/js/lib/codemirror/addon/lint/javascript-lint.js')
    script(src='//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js')
    script(src='/js/lib/chai/chai.js')
    link(rel='stylesheet', href='/js/lib/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/js/lib/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/js/lib/codemirror/theme/monokai.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono")
    script(src='/js/lib/codemirror/mode/javascript/javascript.js')
    script(src='/js/lib/jailed/jailed.js')
    script(src='/js/lib/bonfire/bonfireInit.js')
    .row
        #mainEditorPanel.col-sm-12.col-md-7.col-xs-12
            .panel.panel-primary.panel-bonfire
                .panel-heading.text-center Bonfire Playground
                .panel.panel-body
                    form.code
                        .form-group.codeMirrorView
                            textarea#codeEditor(autofocus=true)


        #testCreatePanel.col-sm-12.col-md-5.col-xs-12
            .panel.panel-primary.panel-bonfire
                .panel-heading.text-center Output
                .panel.panel-body
                    #submitButton.btn.btn-primary.btn-big.btn-block Run code (ctrl + enter)
                    br
                    form.code
                        .form-group.codeMirrorView
                            textarea#codeOutput
                    br
                    ul#testSuite.list-group
                    br
                    script(src='/js/lib/bonfire/bonfireFramework.js')