h3
    ol#coursewareList
    script(src='/js/lib/ramda/ramda.min.js')
    script.
        var getLinkedName = function getLinkedName(name) {
            return name.toLowerCase().replace(/\s/g, '-');
        }
        $.ajax({
            url: '/challenges/getCoursewareList',
            type: 'GET'
        })
                .success(
                function(data) {
                    var docfrag = document.createDocumentFragment();
                    for (var i = 0; i < data.coursewareList.length; i++) {
                        var li = document.createElement("li");
                        var linkedName = getLinkedName(data.coursewareList[i].name);
                        if (data.completedList.length > 0 && R.contains(data.coursewareList[i]._id, data.completedList)) {
                            $(li).html("<span class='sr-only'>completed</span><a href='/challenges/" + linkedName + "'>" + data.coursewareList[i].name + "</a></li>");
                            $(li).addClass('strikethrough');
                        } else {
                            $(li).html("<a href='/challenges/" + linkedName + "'>" + data.coursewareList[i].name + "</a></li>");
                        }

                        docfrag.appendChild(li);
                    };
                    $('#coursewareList').append(docfrag);
                });
