.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        = cc
        ol(start='0')
            li
                a(href="/challenges/0", class="#{ cc === 3 ? 'strikethrough' : '' }") A One-minute Introduction to Free Code Camp
            li
                a(href="/challenges/1") Enter the Free Code Camp Chat Room
            li
                a(href="/challenges/2") Create a Website and Deploy it to the Internet
            li
                a(href="/challenges/3") Install Github's Atom Text Editor
            li
                a(href="/challenges/4") Modify and Redeploy Your Website
            li
                a(href="/challenges/5") Start Your First Pair Programming Session
            li
                a(href="/challenges/6") Add Dynamic Content to your Website
            li
                a(href="/challenges/7") Codecademy's HTML & CSS track
            li
                a(href="/challenges/8") Experiment with HTML and CSS in CodePen
            li
                a(href="/challenges/9") Code School's Try jQuery
            li
                a(href="/challenges/10") jQuery Exercises
            li
                a(href="/challenges/11") Code School's Discover DevTools
            li
                a(href="/challenges/12") Customize Bootstrap with Bootswatch
            li
                a(href="/challenges/13") Inject Life with CSS Transformations
            li
                a(href="/challenges/14") Codecademy's JavaScript track
            li
                a.disabled(href="/challenges/15") Get Help The Hacker Way with RSAP
            li
                a.disabled(href="/challenges/16") Easy Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/17") Harvard's CS50: Introduction to Computer Science
            li
                a.disabled(href="/challenges/18") Medium Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/19") Stanford's Relational Databases Mini-course
            li
                a.disabled(href="/challenges/20") Stanford's JSON Mini-course
            li
                a.disabled(href="/challenges/21") Build a Text-based Adventure
            li
                a.disabled(href="/challenges/22") Hard Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/23") Stanford's SQL Mini-course
            li
                a.disabled(href="/challenges/24") Build an Interview Question Machine
            li
                a.disabled(href="/challenges/25") Code School's Try Git
            li
                a.disabled(href="/challenges/26") Install Node.js
            li
                a.disabled(href="/challenges/27") Clone a Github Repo
            li
                a.disabled(href="/challenges/28") Deploy an app to Heroku
            li
                a.disabled(href="/challenges/29") Code School's Real-time web with Node.JS
            li
                a.disabled(href="/challenges/30") Try MongoDB
            li
                a.disabled(href="/challenges/31") Explore your Network with the LinkedIn API
            li
                a.disabled(href="/challenges/32") Build your first API
            li
                a.disabled(href="/challenges/33") Aggregate Data with Chron Jobs and Screen Scraping
            li
                a.disabled(href="/challenges/34") Code School's Shaping up with Angular.JS
            li
                a.disabled(href="/challenges/35") Reverse Engineer SnapChat
            li
                a.disabled(href="/challenges/36") Reverse Engineer Reddit
            li
                a.disabled(href="/challenges/37") Reverse Engineer Pintrest
            li
                a.disabled(href="/challenges/38") Help a Nonprofit: Team Project
            li
                a.disabled(href="/challenges/39") Help a Nonprofit: Solo Project
            li
                a.disabled(href="/challenges/40") Crack the Coding Interview