.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol
            li
                a(href="/challenges/a-one-minute-introduction-to-free-code-camp") A One-minute Introduction to Free Code Camp
            li
                a(href="/challenges/enter-the-free-code-camp-chat-room") Enter the Free Code Camp Chat Room
            li
                a(href="/challenges/create-and-deploy-a-website") Create a Website and Deploy it to the Internet
            li
                a(href="/challenges/install-github-atom-text-editor") Install Github's Atom Text Editor
            li
                a(href="/challenges/modify-and-redeploy-your-website") Modify and Redeploy Your Website
            li
                a(href="/challenges/start-a-pair-programming-session") Start Your First Pair Programming Session
            li
                a(href="/challenges/add-dynamic-content-to-your-website") Add Dynamic Content to your Website
            li
                a(href="/challenges/codecademy-html-and-css-track") Codecademy's HTML & CSS track
            li
                a(href="/challenges/experiment-with-html-and-css-in-codepen") Experiment with HTML and CSS in CodePen
            li
                a(href="/challenges/code-school-try-jquery-course") Code School's Try jQuery
            li
                a(href="/challenges/jquery-exercises") jQuery Exercises
            li
                a(href="/challenges/code-school-discover-devtools-course") Code School's Discover DevTools
            li
                a(href="/challenges/customize-bootstrap-with-bootswatch") Customize Bootstrap with Bootswatch
            li
                a(href="/challenges/inject-life-with-css-transformations") Inject Life with CSS Transformations
            li
                a(href="/challenges/codecademy-javascript-track") Codecademy's JavaScript track
            li
                a.disabled(href="/challenges/get-help-the-hacker-way-with-rsap") Get Help The Hacker Way with RSAP
            li
                a.disabled(href="/challenges/easy-algorthim-scripting-challenges-on-coderbyte") Easy Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/harvard-introduction-to-computer-science-cs50-course") Harvard's CS50: Introduction to Computer Science
            li
                a.disabled(href="/challenges/medium-algorthim-scripting-challenges-on-coderbyte") Medium Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/stanfords-json-mini-course") Stanford's JSON Mini-course
            li
                a.disabled(href="/challenges/build-a-text-based-adventure") Build a Text-based Adventure
            li
                a.disabled(href="/challenges/hard-algorthim-scripting-challenges-on-coderbyte") Hard Algorithm Scripting Challenges on Coderbyte
            li
                a.disabled(href="/challenges/stanfords-sql-mini-course") Stanford's SQL Mini-course
            li
                a.disabled(href="/challenges/build-an-interview-question-machine") Build an Interview Question Machine
            li
                a.disabled(href="/challenges/code-school-try-git-course") Code School's Try Git
            li
                a.disabled(href="/challenges/install-node-js") Install Node.js
            li
                a.disabled(href="/challenges/clone-a-github-repo") Clone a Github Repo
            li
                a.disabled(href="/challenges/deploy-an-app-to-heroku") Deploy an app to Heroku
            li
                a.disabled(href="/challenges/code-school-real-time-with-node-js-course") Code School's Real-time web with Node.JS
            li
                a.disabled(href="/challenges/try-mongodb") Try MongoDB
            li
                a.disabled(href="/challenges/explore-your-network-with-the-linkedin-api") Explore your Network with the LinkedIn API
            li
                a.disabled(href="/challenges/build-your-first-api") Build your first API
            li
                a.disabled(href="/challenges/aggregate-data-with-chron-jobs-and-screen-scraping") Aggregate Data with Chron Jobs and Screen Scraping
            li
                a.disabled(href="/challenges/code-school-shaping-up-with-angular-js-course") Code School's Shaping up with Angular.JS
            li
                a.disabled(href="/challenges/reverse-engineer-snapchat") Reverse Engineer SnapChat
            li
                a.disabled(href="/challenges/reverse-engineer-reddit") Reverse Engineer Reddit
            li
                a.disabled(href="/challenges/reverse-engineer-pintrest") Reverse Engineer Pintrest
            li
                a.disabled(href="/challenges/help-a-nonprofit-team-project") Help a Nonprofit: Team Project
            li
                a.disabled(href="/challenges/help-a-nonprofit-solo-project") Help a Nonprofit: Solo Project
            li
                a.disabled(href="/challenges/crack-the-coding-interview") Crack the Coding Interview