.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol
            li Web Design:
                ol
                    li
                        a(href="/challenges/create-and-deploy-a-website") Create a website and deploy it to the internet
                    li
                        a(href="/challenges/start-a-pair-programming-session") Start Pair Programming session
                    li
                        a(href="/challenges/add-dynamic-content-to-your-website") Add dynamic content to your website
                    li
                        a(href="/challenges/experiment-with-html-and-css-in-codepen") Experiment with HTML and CSS in CodePen
                    li
                        a.disabled(href="#") Solve a mystery using Chrome DevTools
                    li
                        a.disabled(href="#") Augment a form with jQuery

            li JavaScript and Computer Science:
                ol
                    li
                        a.disabled(href="#") Get Help, The Hacker Way
                    li
                        a.disabled(href="#") Code 20 Algorithms on CoderByte
                    li
                        a.disabled(href="#") Build a Text-based Adventure
                    li
                        a.disabled(href="#") Build an Interview Question Machine
                    li
                        a.disabled(href="#") Explore your Network with the LinkedIn API
            li Full Stack JavaScript Development:
                ol
                    li
                        a.disabled(href="#") Reverse Engineer SnapChat
                    li
                        a.disabled(href="#") Reverse Engineer Reddit
                    li
                        a.disabled(href="#") Reverse Engineer Pintrest
                    li
                        a.disabled(href="#") Help a Non-profit: Team Project
                    li
                        a.disabled(href="#") Help a Non-profit: Solo Project