.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol
            li Web Design:
                ol
                    li
                        a(href="/challenges/create-and-deploy-a-website") Create a website and deploy it to the internet
                    li
                        a(href="/challenges/start-a-pair-programming-session") Start Pair Programming session
                    li
                        a(href="/challenges/add-dynamic-content-to-your-website") Add dynamic content to your website
                    li
                        a(href="/challenges/experiment-with-html-and-css-in-codepen") Experiment with HTML and CSS in CodePen
                    li
                        a.disabled(href="#") Solve a mystery using Chrome DevTools
                    li
                        a.disabled(href="#") Augment a Form with jQuery
                    li
                        a.disabled(href="#") Customize Bootstrap with Bootswatch
                    li
                        a.disabled(href="#") Inject Life with CSS Transformations
                    li
                        a(href="/challenges/codecademy-html-and-css-track") Codecademy's HTML & CSS track
                    li
                        a(href="/challenges/code-school-discover-devtools-course") Code School's Discover DevTools
                    li
                        a(href="/challenges/code-school-try-jquery-course") Code School's Try jQuery

            li JavaScript and Computer Science:
                ol
                    li
                        a(href="/challenges/codecademy-javascript-track") Codecademy's JavaScript track
                    li
                        a(href="/challenges/harvard-introduction-to-computer-science-cs50-course") Harvard's CS50: Introduction to Computer Science
                    li
                        a(href="/challenges/linux-command-line-tutorial") Linux Command Line tutorial
                    li
                        a(href="/challenges/code-school-try-git-course") Code School's Try Git
                    li
                        a.disabled(href="#") Get Help The Hacker Way with RSAP
                    li
                        a.disabled(href="#") Script Algorithms on CoderByte
                    li
                        a.disabled(href="#") Build a Text-based Adventure
                    li
                        a.disabled(href="#") Build an Interview Question Machine

            li Full Stack JavaScript Development:
                ol
                    li
                        a.disabled(href="#") Deploy your first Node.js app on Heroku
                    li
                        a.disabled(href="#") Explore your Network with the LinkedIn API
                    li
                        a.disabled(href="#") Build your first API
                    li
                        a.disabled(href="#") Aggregate Data with Chron Jobs and Screen Scraping
                    li
                        a.disabled(href="#") Reverse Engineer SnapChat
                    li
                        a.disabled(href="#") Reverse Engineer Reddit
                    li
                        a.disabled(href="#") Reverse Engineer Pintrest
                    li
                        a.disabled(href="#") Help a Nonprofit: Team Project
                    li
                        a.disabled(href="#") Help a Nonprofit: Solo Project
                    li
                        a.disabled(href="#") Crack the Coding Interview
                    li
                        a(href="/challenges/code-school-real-time-with-node-js-course") Code School's Real-time web with Node.JS
                    li
                        a(href="/challenges/code-school-shaping-up-with-angular-js-course") Code School's Shaping up with Angular.JS
                    li
                        a(href="/challenges/m101js-mongodb-for-node-js-developers-course") MongoDB University's MongoDB for Node.js Developers