.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol
            li Web Design:
                ol
                    li
                        a(href="/challenges/create-and-deploy-a-website") Learn how to create a website and deploy it to the internet
                        | &nbsp (takes 10 minutes)
                    li
                        a(href="/challenges/start-a-pair-programming-session") Learn how to start Pair Programming session
                        | &nbsp (takes 10 minutes)
                    li
                        a(href="/challenges/add-dynamic-content-to-your-website") Learn how to add dynamic content to your website
                        | &nbsp (takes 10 minutes)
                    li
                        a(href="/challenges/experiment-with-html-and-css-in-codepen") Learn how to experiment with HTML and CSS in Codepen
                        | &nbsp (takes 10 minutes)
            li JavaScript and Computer Science:
                ul
                    li Coming soon
            li Full-stack JavaScript:
                ul
                    li Coming soon