h1 Free Courses:

ol
    li Web Design:
        ul
            li
                a(href="courses/codecademy-html-and-css-track") Codecademy's HTML & CSS Track
            li
                a(href="courses/code-school-discover-devtools-course") Code School's Discover DevTools
            li
                a(href="courses/code-school-try-jquery-course") Code School's Try jQuery course
    li JavaScript and Computer Science:
        ul
            li
                a(href="courses/codecademy-javascript-track") Codecademy's JavaScript track
        ul
            li
                a(href="courses/harvard-introduction-to-computer-science-cs50-course") Harvard's Introduction to Computer Science (CS50)
            li
                a(href="courses/linux-command-line-tutorial") Linux Command Line tutorial
            li
                a(href="courses/code-school-try-git-course") Code School's Try Git
    li Full Stack JavaScript Development:
        ul
            li
                a(href="courses/code-school-real-time-with-node-js-course") Code School's Real-time web with Node.JS
            li
                a(href="courses/code-school-shaping-up-with-angular-js-course") Code School's Shaping up with Angular.JS
            li
                a(href="courses/m101js-mongodb-for-node-js-developers-course") MongoDB University's MongoDB for Node.js Developers