.panel.panel-info
    .panel-heading.landing-panel-heading.text-center Frequently Asked Questions
    .panel-body
        .landing-panel-body
            .row
                .text-left.col-xs-12.col-md-10.col-md-offset-1
                    h2 What will I learn, and in what sequence?
                    ul
                        p.landing-p First, you'll learn basic web design tools like:
                            ul
                                li.landing-p &#8226 HTML - the structure of web pages
                                li.landing-p &#8226 CSS - the visual style of web pages
                                li.landing-p &#8226 Bootstrap - a "responsive design" tool that helps your websites look great on tablets and phones
                                li.landing-p &#8226 jQuery - an easy tool for controlling content in the browser
                                li.landing-p &#8226 Chrome DevTools - a tool for understanding and debugging websites, right in your browser
                        p.landing-p Then you'll learn computer science and the art of programming:
                            ul
                                li.landing-p &#8226 JavaScript - the one programming language that all web browsers use
                                li.landing-p &#8226 Algorithms - step-by-step recipes for getting things done
                                li.landing-p &#8226 Automated Testing - write tests to test the limits of your code
                        p.landing-p You'll spend the last half of Free Code Camp using Agile Methodologies and Full Stack JavaScript to build projects for nonprofits:
                            ul
                                li.landing-p &#8226 Agile - a set of software development principles that focus the design and production of a project on the needs of its users
                                li.landing-p &#8226 Git - a version control system for saving and sharing your projects
                                li.landing-p &#8226 MongoDB - a popular non-relational database
                                li.landing-p &#8226 Angular.js - a tool for making exciting web interfaces
                                li.landing-p &#8226 Express.js - a powerful web development framework
                                li.landing-p &#8226 Node.js - a JavaScript-based web server
                    h2 Will I be ready to get a software engineer job after this?
                    ul
                        p.landing-p At the end of Free Code Camp, you will have pair programmed around 1,000 hours with dozens of other students, built a portfolio of projects that people are actively using, and a roster of glowing references from nonprofits you've helped. This is more coding than most coding bootcamps provide, and on average, 75% of bootcamp graduates get software engineering jobs within 6 months, and earn an average annual salary of $76,000.
                    img.img-center.img-responsive(src="https://s3.amazonaws.com/freecodecamp/table-of-earnings.png" alt="A chart showing the average earnings of coding bootcamp graduates")
                    h2 How long does Free Code Camp take?
                    ul
                        p.landing-p It takes about 1,000 hours of coding to develop the skills you'll need to get an entry level software engineering job. Most coding bootcamps try to jam all this into 12 weeks of intensive study. Free Code Camp is fully online, and there will always be other people at your skill level that you can pair program with, so you can learn at your own pace. Here are some example coding schedules:
                        table.table
                            thead
                                th Time budgeted
                                th.hidden-xs Hours per week
                                th Weeks to complete
                            tr.info
                                td Weekends
                                td.hidden-xs 10 hours/week
                                td 100 weeks (2 years)
                            tr.success
                                td Nights and Weekends
                                td.hidden-xs 20 hours/week
                                td 50 weeks (1 year)
                            tr.warning
                                td Full time
                                td.hidden-xs 40 hours/week
                                td 25 weeks (6 months)
                            tr.danger
                                td Traditional Bootcamp Pacing
                                td.hidden-xs 80 hours/week
                                td 12 weeks (3 months)
                    h2 Why does Free Code Camp use JavaScript instead of Ruby or Python?
                    ul
                        p.landing-p Like JavaScript, Ruby and Python are high-level scripting languages that can be used for full stack web development. But even if you learned these languages, you'd still need to learn JavaScript. That's because JavaScript is the only language that runs in web browsers. JavaScript has been around for 20 years, and it is still growing in popularity. Because of this, JavaScript has more tools and online learning resources than any other language.
                    img.img-center.img-responsive(src="https://s3.amazonaws.com/freecodecamp/github-repo-growth.png", style="max-height: 355px;" alt="A chart showing the volume of new GitHub repositories by year, with JavaScript growing and most languages declining.")
                    br
                    h2 How will I learn all this?
                    ul
                        p.landing-p By pair programming with other Free Code Camp students on our coding challenges. Eventually, you'll work with people at nonprofits to build real-life software solutions.
                    h2 What is 'pair programming', and what's so special about it?
                    ul
                        p.landing-p Pair programming is where two people code together on one computer. You discuss different approaches to solving problems, and keep each other motivated. The result is better code than either of you could have written by yourselves. Because of its benefits, many engineers pair program full time. And it's the best way to learn coding. Thanks to tools that allow two people to share mouse and keyboard inputs, you can pair program with a friend without needing to be in the same room.
                    h2 Is this really free? Do you claim part of my first year's salary like some bootcamps do?
                    ul
                        p.landing-p Our name is Free Code Camp. We are a free code camp. If you had to pay us (or sign over future earnings), we'd have to change our name. And we are not going to do that.
                    h2 Does Free Code Camp have an application process?
                    ul
                        p.landing-p Unlike coding bootcamps, anyone can study at Free Code Camp. We're not going to tell you that you can't become a software engineer. We believe the only person who should be able to tell you that is you. If you persevere, and keep working through our challenges and nonprofit projects, you will become an employable software engineer.
                    br
                    br
