h3
    ol#fieldGuideList
    script(src='/js/lib/ramda/ramda.min.js')
    script.
        var getLinkedName = function getLinkedName(name) {
            // ensure name is a string
            name = name + '';
            return name.toLowerCase().replace(/\s/g, '-').replace(/\?/g, '');
        }
        $.ajax({
            url: '/field-guide/getFieldGuideList',
            type: 'GET'
        })
        .success(
            function(data) {
                var docfrag = document.createDocumentFragment();
                for (var i = 0; i < data.fieldGuideList.length; i++) {
                    var div = document.createElement("div");
                    // strike through field guides previously read
                    var linkedName = getLinkedName(data.fieldGuideList[i].name);
                    if (data.completedFieldGuides.indexOf(data.fieldGuideIds[i]) > -1) {
                        $(div).html("<div class='row'>" +
                             "<div class='hidden-xs col-sm-3 col-md-2 text-primary ion-checkmark-circled padded-ionic-icon text-center'></div>" +
                                "<div class='col-xs-12 col-sm-6 col-md-8'>" +
                                    "<li class='faded'><a href='/field-guide/" + linkedName + "'>" + data.fieldGuideList[i].name + "</a></li>" +
                                "</div>" +
                                "<div class='col-sm-3 col-md-2'></div>" +
                            "</div>" +
                        "</div>");
                    } else {
                        $(div).html("<div class='row'>" +
                            "<div class='hidden-xs col-sm-3 col-md-2'></div>" +
                                "<div class='col-xs-12 col-sm-9 col-md-10'>" +
                                    "<li><a href='/field-guide/" + linkedName + "'>" + data.fieldGuideList[i].name + "</a></li>" +
                                "</div>" +
                            "</div>" +
                        "</div>");
                    }
                    docfrag.appendChild(div);
                };
            $('#fieldGuideList').append(docfrag);
        });
