.fcc-footer
    .col-xs-12
            a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank')
                span.sr-only Free Code Camp's Blog
            a.ion-social-twitch-outline(href="http://www.twitch.tv/freecodecamp", target='_blank')
                span.sr-only Free Code Camp Live Pair Programming on Twitch.tv
            a.ion-social-github(href="http://github.com/freecodecamp", target='_blank')
                span.sr-only Free Code Camp on GitHub
            a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank')
                span.sr-only Free Code Camp on Twitter
            a.ion-social-facebook(href="http://facebook.com/freecodecamp", target='_blank')
                span.sr-only Free Code Camp on Facebook
            a.ion-social-linkedin(href="http://linkedin.com/company/4831032?free-code-camp", target='_blank')
                span.sr-only Free Code Camp on LinkedIn
            a.ion-information-circled(href="/learn-to-code")
                span.sr-only About Free Code Camp
            a.ion-locked(href="/privacy")
                span.sr-only Free Code Camp's Privacy Policy
            a.ion-code-working(href="/playground")
                span.sr-only Code Editor Playground