.fcc-footer
    .col-xs-12.hidden-xs.hidden-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank') &nbsp;Blog&nbsp;&nbsp;
        a.ion-social-twitch-outline(href="/twitch") &thinsp;Twitch&nbsp;
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank') &nbsp;Github&nbsp;&nbsp;
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank') &nbsp;Twitter&nbsp;&nbsp;
        a.ion-information-circled(href="/learn-to-code") &nbsp;About&nbsp;&nbsp;
        a.ion-locked(href="/privacy") &nbsp;Privacy&nbsp;&nbsp;
    .col-xs-12.visible-xs.visible-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank')
            span.sr-only Free Code Camp's Blog
        a.ion-social-twitch-outline(href="/twitch")
            span.sr-only Free Code Camp Live Pair Programming on Twitch.tv
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on GitHub
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on Twitter
        a.ion-information-circled(href="/learn-to-code")
            span.sr-only About Free Code Camp
        a.ion-locked(href="/privacy")
            span.sr-only Free Code Camp's Privacy Policy
  #complete-bonfire-dialog.modal(tabindex='-1')
        .modal-dialog.animated.zoomIn.fast-animation
            .modal-content
                .modal-header.challenge-list-header= "Your pair code request is about to expire."
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body(ng-controller="pairedWithController")
                    .text-center
                        .animated.zoomInDown.delay-half
                            span.completion-icon.ion-checkmark-circled.text-primary
                        a.animated.fadeIn.btn.btn-lg.btn-primary.btn-block.next-bonfire-button(name='_csrf', value=_csrf, ng-disabled='completedWithForm.$invalid && existingUser.length > 0') Go to my next bonfire (ctrl + enter)

