.footer.nav.navbar.navbar-nav.visible-xs.visible-sm
    ul
        li
            a(href='/') Challenges
        - if (cc && cc[1] < 1)
            li
                a(href='/challenges/1') Chat
        - else
            li
                a(href='http://chat.freecodecamp.com') Chat
        - if (cc && cc[2] < 1)
            li
                a(href='/challenges/2') Forum
        - else
            li
                a(href='http://forum.freecodecamp.com') Forum
        li
            a(href='/learn-to-code') About
        if user
            li
                a(href='/profile') [&nbsp;#{user.points}&nbsp;]
        if !user
            a.btn.signup-btn.btn-nav.btn-sm(href='/login') Sign in