footer
  .container.text-center
    p.pull-left © 2014 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        span.ion-social-github
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        span.ion-bug
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
