.container
    .row
        .col-xs-12.col-sm-8
            a.btn.btn-success.btn-large.btn-block(href='https://www.hipchat.com/invite/178107/cc2f6ea4dfac9e48b9a88b305adae48a') Meet a new friend to pair program with in the Free Code Camp Chatroom
        .visible-xs
            br
            br
            br
        .col-xs-12.col-sm-4
            a.btn.btn-primary.btn-large.btn-block(href='http://twitter.com/intent/user?screen_name=FreeCodeCamp') Follow the discussion on Twitter