#footer
  .container.text-center
    div © 2014 Company, Inc.
    div
      strong Hackathon Starter
      |  Project ·
      |  Created by
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/sahat/hackathon-starter/issues') Issues