.fcc-footer
    .col-xs-12
        span
            a.ion-speakerphone(title="Free Code Camp's Blog", href='http://blog.freecodecamp.com', target='_blank')
            span.icon-lock Free Code Camp's Blog
            | &nbsp;
        span
            a.ion-social-twitch-outline(title="Free Code Camp Live Pair Programming on Twitch.TV", href="http://www.twitch.tv/freecodecamp", target='_blank')
            span.icon-lock Free Code Camp Live Pair Programming on Twitch.TV
            | &nbsp;
        span
            a.ion-social-github(title="Free Code Camp on GitHub", href="http://github.com/freecodecamp", target='_blank')
            span.icon-lock Free Code Camp on GitHub
            | &nbsp;
        span
            a.ion-social-twitter(title="Free Code Camp on Twitter", href="http://twitter.com/freecodecamp", target='_blank')
            span.icon-lock Free Code Camp on Twitter
            | &nbsp;
        span
            a.ion-social-facebook(title="Free Code Camp on Facebook", href="http://facebook.com/freecodecamp", target='_blank')
            span.icon-lock Free Code Camp on Facebook
            | &nbsp;
        span
            a.ion-social-linkedin(title="Free Code Camp on LinkedIn", href="http://linkedin.com/company/4831032?free-code-camp", target='_blank')
            span.icon-lock Free Code Camp on LinkedIn
            | &nbsp;
        span
            a.ion-information-circled(title="About Free Code Camp", href="/learn-to-code")
            span.icon-lock About Free Code Camp
            | &nbsp;
        span
            a.ion-locked(title="Free Code Camp's Privacy Policy", href="/privacy")
            span.icon-lock Free Code Camp's Privacy Policy
            | &nbsp;
        span
            a.ion-code-working(title="Code Editor Playground", href="/playground")
            span.icon-lock Code Editor Playground