#announcementModal.modal(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header.challenge-list-header New NodeSchool Challenges
                a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
            .modal-body
                h3.text-left Some of Code School's courses are no longer free. We're switching to NodeSchool.io for our Node.js and Express.js challenges.
                a.btn.btn-lg.btn-info.btn-block(name='_csrf', value=_csrf, aria-hidden='true', href='/nodeschool-challenges') Take me to these new challenges
                a.btn.btn-lg.btn-primary.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Thanks for the heads-up!

.fcc-footer
    .col-xs-12.hidden-xs.hidden-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank') &thinsp;Blog&thinsp;&thinsp;
        a.ion-social-twitch-outline(href="http://www.twitch.tv/freecodecamp", target='_blank') &thinsp;Twitch&thinsp;&thinsp;
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank') &thinsp;Github&thinsp;&thinsp;
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank') &thinsp;Twitter&thinsp;&thinsp;
        a.ion-information-circled(href="/learn-to-code") &thinsp;About&thinsp;&thinsp;
        a.ion-locked(href="/privacy") &thinsp;Privacy&thinsp;&thinsp;
    .col-xs-12.visible-xs.visible-sm
        a.ion-speakerphone(href='http://blog.freecodecamp.com', target='_blank')
            span.sr-only Free Code Camp's Blog
        a.ion-social-twitch-outline(href="http://www.twitch.tv/freecodecamp", target='_blank')
            span.sr-only Free Code Camp Live Pair Programming on Twitch.tv
        a.ion-social-github(href="http://github.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on GitHub
        a.ion-social-twitter(href="http://twitter.com/freecodecamp", target='_blank')
            span.sr-only Free Code Camp on Twitter
        a.ion-information-circled(href="/learn-to-code")
            span.sr-only About Free Code Camp
        a.ion-locked(href="/privacy")
            span.sr-only Free Code Camp's Privacy Policy