#footer
  ul.list-inline.pull-left
    li © 2014 Company, Inc.
    li
      a(href='#') Terms of Use
    li
      a(href='#') Privacy Policy
    li
      a(href='https://github.com/sahat/hackathon-starter') GitHub Project
    li
      a(href='https://github.com/sahat/hackathon-starter/issues') Issues
  ul.list-inline.pull-right

