.fcc-footer
    .col-xs-12
        a(href='http://blog.freecodecamp.com') Blog
        | &nbsp; &nbsp;
        a.ion-social-github(title="Free Code Camp on GitHub", href="http://github.com/freecodecamp", target='_blank')
        | &nbsp;
        a.ion-social-twitter(title="Free Code Camp on Twitter", href="http://twitter.com/freecodecamp", target='_blank')
        | &nbsp;
        a.ion-social-facebook(title="Free Code Camp on Facebook", href="http://facebook.com/freecodecamp", target='_blank')
        | &nbsp;
        a.ion-social-linkedin(title="Free Code Camp on LinkedIn", href="http://linkedin.com/company/4831032?free-code-camp", target='_blank')
        | &nbsp;
        a(href='/privacy') Privacy
