#github
script.
    (function() {
        $.ajax({
            url: '/api/github',
            type: 'GET'
        }).done(
                function(data) {
                    var github = document.createElement('div');
                    $(github).html('<h3>' + data.issues + ' GitHub issues are open. <a href="https://github.com/freecodecamp/freecodecamp/issues">(create one)</a></h3><h3>' + data.pulls + ' pull requests are open. <a href="https://github.com/freecodecamp/freecodecamp/pulls">(create one)</a></div></div>').prependTo($('#github'))
                }
        );
    })();