if message
  p= message

form(action='/login', method='post')
  div
    label Username:
    input(type='text', name='username')
    br
    div
      label Password:
      input(type='password', name='password')
    div
      input(type='submit', value='Submit')
  p
    small Hint - bob:secret
