title Building apps for non-profits.
meta(name='keywords', content='foo bar baz')
meta(content="Your free coding bootcamp. Learn JavaScript, build a portfolio, and get great references - all by helping non-profits!", property="og:title")
meta(content="FreeCodeCamp", property="og:site_name")
meta(content="http://www.freecodecamp.com", property="og:url")
meta(content="Your free coding bootcamp. Learn JavaScript, build a portfolio, and get great references - all by helping non-profits!", property="og:description")
meta(content="https://s3.amazonaws.com/courseforward/freecodecamp_logo.png", property="og:image")
meta(content="article", property="og:type")
meta(content="https://www.facebook.com/freecodecamp", property="article:publisher")
meta(content="Responsive", property="article:section")
//meta(content="44011818", property="fb:admins")
//Google
meta(content="Your free coding bootcamp. Learn JavaScript, build a portfolio, and get great references - all by helping non-profits!", name="description")
link(href="https://plus.google.com/114148836969274586544", rel="author")
//Twitter
meta(content="freecodecamp", name="twitter:creator")
meta(content="http://www.freecodecamp.com", name="twitter:url")
meta(content="freecodecamp", name="twitter:site")
meta(content="summary_large_image", name="twitter:card")
meta(content="Your free coding bootcamp. Learn JavaScript, build a portfolio, and get great references - all by helping non-profits!", name="twitter:title")
meta(content="https://s3.amazonaws.com/courseforward/freecodecamp_logo.png", name="twitter:image:src")
meta(content="Your free coding bootcamp. Learn JavaScript, build a portfolio, and get great references - all by helping non-profits!", name="twitter:description")
meta(content="a40ee5d5dba3bb091ad783ebd2b1383f", name="p:domain_verify")