meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
meta(name='keywords', content='learn to code, learn how to code, code, coding,  software engineer, software developer, mean stack, pair programming, node.js, angular.js, express.js, mongoDB, coding bootcamp')
meta(content="Free Code Camp is a community of busy people learning to code by collaborating on projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get great references with our coding bootcamp.", property="og:title")
meta(content="FreeCodeCamp", property="og:site_name")
meta(name='twitter:widgets:csp', content='on')
meta(name='p:domain_verify', content='d0bc047a482c03c24f1168004c2a216a')
meta(content="http://www.freecodecamp.com", property="og:url")
meta(content="Free Code Camp is a community of busy people learning to code by collaborating on projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get great references with our coding bootcamp.", property="og:description")
meta(content="https://pbs.twimg.com/profile_images/522961310212833280/XE6vGAaO.jpeg", property="og:image")
meta(content="article", property="og:type")
meta(content="https://www.facebook.com/freecodecamp", property="article:publisher")
meta(content="Responsive", property="article:section")
//meta(content="44011818", property="fb:admins")
//Google
meta(content="Free Code Camp is a community of busy people learning to code by collaborating on projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get great references with our coding bootcamp.", name="description")
link(href="https://plus.google.com/114148836969274586544", rel="author")
//Twitter
meta(content="freecodecamp", name="twitter:creator")
meta(content="http://www.freecodecamp.com", name="twitter:url")
meta(content="freecodecamp", name="twitter:site")
//meta(content="summary_large_image", name="twitter:card")
meta(content="Free Code Camp is a community of busy people learning to code by collaborating on projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get great references with our coding bootcamp.", name="twitter:title")
meta(content="https://pbs.twimg.com/profile_images/522961310212833280/XE6vGAaO.jpeg", name="twitter:image:src")
meta(content="Free Code Camp is a community of busy people learning to code by collaborating on projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get great references with our coding bootcamp.", name="twitter:description")
meta(content="a40ee5d5dba3bb091ad783ebd2b1383f", name="p:domain_verify")