nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg')
      #navbar
        ul.nav.navbar-nav.navbar-right.visible-md.visible-lg
          li
            a(href='/') Challenges
          - if (cc && cc[1] < 1)
            li
              a(href='/challenges/1') Chat
          - else
            li
              a(href='http://chat.freecodecamp.com') Chat
          - if (cc && cc[2] < 1)
            li
              a(href='/challenges/2') Forum
          - else
            li
              a(href='http://forum.freecodecamp.com') Forum
          li
            a(href='/learn-to-code') Buzz
          li
            a(href='/account') Account
          if !user
            a.btn.signup-btn.btn-nav.btn-sm(href='/login') Sign in
          else
            if user.profile.picture
              img.profile-picture.float-right(src='#{user.profile.picture}')
              | [&nbsp;#{user.points}&nbsp;]
            else
              img.profile-picture.float-right(src='#{user.gravatar(60)}')
              | [&nbsp;#{user.points}&nbsp;]
