nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg.gz', alt='learn to code javascript at Free Code Camp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown

            if user
                li
                    a(href='/challenges') Learn
            li
                a(href='/map') Map
            li
                a(href='//gitter.im/FreeCodeCamp/FreeCodeCamp', target='_blank') Chat
            li
                a(href='/news') News
            li
                a(href='/field-guide') Guide
            if !user
                li &thinsp; &thinsp; &thinsp;
                li
                    a.btn.signup-btn.signup-btn-nav(href='/login') Sign in
            else
                li
                    if (user.profile.username)
                        a(href='/' + user.profile.username) [&nbsp;#{user.progressTimestamps.length}&nbsp;]
                    else
                        a(href='/account') [&thinsp;#{user.progressTimestamps.length}&thinsp;]
                .hidden-xs.hidden-sm
                    if (user.profile.username)
                        a(href='/' + user.profile.username)
                            img.profile-picture.float-right(src='#{user.profile.picture}')
                    else
                        a(href='/account')
                            img.profile-picture.float-right(src='#{user.profile.picture}')
