h3
    ol#nonprofitsList
    script(src='/js/lib/ramda/ramda.min.js')
    script.
        var getLinkedName = function getLinkedName(name) {
            // ensure name is a string
            name = name + '';
            return name.toLowerCase().replace(/\s/g, '-');
        }
        $.ajax({
            url: '/wiki/getNonprofitsList',
            type: 'GET'
        })
                .success(
                function(data) {
                    var docfrag = document.createDocumentFragment();
                    for (var i = 0; i < data.nonprofitsList.length; i++) {
                        var li = document.createElement("li");
                        var linkedName = getLinkedName(data.nonprofitsList[i].name);
                        $(li).html("<a href='/nonprofits/" + linkedName + "'>" + data.wikiList[i].name + "</a></li>");
                        docfrag.appendChild(li);
                    };
                    $('#nonprofitsList').append(docfrag);
                });
