.panel.panel-primary
    .panel-heading.landing-panel-heading.text-center Free Code Camp Stats
    .panel-body
        .landing-panel-body.text-center
            .row
                .col-xs-6.text-right
                    h2 Days since we Launched:
                .col-xs-6.text-left
                    h2
                        = daysRunning
            .row
                .col-xs-6.text-right
                    h2 Nonprofit Projects:
                .col-xs-6.text-left
                    h2
                        a(href="https://trello.com/b/BA3xVpz9/nonprofit-projects")=nonprofitProjects
            .row
                .col-xs-6.text-right
                    h2 Total Code Campers:
                .col-xs-6.text-left
                    h2
                        = users
            .row
                .col-xs-6.text-right
                    h2 Code Campers with at least...
                .col-xs-6
            .row
                .col-xs-6.text-right
                    h2 2 Points:
                .col-xs-6.text-left
                    h2
                        = c2
            .row
                .col-xs-6.text-right
                    h2 4 Points:
                .col-xs-6.text-left
                    h2
                        = c4
            .row
                .col-xs-6.text-right
                    h2 9 Points:
                .col-xs-6.text-left
                    h2
                        = c9
            .row
                .col-xs-6.text-right
                    h2 19 Points:
                .col-xs-6.text-left
                    h2
                        = c19
            .row
                .col-xs-6.text-right
                    h2 29 Points:
                .col-xs-6.text-left
                    h2
                        = c29
            .row
                .col-xs-6.text-right
                    h2 39 Points:
                .col-xs-6.text-left
                    h2
                        = c39
            .row
                .col-xs-6.text-right
                    h2 All 54 Points:
                .col-xs-6.text-left
                    h2
                        = all