.panel.panel-primary
    .panel-heading.landing-panel-heading.text-center Free Code Camp Stats
    .panel-body
        .landing-panel-body.text-center
            .row
                .col-xs-6.text-right
                    h2 Days since we Launched:
                .col-xs-6.text-left
                    h2
                        = daysRunning
            .row
                .col-xs-6.text-right
                    h2 Nonprofit Projects:
                .col-xs-6.text-left
                    h2
                        =nonprofitProjects
                        | &nbsp
                        a(href="https://trello.com/b/BA3xVpz9/nonprofit-projects")  (view)
            .row
                .col-xs-6.text-right
                    h2 Code Campers with at least...
                .col-xs-6
            .row
                .col-xs-6.text-right
                    h2 3 Points:
                .col-xs-6.text-left
                    h2
                        = c3
            .row
                .col-xs-6.text-right
                    h2 10 Points:
                .col-xs-6.text-left
                    h2
                        = c10
            .row
                .col-xs-6.text-right
                    h2 30 Points:
                .col-xs-6.text-left
                    h2
                        = c30
            .row
                .col-xs-6.text-right
                    h2 All 54 Points:
                .col-xs-6.text-left
                    h2
                        = all