h3
    ol#wikiList
    script(src='/js/lib/ramda/ramda.min.js')
    script.
        var getLinkedName = function getLinkedName(name) {
            // ensure name is a string
            name = name + '';
            return name.toLowerCase().replace(/\s/g, '-').replace(/\?/g, '');
        }
        $.ajax({
            url: '/wiki/getWikiList',
            type: 'GET'
        })
        .success(
            function(data) {
                var docfrag = document.createDocumentFragment();
                for (var i = 0; i < data.wikiList.length; i++) {
                    var li = document.createElement("li");
                    // strike through wikis previously read
                    var linkedName = getLinkedName(data.wikiList[i].name);
                    if (data.completedWikis.indexOf(data.wikiIds[i]) > -1) {
                        $(li).html("<a class='strikethrough' href='/wiki/" + linkedName + "'>" + data.wikiList[i].name + "</a></li>");
                    } else {
                        $(li).html("<a href='/wiki/" + linkedName + "'>" + data.wikiList[i].name + "</a></li>");
                    }
                    docfrag.appendChild(li);
                };
            $('#wikiList').append(docfrag);
        });
