.not-found-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.not-found-wrapper img {
  width: 380px;
}

.quote-wrapper {
  background-color: var(--tertiary-background);
  padding-inline: 42px 20px;
  padding-block: 20px;
  border-width: 0;
  position: relative;
  max-width: 980px;
}

.quote-wrapper .quote {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 0.6em;
  text-align: left;
}

.quote-wrapper .quote::before {
  content: open-quote;
  font-size: 25px;
  font-weight: 700;
}

.quote-wrapper .author {
  text-align: right;
  margin: 0;
}

.button-wrapper {
  width: 100%;
  max-width: 635px;
}