h2
    ul#story-list Top Stories
        h3
            script(src="https://cdn.jsdelivr.net/ramda/0.10.0/ramda.min.js")
            script.
                var getLinkedName = function getLinkedName(name) {
                    return name.toLowerCase().replace(/\s/g, '-');
                }
                $.ajax({
                    url: '/stories/index',
                    type: 'GET'
                })
                        .success(
                        function(data) {
                            for (var i = 0; i < data.length; i++) {
                                var li  = document.createElement('li');
                                var linkedName = getLinkedName(data[i].headline);

                                $(li).html("<a href='/stories/" + linkedName + "'>" + data[i].headline + "</a></li>");
                                $(li).appendTo($('#story-list'));
                            }
                        });