h3
    ul#story-list.story-list

        script(src="https://cdn.jsdelivr.net/ramda/0.10.0/ramda.min.js")
        script.
            var getLinkedName = function getLinkedName(name) {
                return name.toLowerCase().replace(/\s/g, '-');
            }
            $.ajax({
                url: '/stories/index',
                type: 'GET'
            })
                    .success(
                    function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var li  = document.createElement('li');
                            var linkedName = getLinkedName(data[i].headline);
                            var rank = data[i].rank;

                            $(li).html("<div class='row text-left'>" +
                                            "<div class='col-xs-3 col-sm-1 big-ion-up-arrow'>" +
                                                "<i class='ion-arrow-up-b'></i>" +
                                            "</div>" +
                                            "<div class='col-xs-9 col-sm-11'>" +
                                                "<a href='/stories/" + linkedName + "'>"
                                                    + data[i].headline +
                                                "</a>" +
                                            "</div>" +
                                        "</div>" +
                                        "<div class='row text-left'>" +
                                            "<div class='col-xs-3 col-sm-1'>" + rank + "</div>" +
                                            "<div class='col-xs-9 col-sm-11'>" + data[i].author.username + "</div>" +
                                        "</div>" +
                            "</li>");
                            $(li).appendTo($('#story-list'));
                        }
                    });