extends ../layout
block content
    script.
        var challengeName = 'Story';
        var storyId = !{JSON.stringify(id)};
    .jumbotron
        .row
            .col-xs-2(style='position: relative; top: 50%; -webkit-transform: translateY(50%); -ms-transform: translateY(50%);transform: translateY(50%);')
                h3#storyRank= rank
            .col-xs-10.text-center
                h1= title
        .row
            .col-xs-2
                h3
                    a#upvote
                        i.ion-arrow-up-b
            .col-xs-10.text-center
                h3= body
    .row.negative-35
        h3.col-xs-12.col-md-6.col-lg-5.text-center Comments
    .row
        .col-xs-12.col-md-6.col-lg-5
            textarea#comment-box.form-control(name="comment-box", rows=5)
    .row
        include ./comments





//
    title: story.headline,
            dashedName: story.link,
            author: story.author,
            body: story.body,
            rank: story.rank,
            upVotes: story.upVotes,
            comments: story.comments