extends ../layout
block content
    .panel.panel-info
        .panel-body
            h3.text-center Commit to yourself. Commit to a nonprofit.
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                    p Are you looking for a burst of motivation? Do you want to help nonprofits before you’re ready to code for them? You can do both by pledging a monthly donation to a nonprofit until you've earned either your Front End or Full Stack Development certificate. Join Commit below or click "maybe later".
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3.text-center
                    h4 Our Featured Nonprofit
                    a(href="http://i.imgur.com/U1CyEuA.jpg" data-lightbox="img-enlarge")
                        img.img-responsive(src='http://i.imgur.com/U1CyEuA.jpg' alt="Girl Develop It participants coding at tables.")
                        p Girl Develop It is a nonprofit that provides in-person classes for women to learn to code.
                .spacer
            form.form
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        h4 Step 1: Choose your goal
                        .btn-group.btn-group-justified(data-toggle='buttons' role='group')
                            label.btn.btn-info.active
                                input(type='radio' id='front-end-development-certificate' name='goal')
                                | Front End Development Certificate (takes about 400 hours)
                            label.btn.btn-info
                                input(type='radio' id='full-stack-development-certificate' name='goal')
                                | Full Stack Development Certificate (takes about 800 hours)
                    .spacer
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        h4 Step 2: Choose how much you want to donate each month
                        .btn-group.btn-group-justified(data-toggle='buttons' role='group')
                            label.btn.btn-primary
                                input(type='radio' id='5-dollar-pledge' name='pledge-amount')
                                | $5 per month
                            label.btn.btn-primary.active
                                input(type='radio' id='10-dollar-pledge' name='pledge-amount')
                                | $10 per month
                            label.btn.btn-primary
                                input(type='radio' id='50-dollar-pledge' name='pledge-amount')
                                | $50 per month
                    .spacer
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        h4 Step 3: Commit
                        a.btn.btn-block.btn-primary(href='https://www.girldevelopit.com/donate') Commit
                        .button-spacer
                        a.btn.btn-block.btn-warning(href='/') Maybe later
                        .spacer
