extends ../layout
block content
    .panel.panel-info
        .panel-body
            h3.text-center You've commited!
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                  p Congratulations, you have commit to giving
                    span(style='text-transform: capitalize')  #{nonprofit}
                    |  #{amount} dollars a month until you have reached your goal
                    |  of completing your #{goal}
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                  img.img-responsive(src='http://i.imgur.com/U1CyEuA.jpg' alt="Girl Develop It participants coding at tables.")
                  p Girl Develop It is a nonprofit that provides in-person classes for women to learn to code.
