extends ../layout
block content
    script.
        var challengeName = 'Jobs View';
    .row

            .panel.panel-info
                .panel-heading.text-center Junior JavaScript Engineer Jobs
                .panel-body
                    .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
                        h2.text-center We want all our campers to get awesome software engineer jobs.
                        h2.text-center
                            a(href='https://www.linkedin.com/edu/school?id=166029' target='_blank') Many already have
                            | .
                        p.text-center.large-p.hidden-xs.hidden-sm This is a small sampling of the 1,000s of junior software engineer jobs. Learn about the &thinsp;
                            a(href='http://blog.freecodecamp.com/2014/10/the-real-reason-to-learn-mean-stack.html' target='_blank') the job market in aggregate
                            | .
                        .spacer

                        .text-center
                            a.btn.btn-primary.btn-big(href='/jobs-form') My organization is hiring software engineers
                        .spacer
                        .spacer
                        for job in jobs
                            .spacer
                            .row
                                .col-xs-12.col-sm-2
                                    img.img-responsive.img-center(src=job.logoUrl)
                                .col-xs-12.col-sm-10
                                    h2.negative-15= job.position
                                    h3.negative-15= job.company
                                    a.text-center.btn.btn-primary.btn-lg(href=job.postingUrl target='_blank') More info
                            .spacer
