extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Global Control Shortcuts for Mac
        h2 These Global Control Shortcuts for Mac will save you hours by speeding up your typing
        br
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='//player.vimeo.com/video/107073108')
        .text-left
            h3 These global shortcuts work everywhere on a Mac:
                ul
                    li Control + F = Forward
                    li Control + B = Backward
                    li Control + N = Next Line
                    li Control + P = Previous Line
                    li Control + H = Backspace
                    li Control + D = Delete
                    li Control + A = Beginning of Line
                    li Control + E = End of Line
                    li Control + K = Kill line
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br
