extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Deploy a Dynamic Website in 7 Minutes
        h2 Here's a fast and easy way to deploy a dynamic website to the internet
        br
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='//player.vimeo.com/video/115194017')
        .text-left
            h3 Use these links:
                ul
                    li
                        a(href='http://www.atom.io' target='_blank') http://www.atom.io
                        | &nbsp; - free text editor
                    li
                        a(href='http://www.startbootstrap.com' target='_blank') http://www.startbootstrap.com
                        | &nbsp; - free responsive (Bootstrap) templates
                    li
                        a(href='http://www.powr.io' target='_blank') http://www.powr.io
                        | &nbsp; - great plugins
                    li
                        a(href='http://www.bitballoon.com' target='_blank') http://www.bitballoon.com
                        | &nbsp; - drag-and-drop deployment
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br
