extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Congratulations on finishing the first 100 hours of Free Code Camp!
        h2 Now you're ready to continue your learning by building solutions for nonprofits!
        h3 Private message Quincy Larson in the Free Code Camp Chatroom and he'll help you get started on your first project.