extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Gmail Shortcuts
        h2 These Gmail Shortcuts will save you hours and help you get to Zero Inbox
        br
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='//player.vimeo.com/video/115194016')
        .text-left
            h3 The shortcuts:
                ul
                    li j - move down
                    li k - move up
                    li o - open
                    li r - reply
                    li a - reply all
                    li f - forward
                    li c - compose
                    li x - select
                    li e - archive
                    li ! - mark spam
                    li z - undo
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br
