extends ../layout-wide
block content
    .row
        .col-xs-12.col-sm-8.col-sm-offset-2.text-center
            h2 We want all our campers to get awesome software engineer jobs (
                a(href='https://www.linkedin.com/groups?viewMembers=&gid=6966827&sik=1432338555021' target='_blank') and many already have
                | ).
            h3.hidden-xs.hidden-sm This is a small sampling of the 1,000s of junior software engineer jobs. Learn about the &thinsp;
                a(href='http://blog.freecodecamp.com/2014/10/the-real-reason-to-learn-mean-stack.html') the job market in aggregate
                | .
            .spacer
            a.btn.btn-primary.btn-big(href='/jobs-form') My organization is hiring software engineers
    .spacer
    .embed-responsive.embed-responsive-4by3.hidden-xs.hidden-sm
        iframe.embed-responsive-item(src="http://freecodecamp.simply-partner.com" scrolling="no")
    .spacer
