extends ../layout
block content
    script.
        var challengeName = 'Learn to code'
    include ../partials/stats
    include ../partials/blog
    include ../partials/about
    include ../partials/faq