extends ../layout-wide
block content
    include ../partials/navbar-wide
    .panel
        .panel-body
            .landing-panel-body.text-center
                h1 Live Pair Programming
                h2 We live pair program every Tuesday from 9 pm to 10 pm EST (Eastern Standard Time).
                h2 Our next session will be January 27th, 2015 at 9 p.m. EST!
                h2 Watch the live stream below or on our &nbsp;
                    a(href="http://twitch.tv/freecodecamp", target='_blank') Twitch.tv channel
                    | .
                .row
                    .col-md-8.col-xs-12
                        .embed-responsive.embed-responsive-16by9
                            iframe(src='http://www.twitch.tv/freecodecamp/embed', frameborder='0', scrolling='no')
                    .col-md-4.col-xs-12
                        .visible-sm.visible-xs
                            .embed-responsive.embed-responsive-16by9
                                iframe(src='http://www.twitch.tv/freecodecamp/chat?popout=', frameborder='0', scrolling='no')
                        .visible-md.visible-lg
                            .embed-responsive.embed-responsive-twitch-chat
                                iframe(src='http://www.twitch.tv/freecodecamp/chat?popout=', frameborder='0', scrolling='no')

                h1 Previous Live Pair Programming Sessions
                .col-xs-12
                    .embed-responsive.embed-responsive-16by9.big-break
                        iframe.embed-responsive-item(src='//www.youtube.com/embed/_BErpDdmBOw')
                    h3.wrappable link: &nbsp;
                        a(href="http://www.youtube.com/watch/_BErpDdmBOw") http://www.youtube.com/watch/_BErpDdmBOw
                    .embed-responsive.embed-responsive-16by9.big-break
                        iframe.embed-responsive-item(src='//www.youtube.com/embed/Fn9HMn79KH0')
                    h3.wrappable link: &nbsp;
                        a(href="http://www.youtube.com/watch/Fn9HMn79KH0") http://www.youtube.com/watch/Fn9HMn79KH0
                    .embed-responsive.embed-responsive-16by9.big-break
                        iframe.embed-responsive-item(src='//www.youtube.com/embed/S7iRBZJwOAs')
                    h3.wrappable link: &nbsp;
                        a(href="http://www.youtube.com/watch/S7iRBZJwOAs") http://www.youtube.com/watch/S7iRBZJwOAs
                    .embed-responsive.embed-responsive-16by9.big-break
                        iframe.embed-responsive-item(src='//www.youtube.com/embed/BHNRg39ZblE')
                    h3.wrappable link: &nbsp;
                        a(href="http://www.youtube.com/watch/BHNRg39ZblE") http://www.youtube.com/watch/BHNRg39ZblE
                    .embed-responsive.embed-responsive-16by9.big-break
                        iframe.embed-responsive-item(src='//www.youtube.com/embed/YDfkHlDmehA')
                    h3.wrappable link: &nbsp;
                        a(href="http://www.youtube.com/watch/YDfkHlDmehA") http://www.youtube.com/watch/YDfkHlDmehA
                    h3 Got 3 minutes? Learn to code with us!
                    a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
                    br
                    br