extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Live Pair Programming
        h2 We live pair program every Tuesday from 6 p.m. to 7 p.m. (Pacific Time).
        h2 Our next session is January 6th, 2015.
        a.btn.btn-big.btn-primary.big-break(href="http://www.crowdcast.io/e/freecodecamp-live-pair-programming-3" target='_blank') Watch us Pair Program on JavaScript Algorithms
        h2 Previous Live Pair Programming Sessions
        .embed-responsive.embed-responsive-16by9.big-break
            iframe.embed-responsive-item(src='//www.youtube.com/embed/cBtysq16kqo')
        .embed-responsive.embed-responsive-16by9.big-break
            iframe.embed-responsive-item(src='//www.youtube.com/embed/19pP2pvZuBs')
        h3 Got 3 minutes? Learn to code with us!
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br