extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Live Pair Programming
        h2 We live pair program every Tuesday from 6 p.m. to 7 p.m. (Pacific Time). Our next session is December 30th.
        br
        a.btn.btn-cta.signup-btn.btn-primary(href="http://www.crowdcast.io/e/freecodecamp-live_2" target='_blank') Watch our most recent pair programming video
        p Got 3 minutes? Start learning to code with us!
        br
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br