extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Free Code Camp Stats
        .row
            .col-xs-6.text-right
                h2 Days since we Launched:
            .col-xs-6.text-left
                h2
                    = daysRunning
        .row
            .col-xs-6.text-right
                h2 Nonprofit Projects:
            .col-xs-6.text-left
                h2
                    a(href="https://trello.com/b/BA3xVpz9/nonprofit-projects") 14
        .row
            .col-xs-6.text-right
                h2 Total Code Campers:
            .col-xs-6.text-left
                h2
                    = users
        .row
            .col-xs-6.text-right
                h2 Code Campers with at least...
            .col-xs-6
        .row
            .col-xs-6.text-right
                h2 2 Points:
            .col-xs-6.text-left
                h2
                    = c2
        .row
            .col-xs-6.text-right
                h2 4 Points:
            .col-xs-6.text-left
                h2
                    = c4
        .row
            .col-xs-6.text-right
                h2 9 Points:
            .col-xs-6.text-left
                h2
                    = c9
        .row
            .col-xs-6.text-right
                h2 19 Points:
            .col-xs-6.text-left
                h2
                    = c19
        .row
            .col-xs-6.text-right
                h2 29 Points:
            .col-xs-6.text-left
                h2
                    = c29
        .row
            .col-xs-6.text-right
                h2 39 Points:
            .col-xs-6.text-left
                h2
                    = c39
        .row
            .col-xs-6.text-right
                h2 49 Points:
            .col-xs-6.text-left
                h2
                    = c49
        .row
            .col-xs-6.text-right
                h2 All 60 Points:
            .col-xs-6.text-left
                h2
                    = c59