extends ../layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Free Code Camp Stats
        .row
            .col-xs-6.text-right
                h2 Days since we Launched:
            .col-xs-6.text-left
                h2
                    = daysRunning
        .row
            .col-xs-6.text-right
                h2 Nonprofit Projects:
            .col-xs-6.text-left
                h2
                    a(href="https://trello.com/1/boards/BA3xVpz9") 14
        .row
            .col-xs-6.text-right
                h2 Total users:
            .col-xs-6.text-left
                h2
                    = users
        .row
            .col-xs-6.text-right
                h2 Users with > 2 Points:
            .col-xs-6.text-left
                h2
                    = c2
        .row
            .col-xs-6.text-right
                h2 Users with > 4 Points:
            .col-xs-6.text-left
                h2
                    = c4
        .row
            .col-xs-6.text-right
                h2 Users with > 9 Points:
            .col-xs-6.text-left
                h2
                    = c9
        .row
            .col-xs-6.text-right
                h2 Users with > 19 Points:
            .col-xs-6.text-left
                h2
                    = c19
        .row
            .col-xs-6.text-right
                h2 Users with > 29 Points:
            .col-xs-6.text-left
                h2
                    = c29
        .row
            .col-xs-6.text-right
                h2 Users with > 39 Points:
            .col-xs-6.text-left
                h2
                    = c39
        .row
            .col-xs-6.text-right
                h2 Users with > 49 Points:
            .col-xs-6.text-left
                h2
                    = c49
        .row
            .col-xs-6.text-right
                h2 Users with > 59 Points:
            .col-xs-6.text-left
                h2
                    = c59