include font
#name.cert-name= name
img#cert.img-abs(src='http://i.imgur.com/yBKoMVP.jpg')
.cert-date= date
.cert-link verify this certification at: http://freecodecamp.com/#{username}/back-end-certification
include script
