style.
  @font-face {
    font-family: "Sax Mono";
    src: url("/fonts/saxmono.ttf") format("truetype");
  }

  body {
    display: inline-block;
    font-family: "Sax Mono", monospace;
    margin: 0;
    position: absolute;
    text-align: center;
  }

  .img-abs {
    left 0;
    position: relative;
    top: 0;
    width: 2000px
  }

  .cert-name {
    font-size: 64px;
    left: 1000px;
    position: absolute;
    top: 704px;
    z-index: 1000;
  }

  .cert-date {
    font-size: 60px;
    left: 760px;
    position: absolute;
    top: 1004.8px;
    z-index: 1000;
  }

  .cert-link {
    font-size: 22px;
    left: 120px;
    position: absolute;
    top: 1488px;
    z-index: 1000;
  }

