include font
#name.cert-name= name
img#cert.img-abs(src='https://s3.amazonaws.com/fccimg/ToFZKBd.jpg')
.cert-date= date
.cert-link verify this certification at: http://freecodecamp.com/#{username}/front-end-certification
include script
