.challenge-instructions blockquote {
  background-color: var(--tertiary-background);
  color: var(--tertiary-color);
  padding: 10px;
  width: 100%;
  margin: 0;
  margin-bottom: 1.45rem;
  font-size: 0.9rem;
}

#description p,
#instructions p,
#notes p,
#description ul,
#instructions ul,
#notes ul,
#description ol,
#instructions ol,
#notes ol {
  font-family: 'Roboto', sans-serif;
  font-size: 0.889rem;
  line-height: 1.334rem;
}
