.alert > p > strong {
  color: inherit;
}

.fa-circle-exclamation {
  font-size: 3rem;
  padding-bottom: 10px;
}

.help-modal-heading {
  line-height: 1.5;
  font-weight: 400;
  word-spacing: -0.4ch;
}

.chars-left {
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .help-modal .btn-lg {
    font-size: 16px;
  }
}

a {
  text-align: left;
}

.help-modal-body legend {
  color: var(--secondary-color);
}
