.challenge-preview,
.challenge-preview-frame {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;
}

.enable-iframe {
  pointer-events: auto;
}

.disable-iframe {
  pointer-events: none;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
