.MathJax,
.MathJax_SVG,
.MathJax_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.instructions-panel {
  padding: 0 32px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.instructions-panel .challenge-instructions:first-child {
  padding-top: 32px;
}

.instructions-panel::-webkit-scrollbar-track {
  background: transparent;
}
.instructions-panel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.instructions-panel::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
}

.instructions-panel::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

.all-rights-link {
  text-align: right;
  margin-bottom: 32px;
}

.all-rights-link a,
.all-rights-link a:hover {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.667rem;
  line-height: 1rem;
  color: var(--tc-link-blue-dark);
  background: transparent;

  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.test-area-wrap {
  margin: 16px -16px;
  padding: 32px 16px;

  background: var(--tc-black-5);
  border-radius: 4px;
}
