.MathJax,
.MathJax_SVG,
.MathJax_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.instructions-panel {
  padding: 0 10px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#mobile-layout-pane-instructions > .instructions-panel {
  height: auto;
  overflow-y: none;
}
