.MathJax,
.MathJax_SVG,
.MathJax_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.instructions-panel {
  padding: 0 10px;
  theyight: 100%;
  width: 100%;
  overflow-y: auto;
}
