.challenge-test-suite {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 6px 0 16px;
}

.challenge-test-suite code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.test-result {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.test-result:first-of-type {
  margin-top: -8px;
}

.test-output {
  padding: 8px 10px;
}

.test-output p {
  margin: 0;
}

.test-status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 41px;
}
