.challenge-test-suite {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15px;
}

.test-result {
  display: flex;
  width: 100%;
  align-items: center;
}

.test-result:nth-child(odd) {
  background-color: var(--tertiary-background);
}

.test-output {
  margin-left: 15px;
}

.test-status-icon {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.test-status-icon > svg {
  width: 50px;
  height: 50px;
}
