doctype html
html
  head
    title The page you were looking for doesn't exist (404)
    style.
      body {
        background-color: #EFEFEF;
        color: #2E2F30;
        text-align: center;
        font-family: arial, sans-serif;
      }
      div.dialog {
        width: 25em;
        margin: 4em auto 0 auto;
        border: 1px solid #CCC;
        border-right-color: #999;
        border-left-color: #999;
        border-bottom-color: #BBB;
        border-top: #8CC84B solid 4px;
        border-radius: 9px;
        background-color: white;
        padding: 7px 4em 0 4em;
      }
      h1 {
        font-size: 100%;
        color: #480;
        line-height: 1.5em;
      }
      body > p {
        width: 33em;
        margin: 0 auto 1em;
        padding: 1em 0;
        background-color: #F7F7F7;
        border: 1px solid #CCC;
        border-right-color: #999;
        border-bottom-color: #999;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-color: #DADADA;
        color: #666;
        box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);
      }
  body
    .dialog
      h1 404 Not Found
      p The page you were looking for doesn't exist.
