extends layout

block content
  h2 API Browser

  ul.list-unstyled.lead
    li
      a(href='/api/foursquare') Foursquare
    li
      a(href='/api/tumblr') Tumblr
    li
      a(href='/api/facebook') Facebook
    li
      a(href='/api/facebook') Facebook
    li
      a(href='/api/facebook') Facebook


        Sendgrid
        Facebook
        Rdio
        Tumblr
        Twitter
        Twilio
        Etsy
        Foursquare
        New York Times
        github
