extends layout

block content
  h2 API Browser

  ul.list-unstyled.lead
    li
      a(href='/api/foursquare') Foursquare
    li
      a(href='/api/tumblr') Tumblr
    li
      a(href='/api/facebook') Facebook
    li
      a(href='/api/rdio') Rdio
    li
      a(href='/api/twitter') Twitter
    li
      a(href='/api/twilio') Twilio
    li
      a(href='/api/etsy') Etsy
    li
      a(href='/api/nyt') New York Times
    li
      a(href='/api/github') GitHub
