extends layout
block content
    .jumbotron
        script(src='//widget-prime.rafflecopter.com/launch.js')
        a#rcwidget_a7khonhd.rcptr(href='http://www.rafflecopter.com/rafl/display/d70901b10/', rel='nofollow', data-raflid='d70901b10', data-theme='classic', data-template='') a Rafflecopter giveaway


