extends layout

block content
  .jumbotron
      h1.animated.lightSpeedIn.text-center We'll code software solutions for your nonprofit, for free!
      .animated.fadeIn.delay-2.landing-panel-body
          h3 Our students will help you build that donor tracking system, community message board, or whatever your organization needs,&nbsp;
            strong at no cost.
          h3 In exchange, we ask only that you:
              h4
                  ul
                      li &#8226 meet with them regularly to provide direction and answer questions.
                      li &#8226 clearly communicate your project's goals: what will this project solve, and for whom?
                      li &#8226 understand that they will build your project using JavaScript frameworks (as opposed to older or proprietary tools)
                      li &#8226 keep your expectations high. Our students' goal is to produce work that's up to your standards.
          h3 If you're OK with these terms, great! We'd love to help you! Fill in this form and we'll get right back to you.
          form.form-horizontal(role='form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(class='col-sm-2 control-label', for='name') Your name
              .col-sm-8
                input.form-control(type='text', name='name', id='name')
            .form-group
              label(class='col-sm-2 control-label', for='email') Your email
              .col-sm-8
                input.form-control(type='text', name='email', id='email')
            .form-group
              label(class='col-sm-2 control-label', for='message') Briefly describe what problem you need to solve, and for whom.
              .col-sm-8
                textarea.form-control(type='text', name='message', id='message', rows='7')
            .form-group
              .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                  span.ion-paper-airplane
                  | Submit
