extends layout

block content
  .col-sm-8.col-sm-offset-2
    h3 Contact Form
    form(role='form', method='POST')
      .form-group
        .row
          .col-xs-6.col-sm-6.col-md-6
            label(for='firstName') First Name
            input.form-control(type='text', name='firstName', id='firstName')
          .col-xs-6.col-sm-6.col-md-6
            label(for='lastName') Last Name
            input.form-control(type='text', name='lastName', id='lastName')
      .form-group
        label(for='email') Email
          span.text-danger *
        input.form-control(type='email', name='email', id='email')
      .form-group
        label(for='contactBody') Body
          span.text-danger *
        textarea.form-control(type='text', name='contactBody', id='contactBody', rows='7')
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-location-arrow
          |  Send
        button.btn.btn-link(disabled='') Powered by SendGrid
    if messages.length
      .alert.alert-danger
        for message in messages
          div= message