extends layout
block content
    .jumbotron
        .text-center
            h1 Become a Software Engineer
            h2 Learn to code by collaborating on projects for non-profits
            .row
                .col-xs-12.col-sm-12.col-md-4
                    h3 Technical Mastery
                    img.img-center.three-by-three.img-responsive(src="images/tools.svg")
                    p You'll learn to code by pair programming (where two people code together on one computer) on our coding challenges.
                .col-xs-12.col-sm-12.col-md-4
                    h3 Unique Portfolio Projects
                    img.img-center.three-by-three.img-responsive(src="images/portfolio.svg")
                    p You'll apply your new coding skills by building software solutions for non-profits.
                .col-xs-12.col-sm-12.col-md-4
                    h3 Glowing References
                    img.img-center.three-by-three.img-responsive(src="images/references.svg")
                    p You'll gain the respect of your peers and the people you help. These connections will help you land the job.
            a.btn.btn-cta.btn-warning(href="/login") Sign in now to get started (it's free)
            br
            br
            a.btn.btn-success(href="/contact") I'm with a non-profit and want free help from a Software Engineer
    br
    .jumbotron
        .text-left
            h1.text-center Frequently Asked Questions
            h2 What will I learn, and in what sequence?
            ul
                p First, you'll learn basic web design tools like:
                    ul
                        li &#8226 HTML - the structure of web pages
                        li &#8226 CSS - the design of web pages
                        li &#8226 Bootstrap - a "responsive design" tool that helps your websites look great on tablets and phones
                        li &#8226 jQuery - an easy tool for controlling content in the browser
                p Then you'll learn computer science and the art of programming:
                    ul
                        li &#8226 JavaScript - the programming language that all web browsers use
                        li &#8226 Linux - the most popular operating system for servers (but you don't need to learn desktop Linux)
                        li &#8226 Git - the best way to save and share your projects
                        li &#8226 Databases - SQL is like a giant spread sheet that stores and retrieves your data
                        li &#8226 Algorithms - these are basically step-by-step recipies for getting things done
                p You'll spend the last half of Free Code Camp using Agile Methodologies and Full Stack JavaScript to build projects for non-profits:
                    ul
                        li &#8226 Agile - a set of software development principles that focus the design and production of a project on the needs of its users.
                        li &#8226 MongoDB - a popular non-relational database
                        li &#8226 AngularJS - a tool for making exciting web interfaces
                        li &#8226 ExpressJS - a powerful web development framework
                        li &#8226 NodeJS - a JavaScript-based web server
            h2 How will I learn all this?
            ul
                p By pair programming with other Free Code Camp students on our coding challenges. We've also built an optional curriculum of the best free courses on the web. Eventually, you'll work with people at non-profits to build real-life software solutions.
            h2 What is 'pair programming', and what's so special about it?
            ul
                p Pair programming is where two software engineers share one computer and write code together. They discuss different problem solving approaches, and keep each other motivated. The result is better code than either engineer could have written by themselves. Because of its benefits, many engineers pair program full time. And it's the best way to learn coding.
            h2 How long does Free Code Camp take?
            ul
                p It takes about 1,000 hours of coding to develop the skills you'll need to get an entry level software engineering job. Many in-person coding bootcamps jam all this into 12 weeks of intensive study. Free Code Camp is fully-online, and there will always be other people at your skill level that you can pair program with, so you can learn at your own pace. Here are some example coding schedules:
                table.table
                    th Time budgeted
                    th Hours per week
                    th Weeks to complete
                    tr.info
                        td Weekends
                        td 10 hours/week
                        td 100 weeks (2 years)
                    tr.success
                        td Nights and Weekends
                        td 20 hours/week
                        td 50 weeks (1 year)
                    tr.warning
                        td Full time
                        td 40 hours/week
                        td 25 weeks (6 months)
                    tr.danger
                        td Traditional Bootcamp Pacing
                        td 80 hours/week
                        td 12 weeks (3 months)
            h2 Why does Free Code Camp use JavaScript instead of Ruby or Python?
            ul
                p We love Python and Ruby. But even if you learn them, you'll still need to learn JavaScript. JavaScript is the most important language of all - it's the language of web browsers. It's also the most popular language.
            br
            img.img-center.img-responsive(src="http://dberkholz-media.redmonk.com/dberkholz/files/2014/04/github_new_repos-custom.png", style="max-height: 300px;")
            h2 Will I really be able to job afterward?
            ul
                p At the end of Free Code Camp, you will have pair programmed around 1,000 hours with dozens of other students, built a portfolio of projects that people are actively using, and a roster of glowing references from non-profits you've helped. 75% of bootcamp graduates get software engineering jobs, and make an average annual salary of $76,000.
            img.img-center.img-responsive(src="https://www.evernote.com/shard/s116/sh/4bb05639-d86c-4c15-b3a8-e4a43fa22d89/7cf00ed01124fac6e6741b97f8fb9e6f/deep/0/https---www.coursereport.com-2014-graduate-survey.pdf.png")
            h2 Do you have job placement services?
            ul
                p Yes. We work with reputable technical recruitment firms and can help you find a good job.
            h2 Is this really free? Do you claim part of my first year's salary like some bootcamps do?
            ul
                p Our name is Free Code Camp. We are a free code camp. If you had to pay us (or sign over future earnings), we'd have to change our name. And we are not going to do that.
            h2 Does Free Code Camp have an application process?
            ul
                p Unlike most bootcamps, anyone can study at Free Code Camp. We're not going to tell you that you can't become a software engineer. We believe the only person who should be able to tell you that is you. If you perservere, and keep working through our challenges and non-profits' projects, you will become an employable software engineer.
        br
        .text-center
            a.btn.btn-cta.btn-warning(href="/login") Sign in now to get started (it's free)