extends layout
block content
    .jumbotron
        .text-center
            .animated.pulse
                h2.big-text Learn to Code
            .delay-1.animated.pulse.slow-animation
                h2 Become an Employable Software Engineer by Collaborating on Projects for Nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-4
                    h3.delay-3.animated.pulse Technical Mastery
                    .negative-10
                    span.landing-icon.ion-settings.text-primary(title='Learn to code')
                    .negative-10
                    p You'll learn to code by pair programming (where two people code together on one computer) through our coding challenges.
                .col-xs-12.col-sm-12.col-md-4
                    h3.delay-4.animated.pulse Unique Portfolio Projects
                    .negative-10
                    span.landing-icon.ion-social-github.text-primary(title='Build a portfolio of apps for nonprofits')
                    .negative-10
                    p You'll use your new coding skills to build software solutions for nonprofits. Your portfolio projects will have grateful users.
                .col-xs-12.col-sm-12.col-md-4
                    h3.delay-5.animated.pulse Glowing References
                    .negative-10
                    span.landing-icon.ion-thumbsup.text-primary(title='Get great references and connections to help you get a job')
                    .negative-10
                    p You'll gain the respect of your peers and the nonprofits you help. These types of connections are critical to your job search.
            a.btn.btn-cta.btn-primary(href="/login") Sign in now to start coding (it's free)
            br
            br
            a.btn.nonprofit-cta.btn-success(href="/nonprofits") I'm with a nonprofit and want help coding something
    br
    include partials/faq
    br
    .text-center
        a.btn.btn-cta.btn-primary(href="/login") Sign in now to start coding (it's free)
    br