extends layout
block content
    .jumbotron
        .text-center
            h1.hug-top Code with Us
            h2 Let's learn to code by building projects for nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Get Connected
                    .negative-45
                    span.landing-icon.ion-network.text-primary(title='Get great references and connections to help you get a job')
                    .negative-45
                    p.landing-p Join a community of motivated professionals learning to code.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Learn JavaScript
                    .negative-45
                    span.landing-icon.ion-settings.text-primary(title='Learn to code')
                    .negative-45
                    p.landing-p Work together on Full Stack JavaScript coding challenges.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Build your Portfolio
                    .negative-45
                    span.landing-icon.ion-social-github.text-primary(title='Build a portfolio of apps for nonprofits')
                    .negative-45
                    p.landing-p Build apps that solve real problems for real people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Help Nonprofits
                    .negative-45
                    span.landing-icon.ion-ios-people.text-primary(title='Help nonprofits')
                    .negative-45
                    p.landing-p Give nonprofits a boost by empowering them with code.
            a.btn.btn-cta.signup-btn(href="/login") Start learning to code (it's free)
            br
            br
            a.btn.nonprofit-cta.btn-success(href="/nonprofits") I'm with a nonprofit and want help coding something
            .big-break
            h2 Campers you'll hang out with
            .row
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-alec.jpg", alt="@AlecMHansen's testimonial image")
                    .testimonial-copy  My boss was impressed by the troubleshooting I learned through FreeCodeCamp and I just got a raise! Sweet!
                    h3 - @AlecMHansen
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-cynthia.jpg", alt="@cynthialanel's testimonial image")
                    .testimonial-copy  I'm currently working through Free Code Camp to improve my JavaScript. The community is very welcoming!
                    h3 - @cynthialanel
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-tate.jpg", alt="@TateThurston's testimonial image")
                    .testimonial-copy Just built my company's website with skills I've learned from Free Code Camp!
                    h3 - @TateThurston
            .big-break
            h2 Skills you'll learn
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-html5
                .col-sm-6.col-xs-9.text-left
                    .black-text HTML5
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-css3
                .col-sm-6.col-xs-9.text-left
                    .black-text CSS3
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-javascript
                .col-sm-6.col-xs-9.text-left
                    .black-text JavaScript
            .row
                .col-sm-6.col-xs-3.text-right
                    i.landing-skill-icon.fa.fa-database(style="margin-top: 10px; margin-left: 10px;")
                .col-sm-6.col-xs-9.text-left
                    .black-text Databases
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-chrome
                .col-sm-6.col-xs-9.text-left
                    .black-text DevTools
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-nodejs
                .col-sm-6.col-xs-9.text-left
                    .black-text Node.js
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-social-angular
                .col-sm-6.col-xs-9.text-left
                    .black-text Angular.js
            .row
                .col-sm-6.col-xs-3.text-right
                    .landing-skill-icon.ion-ios-loop-strong
                .col-sm-6.col-xs-9.text-left
                    .black-text Agile
            .big-break
            h2 Fast Facts about our Community
            h3.col-sm-offset-1.col-sm-offset-0
                ul.text-left
                    li.ion-code &nbsp; 100% free and open source
                    li.ion-code &nbsp; 1,000's of professionals actively learning to code
                    li.ion-code &nbsp; 10's of nonprofit partners
                    li.ion-code &nbsp; 1 goal: to boost your career with code

            a.btn.btn-cta.signup-btn(href="/login") Start learning to code (it's free)