extends layout
block content
    .jumbotron
        .text-center
            h1.hug-top Code with Us
            h2 Let's learn to code by building projects for nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Get Connected
                    .negative-45
                    span.landing-icon.ion-network.text-primary(title='Get great references and connections to help you get a job')
                    .negative-45
                    p.landing-p Join a community of motivated professionals learning to code.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Learn JavaScript
                    .negative-45
                    span.landing-icon.ion-settings.text-primary(title='Learn to code')
                    .negative-45
                    p.landing-p Work together on Full Stack JavaScript coding challenges.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Build your Portfolio
                    .negative-45
                    span.landing-icon.ion-social-github.text-primary(title='Build a portfolio of apps for nonprofits')
                    .negative-45
                    p.landing-p Build apps that solve real problems for real people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Help Nonprofits
                    .negative-45
                    span.landing-icon.ion-ios-people.text-primary(title='Help nonprofits')
                    .negative-45
                    p.landing-p Give nonprofits a boost by empowering them with code.
            a.btn.btn-cta.signup-btn(href="/login") Start learning to code (it's free)
            br
            br
            a.btn.nonprofit-cta.btn-success(href="/nonprofits") I'm with a nonprofit and want help coding something
            .big-break
            h2 Campers you'll hang out with
            .row
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-jen.jpg", alt="@jenthebest's testimonial image")
                    .testimonial-copy Getting back on track with Free Code Camp and committing to a new career in 2015!
                    h3 - @jenthebest
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-tate.jpg", alt="@TateThurston's testimonial image")
                    .testimonial-copy Just built my company's website with skills I've learned from Free Code Camp!
                    h3 - @TateThurston
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-cynthia.jpg", alt="@cynthialanel's testimonial image")
                    .testimonial-copy  I'm currently working through Free Code Camp to improve my JavaScript. The community is very welcoming!
                    h3 - @cynthialanel
            .big-break
            h2 Skills you'll learn
            .text-center
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-html5
                    .black-text HTML5
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-css3
                    .black-text CSS3
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-javascript
                    .black-text JavaScript
                .col-sm-3.col-xs-12
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    .black-text Databases
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-chrome
                    .black-text DevTools
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-nodejs
                    .black-text Node.js
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-social-angular
                    .black-text Angular.js
                .col-sm-3.col-xs-12
                    .landing-skill-icon.ion-ios-loop-strong
                    .black-text Agile
            .big-break
            h2 Skills you'll learn
            .big-break
            h2 &nbsp;
            h2 Fast facts about our community
            h3.col-xs-offset-0.col-sm-offset-1.col-md-offset-2
                ul.text-left
                    li.ion-code &nbsp; 100% free and open source
                    li.ion-code &nbsp; Thousands of professionals actively learning to code
                    li.ion-code &nbsp; Dozens of nonprofit partners
                    li.ion-code &nbsp; One goal: to boost your career with code
            .big-break
            a.btn.btn-cta.signup-btn(href="/login") Start learning to code (it's free)