extends layout
block content
    .text-center.jumbotron
        h1 Become a Software Engineer
        h2 Our free online coding bootcamp will help you land your first coding job!
        .row
            .col-xs-12.col-sm-12.col-md-4
                h3 Technical Mastery
                img.img-center.three-by-three.img-responsive(src="images/tools.svg")
                p Pair program your way through our courses and coding challenges.
            .col-xs-12.col-sm-12.col-md-4
                h3 Unique Portfolio Projects
                img.img-center.three-by-three.img-responsive(src="images/portfolio.svg")
                p Contribute to Open Source Software. Work closely with non-profits and solve their problems with code.
            .col-xs-12.col-sm-12.col-md-4
                h3 Glowing References
                img.img-center.three-by-three.img-responsive(src="images/references.svg")
                p Gain the esteem of your peers and the people you help.
        a.btn.btn-cta.btn-primary(href="/login") Sign in now to get started (it's free)
        br
        br
        a.btn.btn-primary(href="/nonprofit") I'm with a non-profit and want help from a Software Engineer

//    script(src='https://cdn.firebase.com/js/client/1.0.21/firebase.js')
//    script(src='https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js')
//    script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.js')
//    script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/javascript/javascript.js')
//    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css')
//    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
//    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firepad/1.0.0/firepad.css')
//    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firepad/1.0.0/firepad.css')
//    script(src='https://cdn.firebase.com/libs/firepad/1.0.0/firepad.min.js')
//    link(rel='stylesheet', href='css/firechat-default.css')
//    script(src='js/firechat-default.js')
//    #firepad-container
//    #firechat-wrapper
//      a(href='#', onclick='auth.login("twitter");') Login