extends layout
block content
    a(href='https://github.com/freecodecamp/freecodecamp')
        img(style='position: absolute; top: 40; right: 0; border: 0; margin-top: -10px;', src='https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png')
    .jumbotron.negative-15
        .text-center
            h1.hug-top Code with Us
            h2 Let's learn to code by building projects for nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Get Connected
                    .negative-45
                    span.landing-icon.ion-network.text-primary(title='Get great references and connections to help you get a job')
                    .negative-45
                    p.landing-p Join a community of motivated professionals learning to code.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Learn JavaScript
                    .negative-45
                    span.landing-icon.ion-settings.text-primary(title='Learn to code')
                    .negative-45
                    p.landing-p Work together on Full Stack JavaScript coding challenges.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Build your Portfolio
                    .negative-45
                    span.landing-icon.ion-social-github.text-primary(title='Build a portfolio of apps for nonprofits')
                    .negative-45
                    p.landing-p Build apps that solve real problems for real people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Help Nonprofits
                    .negative-45
                    span.landing-icon.ion-ios7-people.text-primary(title='Help nonprofits')
                    .negative-45
                    p.landing-p Give nonprofits a boost by empowering them with code.
            a.btn.btn-cta.signup-btn(href="/login") Start learning to code (it's free)
            br
            br
            a.btn.nonprofit-cta.btn-success(href="/nonprofits") I'm with a nonprofit and want help coding something

    br
    include partials/about-us
    br
    include partials/faq