!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/todc-bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='/js/lib/angular.js')
    script(src='/js/lib/angular-route.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')
    script(src='/js/directives.js')
