!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/todc-bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
