doctype html
html(ng-app='profileValidation', lang='en')
  head
    include partials/universal-head
    != css('main')
  body.top-and-bottom-margins
    include partials/css-cdns
    include partials/navbar-narrow
    .container
      include partials/flash
      block content
    include partials/footer
    != js('application')
