extends layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Live Pair Programming
        h2 Watch Quincy Larson and Berkeley Martinez pair program on CoderByte challenges live Tuesday, December 16 from 6 p.m. to 7 p.m., Pacific Standard Time.
        h3 Check back here for details. And follow &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=FreeCodeCamp' target='_blank') @FreeCodeCamp
            | , &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=ossia' target='_blank') @ossia
            | &nbsp; and &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=BerkeleyTrue' target='_blank') @BerkeleyTrue
            | &nbsp; on Twitter.
        p Got 3 minutes? Watch this funny video about pair programming, then start learning to code with us!
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='//www.youtube.com/embed/dYBjVTMUQY0', frameborder='0', allowfullscreen='')
        br
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br