extends layout
block content
    .jumbotron.negative-15.text-center
        h1.hug-top Live Pair Programming
        h2 Watch Quincy Larson and Berkeley Martinez pair program on CoderByte challenges NOW (6 - 7 pm Pacific time):
        br
        a.btn.btn-cta.signup-btn.btn-primary(href="http://www.crowdcast.io/e/freecodecamp-live_2" target='_blank') Click here to watch!
        h3 . And follow &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=FreeCodeCamp' target='_blank') @FreeCodeCamp
            | , &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=ossia' target='_blank') @ossia
            | &nbsp; and &nbsp;
            a(href='http://twitter.com/intent/user?screen_name=BerkeleyTrue' target='_blank') @BerkeleyTrue
            | &nbsp; on Twitter.
        p Got 3 minutes? Start learning to code with us!
        br
        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
        br