extends layout

block content
  if message
    p= message

  .main
    h3
      | Please Login, or&nbsp;
      a(href='/signup') Sign Up
    .row
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-lg.btn-primary.btn-block(href='#') Facebook
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-lg.btn-info.btn-block(href='#') Google
    .login-or
      hr.hr-or
      span.span-or or
    form(role='form', method='POST')
      .form-group
        label(for='email') Email
        input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus='')
      .form-group
        a.pull-right(href='#') Forgot password?
        label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .checkbox.pull-right
        label
          input(type='checkbox')
          | Remember me
      button.btn.btn.btn-primary(type='submit')
        | Log In