extends layout

block content
  if message
    p= message

  .main
    h3 Signup Form
    form(role='form')
      .form-group
        .row
          .col-xs-6.col-sm-6.col-md-6
            label(for='firstName') First Name
            input.form-control(name='firstName', type='text', autofocus='')
          .col-xs-6.col-sm-6.col-md-6
            label(for='lastName') Last Name
            input.form-control(name='lastName', type='text')
      .form-group
        label(for='email') Email
        input.form-control(type='email', name='email', id='email')
      .form-group
        label(for='password') Password
        input.form-control(type='password', name='password', id='password')
      .form-group
        label(for='confirmPassword') Confirm Password
        input.form-control(type='password', id='confirmPassword')
      button.btn.btn.btn-primary(type='submit') Signup