extends layout

block content
  if messages.length
    .alert.alert-danger
      for message in messages
        div= message

  form.form-horizontal(method='POST')
    legend Signup
    .form-group
      label.col-sm-3.control-label(for='username') Email
      .col-sm-7
        input.form-control(type='email', name='username', id='username', placeholder='Email', autofocus='')
    .form-group
      label.col-sm-3.control-label(for='username') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='username') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .help-block
          label.checkbox
            input(type='checkbox', id='tos', name='tos')
            | I agree to&nbsp;
            a(href='#') terms and conditions
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-primary(type='submit') Signup
