extends layout

block content
  if messages.length
    .alert.alert-danger
      for message in messages
        div= message
  .login-container.signup.animated.fadeIn
    h3.text-center
      span.text-primary PROJECT
      span.text-muted NAME
    form(method='POST')
      .form-group
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus='')
      .form-group
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        button(type='submit')
          i.fa.fa-chevron-right
      .form-options.clearfix
        label.checkbox
          input(type='checkbox')
          span I agree to terms and conditions
    .row
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-primary.btn-block.facebook(href='/auth/facebook')
          i.fa.fa-facebook
          | Facebook
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-danger.btn-block.google(href='/auth/google')
          i.fa.fa-google-plus
          | Google
    .row
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-info.btn-block.twitter(href='/auth/twitter')
          i.fa.fa-twitter
          | Twitter
      .col-xs-6.col-sm-6.col-md-6
        a.btn.btn-default.btn-block.github(href='/auth/github')
          i.fa.fa-github
          | GitHub
    p Already have an account?&nbsp;
      a(href='/login') Login now

  script
    $(function() {
      $('.navbar').remove();
      $('body').addClass('signup-body');
    });
