.btn-cta-big {
  max-height: 100%;
  font-size: 40px;
  white-space: normal;
}

.big-heading {
  font-size: 50px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.text-center {
  text-align: center !important;
}

.green-text {
  color: #006400;
}

.btn-invert {
  background-color: #fff;
  color: #006400;
}

a:hover,
a:focus {
  text-decoration: none;
}

.fcc-modal {
  background-color: #006400;
  color: #fff;
}

.fcc-modal .close {
  color: #fff;
  font-size: 28px;
  text-shadow: none;
}
