/* globals */

.colourDarkGrey {
  color: #444;
}

.colourGreen {
  color: #006400;
}

.pointer {
  cursor: pointer;
}

:global body {
  font-family: 'Lato', sans-serif, 'FontAwesome';
  font-size: 16px;
}

:global h1,
:global h2,
:global h3,
:global h4,
:global h5,
:global h6 {
  /* Bootstrap sets weight to 500, we don't have that */
  font-weight: 700;
}

:global h2:first-child {
  margin-top: 0;
}

:global td,
:global th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

/* Breadcrumbs */

.breadcrumb {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: opacity 0.1s ease-out;
}

.breadcrumb:hover {
  opacity: 1;
}

.breadcrumb > li a {
  color: #006400;
}

.breadcrumb > li + li:before {
  content: '\203A';
  color: #555;
}

.breadcrumb > .active {
  color: #555
}

/* Layout */

.content {
  overflow-y: auto;
  height: 92vh;
}

.content img {
  max-width: 100%;
  display: block;
}

.content img.forum-image {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* Search */

.fcc_searchBar {
  width: 100%;
}

.fcc_searchBar .ais-Hits {
  background-color: white;
  width: 60%;
}


@media (max-width: 400px) {
  .fcc_searchBar .ais-Hits {
    width: 80%;
  }
}

/* NavBar */

.navBar {
  background: #006400;
  display: flex;
  align-items: center;
  min-height: 38px !important;
  max-height: 38px;
  border: none;
  border-radius: 0;
}

.main {
    outline: 0;
}


.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .navContainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .navContainer {
    width: 1170px;
  }
}

/* Navbar logo */

.logo-glyph {
  height: 30px;
  width: auto;
}

.logo {
  display: none;
}

.logoContainer {
  margin-right: 10px;
}

@media (min-width: 992px) {
  .logo-glyph {
    display: none;
  }

  .logo {
    display: block;
  }

  .logoContainer {
    margin-right: 50px;
    width: 25%;
  }
}

/* Navbar Toggle */

.navbar-toggle {
  border: 1px solid #fff;
  margin-left: 10px;
  margin-right: 0px;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

@media (max-width: 992px) {
  .navbar-toggle  {
    display: block;
  }
}

/* 404 */

.flexWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

.verticalAlign {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.button {
  color: #006400;
  background: #fff;
  border-color: #006400;
}

.button:hover {
  color: #fff;
  background: #006400;
  border-color: #fff;
}

/* SideNav */

.body {
  overflow-y: hidden;
}

.caretStyle {
  border-top: 8px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: darkgray;
  margin-right: 5px;
  transform: rotate(-90deg);
  transition: transform 150ms ease;
}

.caretStyle.expanded {
  transform: rotate(0deg);
}

.navItemTitle {
  color: #006400;
  cursor: pointer;
}

.navPanelUl {
  list-style: none;
  margin-bottom: 0px;
}

.panelStyle {
  border: none !important;
  border-radius: 0px;
  box-shadow: none;
  color: #006400;
  padding: 0;
}

.sideNav {
  overflow-y: scroll;
  max-height: 90vh;
  position: relative;
}

@media (max-width: 992px) {
  .sideNav {
    overflow-y: auto;
    max-height: none;
  }
}

.stubbed {
  color: #777;
}

.stubbed::after {
  content: 'stub';
  background-color: #aaa;
  color: #fff;
  border-radius: 3px;
  padding: 0 4px;
  margin-left: 5px;
  line-height: 1;
}

.title {
  background-color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.bodyContainer {
  --h: 100vh;
  margin-top: 55px;
  height: calc(var(--h) - 55px);
}

@media (max-width: 992px){

  .content {
    overflow-y: hidden;
    height: 100%;
  }

}

.skip-link {
    background-color: white;
    left: 0;
    padding: 5px 10px;
    top: 0;
    z-index: 9;
}

.skip-link:focus {
    position: absolute;
}

.article {
    outline: 0;
}
