:root {
  --theme-color: #0a0a23;
  --yellow-gold: #ffbf00;
  --gray-00: #ffffff;
  --gray-05: #f5f6f7;
  --gray-10: #dfdfe2;
  --gray-15: #d0d0d5;
  --gray-45: #858591;
  --gray-75: #3b3b4f;
  --gray-80: #2a2a40;
  --gray-83: #d4d4d4;
  --gray-85: #1b1b32;
  --gray-90: #0a0a23;
  --purple-light: #dbb8ff;
  --purple: #5a01a7;
  --yellow-light: #ffc300;
  --yellow: #4d3800;
  --blue-light: rgb(153, 201, 255);
  --blue-light-translucent: rgba(153, 201, 255, 0.3);
  --blue: rgb(0, 46, 173);
  --blue-dark-translucent: rgba(0, 46, 173, 0.3);
  --green-light: #acd157;
  --blue-mid: #198eee;
  --purple-mid: #9400d3;
  --green: #00471b;
  --red-light: #ffadad;
  --red: #850000;
  --love-light: #f8577c;
  --love: #f82153;
  --green-mid: #608b4e;
  --lemon-light: #ffff00;
  --pink-mid: #e2777a;
  --sky-mid: #569cd6;
  --sky-light: #67cdcc;
  --sky-dark: #2574a9;
  --tan-mid: #f8c555;
  --teal-light: #7ec699;
  --dark-gray: hsl(0 0% 100% / 0.12);
  --grass-mid: #008000;
  --orange-light: #ec9126;
  --blue-grey-mid: #62707f;
  --blue-grey: #38425c;

  --editor-background-light: #fffffe;
  --editor-background: #2a2b40;
  --focus-outline-color: var(--blue-mid);
  --font-family-sans-serif: 'Lato', sans-serif;
  --font-family-monospace: 'Hack-ZeroSlash', monospace;
  --header-element-size: 30px;
  --header-sub-element-size: 45px;
  --header-height: 56px;
  --breadcrumbs-height: 44px;
  --z-index-site-header: 200;
}

.dark-palette {
  --primary-color: var(--gray-00);
  --secondary-color: var(--gray-05);
  --tertiary-color: var(--gray-10);
  --quaternary-color: var(--gray-15);
  --quaternary-background: var(--gray-75);
  --tertiary-background: var(--gray-80);
  --secondary-background: var(--gray-85);
  --primary-background: var(--gray-90);
  --highlight-color: var(--blue-light);
  --highlight-background: var(--blue-dark);
  --selection-color: var(--blue-light-translucent);
  --success-color: var(--green-light);
  --success-background: var(--green-dark);
  --danger-color: var(--red-light);
  --danger-background: var(--red-dark);
  --love-color: var(--love-light);
  --editor-background: var(--editor-background-dark);

  --font-family-monaco: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  --font-size: 1em;

  --text-align: left;
  --white-space: pre;
  --word-spacing: normal;
  --work-break: normal;
  --word-wrap: normal;
  --font-line-height: 1.5;
  --tab-size: 4;
  --hyphens: none;
  --text-shadow: none;

  --padding: 1em;
  --margin: 0.5em 0;
  --overflow: auto;

  --padding-video-quiz: 0;
  --margin-video-quiz: 0;

  --inline-padding: 0.1em;
  --inline-border-radius: 0.3em;
  --inline-white-space: normal;

  --token-background: none;
  --token-font-weight: bold;
  --token-font-style: italic;
  --token-cursor: help;
  --token-punctuation-color: var(--lemon-light);
  --token-cdata-color: var(--green-mid);
  --token-deleted-color: var(--pink-mid);
  --token-function-name-color: var(--gray-83);
  --token-function-color: var(--sky-mid);
  --token-symbol-color: var(--tan-mid);
  --token-selector-color: var(--sky-mid);
  --token-variable-color: var(--teal-light);
  --token-operator-color: var(--sky-light);
  --token-inserted-color: var(--grass-mid);
  --token-attrname-color: var(--pink-mid);
  --token-boolean-color: var(--sky-mid);
  --token-number-color: var(--sky-mid);
  --token-property-color: var(--tan-mid);
  --token-classname-color: var(--tan-mid);
  --token-constant-color: var(--tan-mid);
  --token-string-color: var(--teal-light);
  --token-important-color: var(--tan);
  --token-atrule-color: var(--sky-mid);
  --token-attrvalue-color: var(--teal-light);
  --token-keyword-color: var(--sky-mid);
  --token-regex-color: var(--teal-light);

  --language-color: var(--orange-light);
  --language-background: var(--dark-gray);
}

.light-palette {
  --primary-color: var(--gray-90);
  --secondary-color: var(--gray-85);
  --tertiary-color: var(--gray-80);
  --quaternary-color: var(--gray-75);
  --quaternary-background: var(--gray-15);
  --tertiary-background: var(--gray-10);
  --secondary-background: var(--gray-05);
  --primary-background: var(--gray-00);
  --highlight-color: var(--blue-dark);
  --highlight-background: var(--blue-light);
  --selection-color: var(--blue-dark-translucent);
  --success-color: var(--green-dark);
  --success-background: var(--green-light);
  --danger-color: var(--red-dark);
  --danger-background: var(--red-light);
  --love-color: var(--love-dark);
  --editor-background: var(--editor-background-light);

  --token-background: none;
  --text-shadow: none;
  --white-space: normal;
  --token-punctuation-color: var(--blue-grey-dark);
  --token-deleted-color: var(--bright-red-mid);
  --token-cdata-color: var(--blue-grey-light);
  --token-number-color: var(--bright-purple-mid);
  --token-boolean-color: var(--bright-blue-mid);
  --token-selector-color: var(--grass-light);
  --token-attrname-color: var(--grass-light);
  --token-atrule-color: var(--sky-dark);
  --token-function-color: var(--maroon-mid);
  --token-property-color: var(--bright-red-mid);
  --token-classname-color: var(--maroon-mid);
  --token-constant-color: var(--bright-red-mid);
  --token-symbol-color: var(--bright-red-mid);
  --token-string-color: var(--grass-light);
  --token-inserted-color: var(--grass-light);
  --language-color: var(--blue-grey-mid);
  --token-operator-color: var(--blue-grey-mid);
  --token-important-color: var(--grass-light);
  --token-attrvalue-color: var(--sky-dark);
  --token-keyword-color: var(--sky-dark);
  --token-regex-color: var(--tan);
  --token-variable-color: var(--tan);
}
