extends layout
block content
    .bg-danger.default-border-radius
        p &nbsp;&nbsp;&nbsp;&nbsp; We are running emergency server maintenance. Your account and challenge completion will not be saved until this message goes away. Sorry about the inconvenience and thank you for your understanding.
    .jumbotron
        .text-center
            h1.hug-top Code with Us
            h2 Let's learn to code by building projects for nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Get Connected
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='Get great references and connections to start your software engineer career')
                    p.landing-p Join a community of busy, motivated professionals.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Learn JavaScript
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_learn.svg.gz', alt='Learn to code and learn full stack JavaScript')
                    p.landing-p Work together on Full Stack JavaScript coding challenges.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Build your Portfolio
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Build a portfolio of apps for nonprofits')
                    p.landing-p Build apps that solve real problems for real people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Help Nonprofits
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Help empower nonprofits with code')
                    p.landing-p Give nonprofits a boost by empowering them with code.
            .big-break
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                    a.btn.btn-cta.signup-btn.btn-block(href="/login") Start learning to code (it's free)
                    .button-spacer
                    a.btn.btn-cta.btn-success.btn-block(href="/nonprofits") My nonprofit needs coding help
            h2 As featured in
            img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
            .spacer
            h2 We're a proven way to start your software engineering career:
            img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/linkedin-alumni.png')
            .spacer
            h2 Campers you'll hang out with:
            .row
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-jen.jpg", alt="@jenthebest's testimonial image")
                    .testimonial-copy Getting back on track with Free Code Camp and committing to a new career in 2015!
                    h3 - @jenbestyoga
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-tate.jpg", alt="@TateThurston's testimonial image")
                    .testimonial-copy Just built my company's website with skills I've learned from Free Code Camp!
                    h3 - @TateThurston
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-cynthia.jpg", alt="@cynthialanel's testimonial image")
                    .testimonial-copy  I'm currently working through Free Code Camp to improve my JavaScript. The community is very welcoming!
                    h3 - @cynthialanel
            .big-break
            h2 Skills you'll learn:
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-angular
                    h2.black-text Angular.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-loop-strong
                    h2.black-text Agile
                    br
                    br
            .big-break
            h2 Why you should join our community right now:
            h3.col-xs-offset-0.col-sm-offset-1
                ul.text-left
                    li.ion-code &thinsp; We're thousands of professionals. We all learn to code together.
                    li.ion-code &thinsp; We're building projects for dozens of nonprofits.
                    li.ion-code &thinsp; Our community is 100% free and open source.
                    li.ion-code &thinsp; You'll learn Full Stack JavaScript and become a Software Engineer.
                    li.ion-code &thinsp; You'll work through our focused, interactive courses and tutorials.
                    li.ion-code &thinsp; You'll learn to code at your own pace, in your browser or on your phone.
                    li.ion-code &thinsp; You'll become qualified for thousands of jobs currently going unfilled.
                    li.ion-code &thinsp; You can get help in real time from our community chat rooms.
                    li.ion-code &thinsp; We all share one common goal: to boost our careers with code.
            .big-break
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                    a.btn.btn-cta.signup-btn.btn-block(href="/login") Learn to code today (it's free)
            script.
                challengeName = 'Home'
