extends layout
block content
    .jumbotron
        .text-center
            h1.hug-top Code with Us
            h2 Let's learn to code and build projects for nonprofits
            .row
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Get Connected
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', alt='Get great references and connections to start your software engineer career')
                    p.landing-p Join a community of busy, motivated people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Learn JavaScript
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_learn.svg.gz', alt='Learn to code and learn full stack JavaScript')
                    p.landing-p Work together on Full Stack JavaScript coding challenges.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Build your Portfolio
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', alt='Build a portfolio of apps for nonprofits')
                    p.landing-p Build apps that solve real problems for real people.
                .col-xs-12.col-sm-12.col-md-3
                    h3.nowrap Help Nonprofits
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', alt='Help empower nonprofits with code')
                    p.landing-p Give nonprofits a boost by empowering them with code.
            .big-break
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                    a.btn.btn-cta.signup-btn.btn-block(href="/signin") Start learning to code (it's free)
                    .button-spacer
                    a.btn.btn-cta.btn-success.btn-block(href="/nonprofits") My nonprofit needs coding help
            h2 As featured in:
            img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
            .spacer
            h2 Campers you'll hang out with:
            .row
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/xzDoJef.jpg", alt="'s testimonial image")
                    p.testimonial-copy Free Code Camp helped me get my first engineering job. This amazing community made my career switch a lot easier and more fun.
                    h3 - Ashley Drake
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's LinkedIn photo")
                    p.testimonial-copy I started Free Code Camp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.
                    h3 - Maxim Orlov
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/dE2Di78.jpg", alt="'s testimonial image")
                    p.testimonial-copy Free Code Camp gives me more confidence at work. Code doesn’t look as foreign anymore.
                    h3 - Qing Huang
            .spacer
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                    a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href='/stories') Hear from more of our campers
            .big-break
            h2 Skills you'll learn:
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-angular
                    h2.black-text Angular.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-loop-strong
                    h2.black-text Agile
                    br
                    br
            .big-break
            h2 Why you should join our open source community right now:
            h3.col-xs-offset-0.col-sm-offset-1
                ul.text-left
                    li.ion-code &thinsp; You'll get help in real time from our community chat rooms.
                    li.ion-code &thinsp; You'll meet up with other coders in your city.
                    li.ion-code &thinsp; You'll learn to code at your own pace, in your browser or on your phone.
                    li.ion-code &thinsp; You'll work through our focused, interactive courses and tutorials.
                    li.ion-code &thinsp; You'll learn state-of-the-art full stack JavaScript technologies.
                    li.ion-code &thinsp; You'll build projects that help nonprofits carry out their missions more effectively.
                    li.ion-code &thinsp; You'll assemble a portfolio of real apps used by real people.
            .big-break
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                    a.btn.btn-cta.signup-btn.btn-block(href="/signin") Learn to code today (it's free)
            script.
                challengeName = 'Home'
