doctype html
html(lang='en')
  head
    if title
      title= title
    else
      title Free Code Camp
    include partials/react-stylesheets
  body.top-and-bottom-margins(style='overflow: hidden')
    .container
      #fcc!= markup
    script!= state
    script(src=rev('/js', 'bundle.js'))
