doctype html
html(ng-app='profileValidation', lang='en')
  head
    if title
      title= title
    else
      title redirecting to | Free Code Camp
    include partials/small-head
  body.top-and-bottom-margins(style='overflow: hidden')
    .container
      include partials/flash
      #fcc!= markup
    script!= state
    script(src=rev('/js', 'bundle.js'))
