doctype html
html(ng-app='profileValidation', lang='en')
  head
    include partials/small-head
  body.top-and-bottom-margins
    .container
      include partials/flash
      #fcc!= markup
    script!= state
    script(src='/js/bundle.js')
