doctype html
html(lang='en')
  head
    include partials/meta
    include partials/stylesheets
  if showAside
      body.map-aside-body
          include partials/scripts
  else
      body.no-top-and-bottom-margins(class=theme !== 'default' ? theme : '')
          include partials/scripts
          include partials/navbar
          include partials/flash

  block content
  if !showAside
      include partials/footer
