doctype html
html(lang='en')
  head
    include partials/meta
    include partials/stylesheets
  body.top-and-bottom-margins(class=theme !== 'default' ? theme : '')
    include partials/scripts
    include partials/navbar
    include partials/flash
    .container
      block content
    include partials/footer
