extends layout
block content
    .text-center
        .row
            h1.landing-heading Learn to code for free.
            .big-break
            include homePartials/activeUsersView
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-community.svg', alt='Get great references and connections to start your software engineer career')
                p.large-p Join a supportive community of millions of coders.

            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-certificate.svg', alt='Help nonprofits with bro bono code projects')
                p.large-p Build projects and earn free certifications.

            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-experience.svg', alt='Get hired as a developer and start your software engineer career')
                p.large-p Get experience by coding for nonprofits.

        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Start coding (it's free)
        .spacer
        h2 As featured in:
        img.img-center.img-responsive(src='https://s3.amazonaws.com/freecodecamp/as-seen-on.png')
        .spacer
        hr
        .spacer
        h2 Launch your developer career
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://i.imgur.com/nsvNixW.jpg", alt="Meta's testimonial image")
                p.testimonial-copy Through freeCodeCamp, I built a robust and highly functional web app for a nonprofit. This led me to getting a fantastic job.
                h3 - Meta Hirschl
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://i.imgur.com/QPpjPac.jpg", alt="Brian's testimonial image")
                p.testimonial-copy freeCodeCamp is a great way for disabled veterans like me to retrain. I'm already receiving software engineering job offers.
                h3 - Brian Grant
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's testimonial image")
                p.testimonial-copy I joined freeCodeCamp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.
                h3 - Maxim Orlov
        .spacer
        hr
        .spacer
        h2 Learn powerful skills
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='https://s3.amazonaws.com/freecodecamp/react.svg')
                    h2.black-text React.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='https://s3.amazonaws.com/freecodecamp/d3-logo.svg')
                    h2.black-text D3.js
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Start coding (it's free)
        .big-break
        .big-break
        hr
        .big-break
        .big-break
        .big-break
        include homePartials/scripts