extends layout
block content
    .text-center
        .row
            h1.landing-heading Learn To Code
            h2 Because The World Runs On Code
            .big-break
            include homePartials/activeUsersView
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-community.svg', alt='Make web pages and games to share with friends')
                p.large-p Make web pages and games to share with friends.

            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-certificate.svg', alt='Reveal the mysteries of the codes that run the internet')
                p.large-p Reveal the mysteries of the codes that run the internet.
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landing-icon-experience.svg', alt='Chat with tutors to get help')
                p.large-p Chat with tutors to get help.


        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Click Here To Start Learning
        .spacer
        h2 Become a web coder like these teens
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://www.dropbox.com/s/x3397w0g6pgpyun/michael-testimonial.png?raw=1", alt="Michael's testimonial image")
                p.testimonial-copy Creating web games was easier than I thought.
                h3 - Michael
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://www.dropbox.com/s/p3j7cnavkqxdfdb/emily-testimonial.png?raw=1", alt="Emily's testimonial image")
                p.testimonial-copy It's like solving a puzzle. Coding is fun.
                h3 - Emily
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="https://www.dropbox.com/s/bth5n69xjjchwjd/jacob-testimonial.png?raw=1", alt="Jacob's testimonial image")
                p.testimonial-copy The chat with the tutors is good because I can get help as soon as I get stuck.
                h3 - Jacob
        .spacer
        hr
        .spacer
        h2 Learn powerful skills
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-html5.font-awesome-padding
                    h2.black-text HTML5
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-css3-alt.font-awesome-padding
                    h2.black-text CSS3
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-js.font-awesome-padding
                    h2.black-text JavaScript
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fas.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-github.font-awesome-padding
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-node-js.font-awesome-padding
                    h2.black-text Node.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fab.fa-react.font-awesome-padding
                    h2.black-text React.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='https://s3.amazonaws.com/freecodecamp/d3-logo.svg')
                    h2.black-text D3.js
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") Click Here To Start Learning
        .big-break
        .big-break
        hr
        .big-break
        .big-break
        .big-break
        include homePartials/scripts