doctype html
html(ng-app='profileValidation', lang='en')
  base(href='/', target='_blank')
  head
    include partials/react-head
    link(rel='stylesheet', href='/js/lib/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/js/lib/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/js/lib/codemirror/theme/monokai.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono")

  body.top-and-bottom-margins.full-screen-body-background
    .container
      //- rendered app attached at html
      //- app context are attached to state
      #app!= html
    //- script!= context
    //-
      script(src='/js/lib/jailed/jailed.js')
      script(src='/js/lib/bonfire/bonfireInit.js')
      script(src="https://cdn.jsdelivr.net/ramda/0.10.0/ramda.min.js")
    script(src='/js/lib/chai/chai.js')
    script(src='js/bundle.js')
