extends layout
block content
  .text-center
    .row
      h1.landing-heading=title

    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        h2 Support an open future.

    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .donate-progress
          .progress
            .progress-bar(class="progress-bar-success",role='progressbar', aria-valuenow='48', aria-valuemin='0', aria-valuemax='100', style='width: 48%;')
        p 4,845 supporters out of 10,000 goal.

    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .donate-text
          p freeCodeCamp.org is a tiny non-profit that's helping millions of people learn to code for free.
          if (user.isDonating)
            p Thanks for being a supporter!
          else
            .big-break
            a.btn.btn-lg.btn-primary(href="/donate")
              | Click here to become a Supporter
            .big-break
          p Do you know anyone who's interested in technology? Encourage them to join the community.

    .big-break
    include homePartials/quote
    .big-break
    .big-break
    include homePartials/stats
    .big-break
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a.btn.btn-cta.btn-block.btn-lg.btn-primary(href="/challenges/current-challenge")
          | Go to the coding curriculum
    .big-break
    .big-break
    include homePartials/scripts
