extends layout
block content
  .text-center
    .row
      h1.landing-heading=title
    .big-break
    include homePartials/activeUsersView
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a(href="https://www.freecodecamp.org/news/quincylarson/code-radio-music-for-programmers--OZ9MIh9Kr" target="_blank" class="update-link")
          | Listen to Code Radio - jazzy beats you can code, from the freeCodeCamp community.
    .big-break
    include homePartials/quote
    .big-break
    .big-break
    include homePartials/stats
    .big-break
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a.btn.btn-cta.btn-block.btn-lg.btn-primary(href="/challenges/current-challenge")
          | Go to the coding curriculum
    .big-break
    .big-break
    include homePartials/scripts
