extends layout
block content
  .text-center
    .row
      h1.landing-heading=title
    .big-break
    include homePartials/activeUsersView
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a(href="/n/FDoftlSup?refsource=userhome" target="_blank" class="update-link")
          | Happy Hacktober! Here's how to get your free Hacktoberfest T-shirt and make your first code contributions to open source projects.
    .big-break
    include homePartials/quote
    .big-break
    .big-break
    include homePartials/stats
    .big-break
    .big-break
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        a.btn.btn-cta.btn-block.btn-lg.btn-primary(href="/challenges/current-challenge")
          | Go to the coding curriculum
    .big-break
    .big-break
    include homePartials/scripts
