extends layout
block content
	.text-center
		.row
			h1.landing-heading=title
		.big-break
		include homePartials/activeUsersView
		.big-break
		.big-break
		include homePartials/quote
		.big-break
		.big-break
		include homePartials/stats
		.big-break
		.big-break
		.row
			.col-xs-12.col-sm-8.col-sm-offset-2
				a.btn.btn-cta.btn-block.btn-lg.btn-primary(href="/challenges/current-challenge") Go to my next coding challenge
		.big-break
		.big-break
		.big-break
		include homePartials/scripts