version: 2.1
# Define the jobs we want to run for this project
jobs:
  build:
    docker:
      - image: node:16.14
    steps:
      - run: echo "this is the build job"
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only:
                - free   
