.black-text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 40px;
}

.large-p {
  font-size: 24px;
}

.img-center {
  margin: 0 auto;
}

.landing-icon {
  height: 100px;
  width: 100px;
}

.landing-skill-icon {
  color: var(--secondary-color);
  margin-top: -15px;
  padding-bottom: 15px;
  height: 150px;
  margin-bottom: 1.45rem;
}

.testimonial-image {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  color: var(--secondary-color);
}

.testimonial-copy {
  text-align: center;
  font-size: 18px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.underlined-link {
  text-decoration: underline;
}

/* Buttons with a lot of text can overflow and mess up formatting on small
   screens, this stops that unless the word itself is too large. */

.btn {
  white-space: pre-line;
}

@media (min-width: 991px) and (max-width: 1199px) {
  .testimonial-copy {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .testimonial-copy {
    height: 100px;
  }
}
