
/*
  Embrace the cascade to override night mode styles
  This ensures a consistent landing page, even for users with nigt mode enabled
*/
.night body .landing-page{
  background-color: #fff;
  color: #333;
}
.night .landing-page #top-right-nav li > a, .night #top-right-nav li > span {
  color: #fff;
}
/* End night mode override */

.black-text {
  color: #333;
  font-weight: 400;
  font-size: 40px;
}

.large-p {
  font-size: 24px;
}

.img-center {
  margin: 0 auto;
}

.landing-icon {
  height: 100px;
  width: 100px;
}

.landing-skill-icon {
  color: #006400;
  margin-top: -15px;
  padding-bottom: 15px;
  height: 150px;
  margin-bottom: 1.45rem;
}

.testimonial-image {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  color: #006400;
}

.testimonial-copy {
  text-align: center;
  font-size: 18px !important;
  margin-left: 20px;
  margin-right: 20px;
}
.underlined-link {
  text-decoration: underline;
}
@media (min-width: 991px) and (max-width: 1199px) {
  .testimonial-copy {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .testimonial-copy {
    height: 100px;
  }
}
