.quote-partial .blockquote {
  font-size: 2.5rem;
  border: none;
}

.quote-author {
  font-style: normal;
}

.update-link {
  text-decoration: underline;
  font-size: 1.4em;
  color: #006400;
}

p.stats {
  font-size: 1.45rem;
}

p.stats span {
  color: #006400;
}

.night p.stats span {
  color: #67d269;
}

.night .quote-partial .blockquote {
  background-color: #333;
}
