.quote-partial .blockquote {
  font-size: 2.5rem;
  border: none;
}

.quote-author {
  font-style: normal;
}

.update-link {
  text-decoration: underline;
  font-size: 1.4em;
  color: var(--secondary-color);
}

p.stats {
  font-size: 1.45rem;
}

p.stats span {
  color: var(--secondary-color);
}
