h6
    ul#comment-list.comment-list

        script(src="https://cdn.jsdelivr.net/ramda/0.10.0/ramda.min.js")

        script.
            var commentDetails;
            R.forEach(function displayComments(comment) {
                console.log('this is the comment id', comment);
                $.ajax({
                    type: 'GET',
                    url: '/stories/comments/' + comment,
                    error: function(xhr, textStatus, errorThrown) {
                        console.log('got error');
                        commentDetails = {
                            error: true,
                            body: 'There seems to be a problem fetching this comment.'
                        }
                    },
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        commentDetails = data;
                        var li = document.createElement('li');
                        $(li)
                                .html("<div class='row text-left'><div class='col-xs-3 text-right'><i class='ion-arrow-up-b'></i></div><div class='col-xs-6'>" + commentDetails.body +
                                "</div><div class='col-xs-3'></div></div><div class='row text-left'><div class='col-xs-3 text-right'>" + commentDetails.rank + "</div><div class='col-xs-6'>"
                                + commentDetails.author.username + "</div><div class='col-xs-3'></div></div></li>")
                                .appendTo($('#comment-list'));
                    }


                })

            }, comments);