extends ../layout
block content
    script(src='/js/lib/moment/moment.js')
    if (user)
      script.
        var isLoggedIn = true;
        var B3BA669EC5C1DD70FB478221E067A7E1B686929C569F5E73561B69C8F42129B = !{JSON.stringify(user._id)};
        var DF105CFA89562196E702912B3818C6A5B46E80D262442FDF29976621E5AF0D23 = !{JSON.stringify(user.profile.username)};
    else
      script.
        var isLoggedIn = false;
    script.
        var challengeName = 'Camper News';
        var page = !{JSON.stringify(page)};
    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body
            include ./news-nav
            .spacer
            if (page === 'hot')
                include ./hot-stories
            if (page === 'submit')
                if (user)
                    include ./preliminary-submit
                else
                    .spacer
                    .text-center
                        a.btn.btn-cta.signup-btn.btn-primary(href="/login") Sign in to post your story (it's free)
                    .spacer
            if (page === 'storySubmission')
                include ./submit-story
            if (page === 'show')
                include ./show
