extends ../layout
block content
    script(src='/js/lib/moment/moment.js')
    script.
        var challengeName = 'Camper News';
        var user = !{JSON.stringify(user)};
        var page = !{JSON.stringify(page)};
    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body
            include ./news-nav
            .spacer
            if (page === 'hot')
                include ./hot-stories
            if (page === 'recent')
                include ./new-stories
            if (page === 'submit')
                include ./preliminary-submit
            if (page === 'search')
                include ./search-stories
            if (page === 'storySubmission')
                include ./submit-story
            if (page === 'show')
                include ./show