extends ../layout
block content
    script.
        var challengeName = 'Camper News';
    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body.hug-top
            include ./stories