extends ../layout
block content
    script.
        var challengeName = 'Camper News';
        var user = !{JSON.stringify(user)};
    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body
            include ./submit
            include ./stories
