extends ../layout
block content
    script.
        var challengeName = 'Camper News';
        var user = !{JSON.stringify(user)};
    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body
            include ./news-nav
            if (page === 'hot')
                include ./hot-stories
            if (page === 'new')
                include ./new-stories
            if (page === 'submit')
                include ./submit-story
            if (page === 'search')
                include ./search-stories