h3
    ul#story-list.story-list

        script(src="https://cdn.jsdelivr.net/ramda/0.10.0/ramda.min.js")
        script.
            var getLinkedName = function getLinkedName(name) {
                return name.toLowerCase().replace(/\s/g, '-');
            }
            $.ajax({
                url: '/stories/recentStories',
                type: 'GET'
            })
                    .success(
                    function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var li  = document.createElement('li');
                            var linkedName = getLinkedName(data[i].storyLink);
                            var rank = data[i].rank;

                            $(li)
                            .html(
                            "<div class='row text-left'>" +
                                "<div class='col-xs-3 col-sm-1'>" +
                                   "<div class='positive-5'>" +
                                        "<span>" + rank + "</span>" +
                                    "</div>" +
                                "</div>" +
                                "<div class='col-xs-2 col-sm-1'>" +
                                    "<img src='" + data[i].author.picture + "' class='img-responsive'/>" +
                                "</div>" +
                                "<div class='col-xs-7 col-sm-10'>" +
                                    "<div class='row'>" +
                                        "<div class='col-xs-12'>" +
                                            "<a href='/stories/" + linkedName + "'>"
                                            + data[i].storyLink +
                                            "</a>" +
                                        "</div>" +
                                    "<div class='col-xs-12'>" +
                                        "<span>Posted " +
                                            moment(data[i].timePosted).fromNow() +
                                            " by <a href='/" + data[i].author.username + "'>@" + data[i].author.username + "</a> " +
                                        "</span" +
                                    "</div>" +
                                "</div>" +
                            "</div>"
                            )
                            $(li).appendTo($('#story-list'));
                        }
                    });