.col-xs-12
    .btn-group.input-group.btn-group-justified(data-toggle='buttons')
        label.btn.btn-primary.btn-big
            input#option1(type='radio', name='options')
            | Hot
        label.btn.btn-primary.active.btn-big
            input#option2(type='radio', name='options')
            | New
        label.btn.btn-primary.btn-big
            input#option3(type='radio', name='options')
            | Submit
        label.btn.btn-primary.btn-big
            input#option3(type='radio', name='options')
            | Search
    .spacer