.col-xs-12
    form.form-horizontal
        .form-group.col-xs-12.text-left
            .col-xs-1.col-xs-offset-2
                label.control-label(for='name') Link
            .col-xs-9
                input.form-control(placeholder='Paste your link here', name='Link')
        .form-group
            label.col-xs-1.col-xs-offset-2.control-label(for='name') Title
            .col-xs-9
                input.form-control(placeholder='Type a headline for your link here', name='Title')
