extends ../layout

block content
  .page-header
    h2
      i.fa.fa-picture-o
      | Aviary API
  
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#constructor', target='_blank')
      i.fa.fa-check-square-o
      | API Overview
    a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#saving', target='_blank')
      i.fa.fa-save
      | Saving Images
    a.btn.btn-primary(href='http://developers.aviary.com/docs/web/setup-guide#styling', target='_blank')
      i.fa.fa-flask
      | CSS Styling
  br
  p: button.btn.btn-success(onclick='return launchEditor("myimage", "https://31.media.tumblr.com/d4411b4c0b41d9c7a73fbcdb1054cb5c/tumblr_n3fyfbZVud1tsaz7eo1_500.jpg");')
    i.fa.fa-magic
    | Edit Photo
  img#myimage(src='https://31.media.tumblr.com/d4411b4c0b41d9c7a73fbcdb1054cb5c/tumblr_n3fyfbZVud1tsaz7eo1_500.jpg', width=250)

  script(src='http://feather.aviary.com/js/feather.js')
  script.
    var featherEditor = new Aviary.Feather({
      apiKey: 'c83c98c0da041785',
      apiVersion: 3,
      theme: 'dark',
      tools: 'all',
      appendTo: '',
      onSave: function(imageID, newURL) {
        var img = document.getElementById(imageID);
        img.src = newURL;
      },
      onError: function(errorObj) {
        alert(errorObj.message);
      }
    });
    function launchEditor(id, src) {
      featherEditor.launch({
        image: id,
        url: src
      });
      return false;
    }