extends ../layout

block content
  .page-header
    h1
      i.fa.fa-foursquare
      |  Foursquare API

  if !user.tokens.foursquare
    a.btn.btn-large.btn-primary(href='/auth/foursquare') Get Foursquare Token

  ul.nav.nav-pills(style='margin-bottom: 15px;')
    li.active
      a(href='#venues', data-toggle='tab') Venues
    li
      a(href='#nearby', data-toggle='tab') Nearby
  div.tab-content
    #venues.tab-pane.fade.active.in
      .lead Trending Venues
      .list-group
        for venue in venues
          a.list-group-item(href='#')
            span.badge #{venue.stats.checkinsCount}
            | #{venue.name}
    #nearby.tab-pane.fade
      p TODO: Nearby