extends ../layout

block content
  .jumbotron
    h1 Foursquare API
    p Demonstration of some Foursquare API endpoints
    p
      a.btn.btn-default(href='https://developer.foursquare.com/docs/', role='button') Foursquare Documentation

  if !user.tokens.foursquare
    a.btn.btn-large.btn-primary(href='/auth/foursquare') Get Foursquare Token

  ul.nav.nav-pills(style='margin-bottom: 15px;')
    li.active
      a(href='#venues', data-toggle='tab') Venues
    li
      a(href='#nearby', data-toggle='tab') Nearby
  div.tab-content
    #venues.tab-pane.fade.active.in
      h4 Trending
      ul.list-group
        for venue in venues
          li.list-group-item
            span.badge #{venue.stats.checkinsCount}
            | #{venue.name}
    #nearby.tab-pane.fade
      p TODO: Nearby