extends ../layout

block content
  h2 API Examples

  .row
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/aviary') Aviary
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/clockwork') Clockwork SMS
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/facebook') Facebook
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/foursquare') Foursquare
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/github') GitHub
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/lastfm') Last.fm
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/linkedin') LinkedIn
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/nyt') New York Times
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/paypal') PayPal
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/steam') Steam
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/twilio') Twilio
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/tumblr') Tumblr
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/twitter') Twitter
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/scraping') Web Scraping
    .col-sm-3
      .panel.panel-default
        .panel-body
          a(href='/api/venmo') Venmo
