extends ../layout

block content
  h2 API Examples
  hr

  .row.api-examples
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://3.bp.blogspot.com/-a4mVBZ4LY-A/UvzcbDjKY7I/AAAAAAAAI-Q/V12lKmntZf8/s1600/photo_editor_by_aviary_app_icon.png', height=40)
          a(href='/api/aviary') Aviary
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://pbs.twimg.com/profile_images/2409381044/exk4ubq6skod7svla5az.jpeg', height=40)
          a(href='/api/clockwork') Clockwork SMS
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://choosenonviolence.org/sites/default/files/Facebook_logo_(square).png', height=40)
          a(href='/api/facebook') Facebook
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://playfoursquare.s3.amazonaws.com/press/logo/icon-512x512.png', height=40)
          a(href='/api/foursquare') Foursquare
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png', height=40)
          a(href='/api/github') GitHub
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://aweebitirish.com/wp-content/uploads/2014/03/instagram-app-icon-vector.png', height=40)
          a(href='/api/instagram') Instagram
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://www.bigbigtrain.com/pics/gfx/lastfm_logo.png', height=40)
          a(href='/api/lastfm') Last.fm
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://kellycpas.com/wp-content/uploads/2014/01/linkedin.png', height=40)
          a(href='/api/linkedin') LinkedIn
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Web-The-New-York-Times-alt-Metro-icon.png', height=40)
          a(href='/api/nyt') New York Times
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://th08.deviantart.net/fs4/200H/i/2004/242/4/7/Steam_Icon.png', height=40)
          a(href='/api/steam') Steam
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://stripe.com/img/open-graph/logo.png', height=40)
          a(href='/api/stripe') Stripe
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://status.twilio.com/images/logo.png', height=40)
          a(href='/api/twilio') Twilio
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/Tumblr_alt.png', height=40)
          a(href='/api/tumblr') Tumblr
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://brooklynbrittle.com/images/twitter-icon.gif', height=40)
          a(href='/api/twitter') Twitter
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://37prime.net/link_icons/hackernews.png', height=40)
          a(href='/api/scraping') Web Scraping
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://www.mevvy.com/wp-content/uploads/2013/09/Venmo-Logo-on-Mevvy.com_.png', height=40)
          a(href='/api/venmo') Venmo