extends ../layout

block content
  h2 API Browser

  ol
    li
      a(href='/api/aviary') Aviary
    li
      i.fa.fa-lock
      a(href='/api/facebook') Facebook
    li
      i.fa.fa-lock
      a(href='/api/foursquare') Foursquare
    li
      i.fa.fa-lock
      a(href='/api/github') GitHub
    li
      a(href='/api/lastfm') Last.fm
    li
      a(href='/api/nyt') New York Times
    li
      i.fa.fa-lock
      a(href='/api/paypal') PayPal
    li
      i.fa.fa-lock
      a(href='/api/tumblr') Tumblr
    li
      i.fa.fa-lock
      a(href='/api/twitter') Twitter
    li
      a(href='/api/scraping') Web Scraping
