extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      .panel.panel-default(style='background-color: #000')
        .panel-body
          img(src='http://i.imgur.com/2AaBlpf.png', height=40)
          a(href='/api/github', style='color: #fff')  GitHub
    .col-sm-4
      .panel.panel-default(style='background-color: #00abf0')
        .panel-body
          img(src='http://i.imgur.com/EYA2FO1.png', height=40)
          a(href='/api/twitter', style='color: #fff')  Twitter
    .col-sm-4
      .panel.panel-default(style='background-color: #3b5998')
        .panel-body
          img(src='http://i.imgur.com/jiztYCH.png', height=40)
          a(href='/api/facebook', style='color: #fff')  Facebook
    .col-sm-4
      .panel.panel-default(style='background-color: #1cafec')
        .panel-body
          img(src='http://i.imgur.com/PixH9li.png', height=40)
          a(href='/api/foursquare', style='color: #fff')  Foursquare
    .col-sm-4
      .panel.panel-default(style='background-color: #947563')
        .panel-body
          img(src='http://i.imgur.com/aRc6LUJ.png', height=40)
          a(href='/api/instagram', style='color: #fff')  Instagram
    .col-sm-4
      .panel.panel-default(style='background-color: #d21309')
        .panel-body
          img(src='http://i.imgur.com/KfZY876.png', height=40)
          a(href='/api/lastfm', style='color: #fff')  Last.fm
    .col-sm-4
      .panel.panel-default(style='background-color: #007bb6')
        .panel-body
          img(src='http://i.imgur.com/sYmVWAw.png', height=40)
          a(href='/api/linkedin', style='color: #fff')  LinkedIn
    .col-sm-4
      .panel.panel-default(style='background-color: #454442')
        .panel-body
          img(src='http://i.imgur.com/e3sjmYj.png', height=40)
          a(href='/api/nyt', style='color: #fff')  New York Times
    .col-sm-4
      .panel.panel-default(style='background-color: #000')
        .panel-body
          img(src='http://i.imgur.com/1xGmKBX.jpg', height=40)
          a(href='/api/steam', style='color: #fff')  Steam
    .col-sm-4
      .panel.panel-default(style='background-color: #3da8e5')
        .panel-body
          img(src='http://i.imgur.com/w3s2RvW.png', height=40)
          a(href='/api/stripe', style='color: #fff')  Stripe
    .col-sm-4
      .panel.panel-default(style='background-color: #fd0404')
        .panel-body
          img(src='http://i.imgur.com/mEUd6zM.png', height=40)
          a(href='/api/twilio', style='color: #fff')  Twilio
    .col-sm-4
      .panel.panel-default(style='background-color: #304e6c')
        .panel-body
          img(src='http://i.imgur.com/rZGQShS.png', height=40)
          a(href='/api/tumblr', style='color: #fff')  Tumblr
    .col-sm-4
      .panel.panel-default(style='background-color: #ff6500')
        .panel-body
          img(src='http://i.imgur.com/RGCVvyR.png', height=40)
          a(href='/api/scraping', style='color: #fff')  Web Scraping
    .col-sm-4
      .panel.panel-default(style='background-color: #1f93cf')
        .panel-body
          img(src='http://i.imgur.com/90tl9C8.gif', height=40)
          a(href='/api/venmo', style='color: #fff')  Venmo
    .col-sm-4
      .panel.panel-default(style='background-color: #3d048b')
        .panel-body
          img(src='http://i.imgur.com/Cl6WJAu.png', height=40)
          a(href='/api/yahoo', style='color: #fff')  Yahoo
    .col-sm-4
      .panel.panel-default(style='background-color: #000')
        .panel-body
          img(src='http://i.imgur.com/YcdxZ5F.png', height=40)
          a(href='/api/clockwork', style='color: #fff')  Clockwork SMS
    .col-sm-4
      .panel.panel-default(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)')
        .panel-body
          img(src='http://i.imgur.com/npBRwMI.png', height=40)
          a(href='/api/aviary', style='color: #fff')  Aviary