extends ../layout

block content
  h2 API Browser

  ol.lead
    li
      a(href='/api/aviary') Aviary
    li
      a(href='/api/facebook') Facebook
      small  (Login required)
    li
      a(href='/api/foursquare') Foursquare
      small  (Login required)
    li
      a(href='/api/github') GitHub
      small  (Login required)
    li
      a(href='/api/lastfm') Last.fm
    li
      a(href='/api/nyt') New York Times
    li
      a(href='/api/tumblr') Tumblr
      small  (Login required)
    li
      a(href='/api/twitter') Twitter
      small  (Login required)
    li
      a(href='/api/scraping') Web Scraping
    li
      a(href='/api/paypal') PayPal
