extends ../layout

block content
  h2 API Browser

  ol
    li
      a(href='/api/aviary') Aviary
    li
      a(href='/api/facebook')
        i.fa.fa-lock
        | Facebook

    li
      a(href='/api/foursquare')
        i.fa.fa-lock
        | Foursquare
    li
      a(href='/api/github')
        i.fa.fa-lock
        | GitHub
    li
      a(href='/api/lastfm') Last.fm
    li
      a(href='/api/nyt') New York Times
    li
      a(href='/api/tumblr')
        i.fa.fa-lock
        | Tumblr
    li
      a(href='/api/twitter')
        i.fa.fa-lock
        | Twitter
    li
      a(href='/api/scraping') Web Scraping
    li
      a(href='/api/paypal') PayPal
