extends ../layout

block content
  .page-header
    h1
      i.fa.fa-music
      | Last.fm API
  .btn-group.btn-group-justified
    a.btn.btn-lg.btn-primary(href='http://developer.github.com/guides/getting-started/', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-lg.btn-primary(href='https://apigee.com/console/github', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-lg.btn-primary(href='http://developer.github.com/v3/', target='_blank')
      i.fa.fa-file-text-o
      | Documentation

  h3.text-primary Artist Information
  form.form-horizontal(role='form', method='POST')
    .form-group
      label(class='col-sm-2 control-label', for='artist') Artist
      .col-sm-4
        input.form-control(type='text', name='artist', id='artist')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn-primary-outline(type='submit') Submit

  .panel.panel-default
    .panel-heading
      h3.title #{artist.name}
    .panel-body
      .row
        .col-xs-3
          img(src='#{artist.image}')
        .col-xs-9
          strong Artist Bio
          br
          p= artist.bio


  h3.text-primary Song Information
  form.form-horizontal(role='form', method='POST')
    .form-group
      label(class='col-sm-2 control-label', for='artist') Song
      .col-sm-4
        input.form-control(type='text', name='artist', id='artist')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn-primary-outline(type='submit') Submit
