extends ../layout

block content
  .page-header
    h1
      i.fa.fa-music
      | New York Times API
  .btn-group.btn-group-justified
    a.btn.btn-lg.btn-primary(href='http://developer.github.com/guides/getting-started/', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-lg.btn-primary(href='https://apigee.com/console/github', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-lg.btn-primary(href='http://developer.github.com/v3/', target='_blank')
      i.fa.fa-file-text-o
      | Documentation

  p nyt api