extends ../layout

block content
  .page-header
    h2
      i.fa.fa-crop
      | Web Scraping

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='http://matthewmueller.github.io/cheerio/', target='_blank')
      i.fa.fa-info
      | Cheerio Docs
    a.btn.btn-primary(href='https://developer.foursquare.com/docs/explore', target='_blank')
      i.fa.fa-film
      | Cheerio Screencast

  h3 Hacker News Frontpage
  table.table.table-condensed
    thead
      tr
        th №
        th Title
    tbody
      each link, index in links
        tr
          td= index + 1
          td!= link
