extends ../layout

block content
  .page-header
    h1
      i.fa.fa-crop
      | Web Scraping
  .btn-group.btn-group-justified
    a.btn.btn-lg.btn-primary(href='http://matthewmueller.github.io/cheerio/', target='_blank')
      i.fa.fa-info
      | Cheerio Docs
    a.btn.btn-lg.btn-primary(href='https://developer.foursquare.com/docs/explore', target='_blank')
      i.fa.fa-film
      | Cheerio Screencast
