extends ../layout

block content
  .page-header
    h2
      i.fa.fa-phone(style='color: #f00')
      | Twilio API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='http://twilio.github.io/twilio-node/', target='_blank')
      i.fa.fa-check-square-o
      | Twilio Node
    a.btn.btn-primary(href='https://apigee.com/console/twilio', target='_blank')
      i.fa.fa-laptop
      | API Console
    a.btn.btn-primary(href='https://www.twilio.com/docs/api/rest', target='_blank')
      i.fa.fa-code-fork
      | REST API

  br

  .row
    .col-sm-6
      form(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label Number to text
          input.form-control(type='text', name='number', autofocus)
        .form-group
          label.control-label Message
          input.form-control(type='text', name='message')
        button.btn.btn-default(type='submit')
          i.fa.fa-location-arrow
          | Send
