extends ../layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | Twitter API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://github.com/ttezel/twit', target='_blank')
      i.fa.fa-file-text-o
      | Twit Library Docs
    a.btn.btn-success(href='https://dev.twitter.com/docs', target='_blank')
      i.fa.fa-check-square-o
      | Overview
    a.btn.btn-success(href='https://dev.twitter.com/docs/api/1.1', target='_blank')
      i.fa.fa-code-fork
      | API Endpoints

  br
  .lead Latest 50 Tweets containing "Hackathon" in NYC within 5 miles

  ul.list-unstyled
    for tweet in tweets
      li
        .panel.panel-default
          .panel-body
            .clearfix
              - var image = tweet.user.profile_image_url.replace('_normal', '');
              img.pull-left(src='#{image}', width=50, height=50, style='margin-right: 10px')

              =tweet.user.name
              small.text-muted  @#{tweet.user.screen_name}
              br
              small #{tweet.text}