extends ../layout

block content
  .page-header
    h2
      i.fa.fa-yahoo(style='color: #7b0099')
      | Yahoo API
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://developer.yahoo.com/yql/', target='_blank')
      i.fa.fa-check-square-o
      | YQL Getting Started
    a.btn.btn-primary(href='http://yuilibrary.com/yui/docs/node/', target='_blank')
      i.fa.fa-laptop
      | YUI on Node.js
    a.btn.btn-primary(href='https://developer.yahoo.com/everything.html', target='_blank')
      i.fa.fa-code
      | Yahoo APIs

  br
  p.lead Weather for ZIP Code:
    strong  10007
  .alert.alert-info
    p It is currently
     strong  #{condition.temp}
     |  degrees in
     strong  #{location.city}, #{location.region}
     | .

  h3 YQL Query
  pre SELECT * FROM weather.forecast WHERE (location = 10007)