extends ../layout
block content
    .text-center
      h2 Welcome to the freeCodeCamp beta.
      h3 We have disabled new sign ups on beta.
    .text-left.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      p You can try our new beta challenges, but your progress <bold>will not</bold> be saved.&thinsp;
        a(href='/map') Click here to go to the beta challenges
          | .
      p Or you can return to our stable challenges, where your progress <bold>will</bold> be saved.&thinsp;
        a(href='https://www.freecodecamp.org') Click here to go to the stable challenges
          | .
      p If you want to learn more about this beta, read our&thinsp;
        a(href='https://forum.freecodecamp.org/t/frequently-asked-questions-about-the-freecodecamp-beta/134331') Frequently Asked Questions
          | .

      p Happy coding!
