extends ../layout
block content
  .container
    .col-xs-12
      .row
        .text-center
            br
            h4 Select from the following deprecated sign in methods to access your account and add a valid email address to it.
            br
            a.btn.btn-lg.btn-block.btn-social.btn-github(href='/auth/github')
                i.fab.fa-github
                | Sign in with GitHub
            a.btn.btn-lg.btn-block.btn-social.btn-facebook(href='/auth/facebook')
                i.fab.fa-facebook
                | Sign in with Facebook
            a.btn.btn-lg.btn-block.btn-social.btn-google(href='/auth/google')
                i.fab.fa-google
                | Sign in with Google
            a.btn.btn-lg.btn-block.btn-social.btn-twitter(href='/auth/twitter')
                i.fab.fa-twitter
                | Sign in with Twitter
