extends ../layout
block content
    .container
      .col-xs-12
        .row
          .col-sm-6.col-sm-offset-3.flashMessage.negative-30
                #flash-board.alert.fade.in(style='display: none;')
                    button.close(type='button', data-dismiss='alert')
                        span.ion-close-circled#flash-close
                    #flash-content
        .row
          .text-center
            h2 Create a New account or Sign In with an Email here:
              .button-spacer
          .col-sm-6.col-sm-offset-3
              form(method='POST', action='/passwordless-auth')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                      input.input-lg.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true, required)
                  .button-spacer
                  button#magic-btn.btn.btn-primary.btn-lg.btn-block(type='submit')
                    span.fa.fa-envelope
                    | Get a magic link on your email above.
        .row
          .col-sm-6.col-sm-offset-3
              br
              p.text-center
                | freeCodeCamp uses passwordless authentication.
                br
                | Create a New account instantly, using a valid email address, or Sign In
                | using your existing email with us, if you already have an account.
              p.text-center
                a(href="https://medium.freecodecamp.org/360-million-reasons-to-destroy-all-passwords-9a100b2b5001" target="_blank" rel="noopener") Learn more about passwordless authentication.
              br
              p.text-center
                a(href="/deprecated-signin") Or click here if you want to sign in with other options.

        script.
          $(document).ready(function() {
            function disableMagicButton (isDisabled) {
                if (isDisabled) {
                  $('#magic-btn')
                    .prop('disabled', true)
                    .html('<span style="color:#E0E0E0;"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>Ok - We will attempt sending a link to the email above.</span>');
                } else {
                  $('#magic-btn')
                    .prop('disabled', true)
                    .html('<span style="color:#E0E0E0;">Did not get a link? Reload the page and try again.</span>');
                }
            }

            $('form').submit(function(event){
              event.preventDefault();
              $('#flash-board').hide();
              disableMagicButton(true);
              var $form = $(event.target);
              $.ajax({
                type        : 'POST',
                url         : $form.attr('action'),
                data        : $form.serialize(),
                dataType    : 'json',
                encode      : true,
                xhrFields   : { withCredentials:  true }
              })
              .fail(error => {
                if (error.responseText){
                  var data = JSON.parse(error.responseText);
                  if(data.error && data.error.message) {
                    $('#flash-content').html(data.error.message);
                    $('#flash-board')
                      .removeClass('alert-success')
                      .addClass('alert-info')
                      .slideDown(400)
                      .delay(800)
                      .fadeIn();
                    disableMagicButton(false);
                  }
                }
              })
              .done(data => {
                if(data && data.message) {
                  var alertType = 'alert-';
                  switch (data.type) {
                    case 'errors': {
                      alertType += 'danger';
                      break
                    }
                    case 'success': {
                      alertType += 'success';
                      break
                    }
                    default: {
                      alertType += 'info';
                    }
                  }
                  $('#flash-content').html(data.message);
                  $('#flash-board')
                    .removeClass('alert-info alert-success alert-danger')
                    .addClass(alertType)
                    .slideDown(400)
                    .delay(800)
                    .fadeIn();
                  disableMagicButton(false);
                }
              });
            });
          });
