extends ../layout
block content
    .container
      .col-xs-12
        .row
          .text-center
            h2 Sign up (or sign in with your existing account)
              .button-spacer
          .col-sm-6.col-sm-offset-3
              form(method='POST', action='/authzero-auth')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                      input.input-lg.form-control(type='email', name='email', id='email', placeholder='Enter your email address', autofocus=true, required, oninvalid="this.setCustomValidity('Enter your email address')", oninput="setCustomValidity('')")
                      .button-spacer
                      input#password-input.input-lg.form-control(type='password', placeholder='Enter your existing password', name='password', style='display: none;')
                      .button-spacer
                      button#next-btn.btn.btn-primary.btn-lg.btn-block(type='submit')
                        | Next
        .row
          .col-sm-6.col-sm-offset-3
              br
              p.text-center
                br
                br
                a(href="/deprecated-signin") Try old sign in methods

        script.
          $(document).ready(function() {

            $('form').submit(function(event){
              event.preventDefault();
              
              $('#password-input').hide();
              var $form = $(event.target);
              
              var AUTH0_DOMAIN = 'freecodecamp.auth0.com',
                  AUTH0_CLIENT_ID = 'aUDv9jVqTfxBRE1l60NA5Af7yTCGE4cy',
                  AUTH0_CALLBACK_URL = 'http://localhost:3000/';
                  
              var webAuth = new auth0.WebAuth({
                domain: AUTH0_DOMAIN,
                clientID: AUTH0_CLIENT_ID,
                redirectUri: AUTH0_CALLBACK_URL,
                audience: 'https://' + AUTH0_DOMAIN + '/userinfo',
                responseType: 'token id_token',
                scope: 'openid'
              });
              
              $.ajax({
                type        : 'POST',
                url         : $form.attr('action'),
                data        : $form.serialize(),
                dataType    : 'json',
                encode      : true,
                xhrFields   : { withCredentials:  true }
              })
              .fail(error => {
                if (error.responseText){
                  console.error(error.responseText);
                }
              })
              .done(data => {
                if(data && data.message) {
                  if(data.message === true || data.message === 'true'){
                    $('#email').prop( "disabled", true );
                    webAuth.authorize();
                    /*
                    $('#password-input')
                      .slideDown(400)
                      .delay(800)
                      .fadeIn();
                    */
                  }
                }
              });
            });
          });
