extends ../layout
block content
    .jumbotron.text-center
        .row
            .col-xs-12
                h2 Sign in with an email address here:
                .col-sm-6.col-sm-offset-3
                    form(method='POST', action='/api/users/login')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            input.input-lg.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
                        .form-group
                            input.input-lg.form-control(type='password', name='password', id='password', placeholder='Password')
                        button.btn.btn-primary.btn-lg.btn-block(type='submit')
                            span.ion-android-hand
                            | Login
                        .button-spacer
                        .button-spacer
                    a.btn.btn-info.btn-lg.btn-block(href='/forgot') Forgot your password?
