extends ../layout
block content
    include ../partials/flyer
    #modal-dialog.modal
        .modal-dialog
            .modal-content
                .modal-header
                    a.close(href='/settings', data-dismiss='modal', aria-hidden='true') ×
                    h3 You don't really want to reset your progress, do you?
                .modal-body
                    p This will really delete all of your progress and brownie points.
                    p We won't be able to recover any of it for you later, even if you change your mind.
                .modal-footer
                    a.btn.btn-success.btn-block(href='/settings', data-dismiss='modal', aria-hidden='true')
                        | Nevermind, I don't want to delete all of my progress and brownie points
                    .spacer
                    form(action='/account/resetprogress', method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        button.btn.btn-danger.btn-block(type='submit')
                            | I am 100% sure I want to reset all of my progress and brownie points
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const modal$ = document.getElementById('modal-dialog');
        modal$.classList.add('show');
      });
