extends ../layout
block content
    .jumbotron.text-center
        h2 Sign in with one of these options:
        a.btn.btn-lg.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            | Sign in with Github
        a.btn.btn-lg.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Sign in with Facebook
        a.btn.btn-lg.btn-block.btn-google-plus.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Sign in with Google
        a.btn.btn-lg.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
            i.fa.fa-linkedin
            | Sign in with LinkedIn
        a.btn.btn-lg.btn-block.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            | Sign in with Twitter
        br
        p
            a(href="/email-signup") Or sign up using your email address here.
        p
            a(href="/email-signin") If you originally signed up using your email address, you can sign in here.
