.CodingBootcampCostCalculator .d3-chart {	
  position: relative;
}
.CodingBootcampCostCalculator div.tooltip {	
  position: absolute;
  text-align: center;
  width: 80px;
  padding: 5px;
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: #fff;
  display: table;
}
.CodingBootcampCostCalculator div.tooltip > div {
  display: table-cell;
  vertical-align: middle;
}
.CodingBootcampCostCalculator div.tooltip:after {
  box-sizing: border-box;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  bottom: -9px;
  left: 0;
}
.CodingBootcampCostCalculator h3 span {
  color: darkred;
}
.CodingBootcampCostCalculator .section {
  margin: 20px 0;
}
