.col-xs-12
	.spacer
		form.input-group(method="POST", action="/pair-coding/setOnline", name="paircode-submit")
			input#comment.big-text-field.field-responsive.form-control(placeholder='What do you want to pair program?', name='comment', type='text' autofocus)
			span.input-group-btn
				button#paircode-submit.btn.btn-big.btn-primary.btn-responsive(type='submit') Submit