extends ../layout

block content
		script.
			var user = !{JSON.stringify(user)};
		.jumbotron.text-center
			h1 Find a coding partner
			.panel_body
			#online-user.online-users
				script.
					$.ajax({
						url: '/pair-coding/getOnline',
						type: 'GET'
					}).success(
					function(data){
						for (var i=0; i < data.length; i++) {
							var div  = document.createElement('div');
							$(div)
							.html(
								"<a href='#'>" + data[i] + "</a>"
							);
						 	$(div).appendTo($('.panel_body'));
						}
					}
					);

