script.
	var pairWithUser = !{JSON.stringify(pairWithUser)}

.spacer
	h2 Chatting with #{pairWithUser}
.embed-responsive.embed-responsive-16by9.gitter-imbed
	iframe(src="https://www.gitter.im/#{pairWithUser}", frameborder='0', scrolling='no')