extends ./layout

block content
    .spacer
    .row
        .col-sm-6.col-sm-offset-3
            hr
            .text-center
                h1 404
    .row
        .col-sm-6.col-sm-offset-3
            .text-center
                h2 Ooops, we couldn't find that page.
    .spacer
    .row
        .col-sm-6.col-sm-offset-3
            .text-center
                a.btn.signup-btn.btn-block(href='/map') Head to the Map
            hr
    .spacer
