doctype html
html(lang='en')
  head
    include partials/meta
    include partials/stylesheets
  if showAside
      body.map-aside-body(class=theme !== 'default' ? theme : '')
          include partials/scripts
          block content
  else
      body.no-top-and-bottom-margins(class=theme !== 'default' ? theme : '')
          include partials/scripts
          include partials/navbar
          include partials/flash
          block content
          include partials/footer
