extends ../../layout
block content
    .row
        .col-sm-12.col-md-8.col-xs-12
            include challenge
        .col-sm-12.col-md-4.col-xs-12
            include ../../partials/challenges
            include ../../partials/courses