header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
}

#top-nav {
  background: #006400;
  margin-bottom: 0.45rem;
  height: 36px;
  margin-bottom: 0px;
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
}

#top-nav .home-link {
  display: flex;
  align-items: center;
}

#top-nav img {
  max-height: 25px;
  min-width: 35px;
  margin: 0 5px 0 15px;
}

#top-right-nav {
  display: flex;
  width: auto;
  margin: 0;
  list-style: none;
  justify-content: space-around;
}

#top-right-nav a,
#top-right-nav img {
  max-height: 40px;
}

#top-right-nav a.btn-cta {
  background-color: #ffac33;
  background-image: linear-gradient(#ffcc4d, #ffac33);
  border-color: #f1a02a;
  color: #292f33 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  max-height: 38px;
  padding: 4px 12px;
}

#top-right-nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

#top-right-nav > li > a {
  padding: 10px 15px;
}

.sign-in-btn {
  padding: 10px 0 10px 15px;
}

#top-right-nav .sign-in-btn > a {
  padding-top: 0;
}

#top-right-nav li > a,
#top-right-nav li > span {
  color: #eee;
  font-size: 15px;
  font-weight: 500;
}

#top-right-nav li > a:hover,
#top-right-nav li > a:focus {
  text-decoration: none;
  font-weight: 500;
}

.nav-btn:hover {
  background-color: #eee;
}

#top-right-nav .nav-btn a:hover {
  color: darkgreen;
}

.user-state-spinner {
  height: 40px;
}

.user-state-spinner > div {
  animation-duration: 1.5s !important;
}

/* Search bar */
.fcc_searchBar {
  flex-grow: 0.4;
  padding: 3px 10px 0;
  margin-right: auto;
}
#fcc_instantsearch {
  max-height: 30px;
}
.ais-SearchBox-form {
  margin-bottom: 0;
}
.ais-Hits {
  background-color: #fff;
}
