.settings-container {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

.settings-main {
  flex: 1;
  padding: 1rem;
}

.settings-ledger ul {
  list-style-type: none;
  padding-left: 0;
}

.settings-ledger ul li {
  margin-bottom: 0.5rem;
}

.settings-ledger {
  position: sticky;
  top: var(--header-height);
  padding: 1rem 0;
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
  border-right: 3px solid var(--tertiary-background);
}

.settings-ledger .ledger-section-heading {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.settings-ledger .ledger-anchor-btn {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  padding: 0 1rem 0rem 2rem;
}

@media (max-width: 980px) {
  .settings-ledger {
    display: none;
  }

  .settings-container > .container {
    width: 100%;
  }
}
