extends ../layout
block content
    .row
        .col-md-offset-2.col-md-8.col-lg-offset-2.col-lg-8.text-center
            h1 Welcome to the challenge generator. Test your ideas out and see them live in bonfire!
        .col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-1-col-lg-10
            .panel
                form.form-horizontal(method="POST", action="/bonfire-challenge-generator", name="bonfireInfo")
                    .form-group
                        label.col-sm-2.control-label(for='name') name:
                        .col-sm-10
                            input#name.form-control(type='text', placeholder='name', name="name")
                    .form-group
                        label.col-sm-2.control-label(for='difficultyField') difficulty:
                        .col-sm-10
                            label.radio-inline 1
                                input#inlineRadio1(type='radio', name='difficulty', value='1')
                            label.radio-inline 2
                                input#inlineRadio2(type='radio', name='difficulty', value='2')
                            label.radio-inline 3
                                input#inlineRadio3(type='radio', name='difficulty', value='3')
                            label.radio-inline 4
                                input#inlineRadio4(type='radio', name='difficulty', value='4')
                            label.radio-inline 5
                                input#inlineRadio5(type='radio', name='difficulty', value='5')
                    .form-group
                        label.col-sm-2.control-label.wrappable(for='description') description:
                        .col-sm-10
                            textarea#description.form-control(name="description", rows=5, placeholder="Each \"paragraph\" needs to be separated by a line break(return key).")
                    .form-group
                        label.col-sm-2.control-label.wrappable(for='challengeSeed') challengeSeed:
                        .col-sm-10
                            textarea#challengeSeed.form-control(name="challengeSeed", rows=5)
                    .form-group
                        label.col-sm-2.control-label.wrappable(for='challengeEntryPoint') challenge entrypoint:
                        .col-sm-10
                            textarea#name.form-control(name="challengeEntryPoint", rows=1, type='text', placeholder="palindrome(\"eye\");")
                    .form-group
                        label.col-sm-2.control-label.wrappable(for='tests') tests:
                        .col-sm-10
                            textarea#tests.form-control(name="tests", rows=5, placeholder="Separate tests by a newline.")
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            input.btn.btn-default(type='submit', value="submit")
