extends ../layout
block content
    if (user)
      script.
        var isLoggedIn = true;
        var userId = !{JSON.stringify(user.id)};
        var username = !{JSON.stringify(user.username)};
    else
      script.
        var isLoggedIn = false;
    script.
        var challengeName = 'Camper News';
        var page = !{JSON.stringify(page)};
    h1.text-center Camper News
    hr
    .spacer
    include news-nav
    .spacer
    if (page === 'hot')
        include hot-stories
    if (page === 'submit')
        if (user)
            include preliminary-submit
        else
            .spacer
            .text-center
                a.btn.btn-cta.signup-btn.btn-primary(href="/login") Sign in to post your story (it's free)
            .spacer
    if (page === 'storySubmission')
        include submit-story
    if (page === 'show')
        include show
