extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 We build solutions for nonprofits who are already serving a need. Are there people who already benefit from your services?
        .spacer
        .row
            .col-xs-6
                a.btn.btn-primary.btn-big.btn-block(href='/nonprofits/ok-with-javascript') Yes
            .col-xs-6
                a.btn.btn-warning.btn-big.btn-block(href='/nonprofits/other-solutions') No