extends ../layout
block content
    .jumbotron.text-center
            h1.hug-top Nonprofit Sign Up
            .spacer
            h2 Do you represent a nonprofit organization that is registered with your government?
            .spacer
            .row
                .col-xs-6
                    a.btn.btn-primary.btn-big.btn-block(href='/nonprofits/how-can-free-code-camp-help-you') Yes
                .col-xs-6
                    a.btn.btn-warning.btn-big.btn-block(href='/nonprofits/other-solutions') No