extends ../layout
block content
    .jumbotron
        .text-center
            h2.nonprofit-landing.hug-top We'll code for your nonprofit, pro bono
            .big-break
            h2 Some of our success stories
            .row
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-jen.jpg", alt="@jenthebest's testimonial image")
                    .testimonial-copy Getting back on track with Free Code Camp and committing to a new career in 2015!
                    h3 - @jenbestyoga
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-tate.jpg", alt="@TateThurston's testimonial image")
                    .testimonial-copy Just built my company's website with skills I've learned from Free Code Camp!
                    h3 - @TateThurston
                .col-xs-12.col-sm-12.col-md-4
                    img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-cynthia.jpg", alt="@cynthialanel's testimonial image")
                    .testimonial-copy  I'm currently working through Free Code Camp to improve my JavaScript. The community is very welcoming!
                    h3 - @cynthialanel
            .big-break
            a.btn.btn-cta.signup-btn(href="/nonprofits/are-you-with-a-registered-nonprofit") Get pro bono help for my nonprofit
            .big-break
            h2 Our process
            .row
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Your idea
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', title='Get great references and connections to help you get a job')
                    p.landing-p You tell us how we can help you.
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Our team
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', title='Build a portfolio of apps for nonprofits')
                    p.landing-p We'll hand pick developers and a project manager.
                .col-xs-12.col-sm-12.col-md-4
                    h3.nowrap Your solution
                    img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', title='Help nonprofits')
                    p.landing-p Together we'll set milestones and complete your project.
            .big-break
            h2 Solutions we can help you build:
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-android-globe
                    h2.black-text Websites
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-card
                    h2.black-text Donation Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-android-calendar
                    h2.black-text Volunteer Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-box
                    h2.black-text Inventory Systems
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-university
                    h2.black-text E-learning Platforms
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-list
                    h2.black-text Web Forms
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-ios-people
                    h2.black-text Community Tools
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-settings
                    h2.black-text ...and other tools
                    br
                    br
            .big-break
            h2 Why you should join our community right now:
            h3.col-xs-offset-0.col-sm-offset-1
                ul.text-left
                    li.ion-code &thinsp; We're thousands of professionals, all learning to code together
                    li.ion-code &thinsp; We're building projects for dozens of nonprofits
                    li.ion-code &thinsp; Our community is 100% free and open source
                    li.ion-code &thinsp; You'll learn Full Stack JavaScript and become a Software Engineer
                    li.ion-code &thinsp; You'll work through our focused, interactive courses and tutorials
                    li.ion-code &thinsp; You'll learn to code at your own pace, in your browser or on your phone
                    li.ion-code &thinsp; You'll become qualified for thousands of jobs currently going unfilled
                    li.ion-code &thinsp; You can get help in real time from our community chat rooms and forum
                    li.ion-code &thinsp; We all share one common goal: to boost our careers with code
            .big-break
            a.btn.btn-cta.signup-btn(href="/nonprofits/are-you-with-a-registered-nonprofit") Get pro bono help for my nonprofit
            script.
                challengeName = 'Home'