extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 How can Free Code Camp help you?
        form.text-left.form-inline(role='form', method='POST', action="/nonprofits/how-can-free-code-camp-help-you/")
            input(type='hidden', name='_csrf', value=_csrf)
            h3.col-xs-12.col-sm-offset-5.checkbox-table
                .col-xs-12
                    input.checkbox(type='checkbox', name='websites')
                    label.ion-android-globe &nbsp; Websites
                .col-xs-12
                    input.checkbox(type='checkbox', name='donation-systems')
                    label.ion-card &nbsp; Donation Systems
                .col-xs-12
                    input.checkbox(type='checkbox', name='volunteer-systems')
                    label.ion-android-calendar &nbsp; Volunteer Systems
                .col-xs-12
                    input.checkbox(type='checkbox', name='inventory-systems')
                    label.ion-ios-box &nbsp; Inventory Systems
                .col-xs-12
                    input.checkbox(type='checkbox', name='e-learning-platforms')
                    label.ion-university &nbsp; E-learning Platforms
                .col-xs-12
                    input.checkbox(type='checkbox', name='web-forms')
                    label.ion-ios-list &nbsp; Web Forms
                .col-xs-12
                    input.checkbox(type='checkbox', name='community-tools')
                    label.ion-ios-people &nbsp; Community Tools
                .col-xs-12
                    input.checkbox(type='checkbox', name='other-tools')
                    label.ion-settings &nbsp; Other tools
            button.btn.btn-primary.btn-big.btn-block(type='submit') I've selected all that apply and am ready to move on