extends ../layout
block content
    .jumbotron
        h1.hug-top.text-center Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 Great! In exchange for our help, we ask only that you:
        h3
            ol
                li Appoint one principal stakeholder to serve on behalf of your organization.
                li Communicate with our campers on a regular basis, to answer questions and provide them with direction.
                li Commit to using the solution that our campers build for your nonprofit.
        .spacer
        .row
            .col-xs-6
                a.btn.btn-primary.btn-big.btn-block(href='/nonprofits/how-can-free-code-camp-help-you') Sounds good!
            .col-xs-6
                a.btn.btn-warning.btn-big.btn-block(href='/nonprofits/other-solutions') This might not be for us.