extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 Link us to the website, blog, or social media page that best represents your organization.
        .spacer
        form(role='form', method='GET', action="/nonprofits/tell-us-your-email/?" + existingParams)
            input(type='hidden', name='_csrf', value=_csrf)
            .formgroup
                .input-group
                    input.form-control.big-text-field.field-responsive(type='text', name='link', autocomplete='off', maxlength='500', autofocus='')
                    span.input-group-btn
                        button.btn.btn-big.btn-primary.btn-responsive Submit