extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        .spacer
        h2 Our campers are learning to code using modern full stack JavaScript technologies (MongoDB, Express, Angular, Node.js). We do not build or maintain Wordpress, Drupal, or other non-JavaScript based frameworks.
        .spacer
        .row
            .col-xs-6
                a.btn.btn-primary.btn-big.btn-block(href='/nonprofits/how-can-free-code-camp-help-you') Sounds good!
            .col-xs-6
                a.btn.btn-warning.btn-big.btn-block(href='/nonprofits/other-solutions') This might not be for us.