extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Here are some other solutions we recommend
        .spacer
        h2 Please note that Free Code Camp is not partnered with, nor do we receive a referral fee from, any of the following providers. We simply want to help guide you towards a solution for your organization.
        h3 Skills-based Volunteer Organizations
            ul
                li
                    a(href='http://www.volunteermatch.com') Volunteer Match
                li
                    a(href='http://www.catchafire.com') Catchafire
        h3 DIY Websites
            ul
                li
                    a(href='http://www.wix.com') Wix
                li
                    a(href='http://www.squarespace.com/') Square Space

        h3 Donor and Volunteer Management Systems
            ul
                li
                    a(href='https://www.thedatabank.com/') The Data Bank
                li
                    a(href='http://www.donorsnap.com/') DonorSnap
                li
                    a(href='http://www.donorperfect.com/') Donor Perfect
                li
                    a(href='https://www.blackbaud.com/fundraising-crm/etapestry-donor-management') eTapestry
                li
                    a(href='http://www.z2systems.com/') NeonCRM
                li
                    a(href='http://www.regpacks.com/volunteer-management/') Regpack
                li
                    a(href='http://sumac.com/') Sumac
                li
                    a(href='http://www.volgistics.com/') Volgistics
        h3 Inventory Management Systems
            ul
                li
                    a(href='https://www.ezofficeinventory.com/industries/non-profits') EZ Office Inventory
                li
                    a(href='https://www.ordoro.com') Ordoro
                li
                    a(href='http://www.unleashedsoftware.com') Unleashed
        h3 E-Learning platforms
            ul
                li
                    a(href='http://www.dokeos.com/') Dokeos
                li
                    a(href='http://www.efrontlearning.net/') eFront
                li
                    a(href='https://moodle.org/') Moodle
                li
                    a(href='https://sakaiproject.org/') Sakai
        h3 Community Management
            ul
                li
                    a(href='https://civicrm.org/') CiviCRM
                li
                    a(href='http://tcmgr.com/') Total Community Manager
        h3 Electronic Forms
            ul
                li
                    a(href='http://www.google.com/forms') Google Forms
