extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 In 140 characters or less, what does your nonprofit do? For whom?
        .spacer
        .formgroup
            .input-group
                input.form-control.big-text-field.field-responsive#what-does-the-nonprofit-do(type='text', maxlength='140', autofocus='')
                span.input-group-btn
                    button.btn.btn-big.btn-primary.btn-responsive(href='/nonprofits/link-us-to-your-website') Submit
        .text-left
            span#what-does-the-nonprofit-do-feedback

    script.
        var text_max = 140;
        $('#what-does-the-nonprofit-do-feedback').html(text_max + ' characters remaining');
        $('#what-does-the-nonprofit-do').keyup(function (e) {
            if (e.which === 13 || e === 13) {
                $('#submit-comment-to-comment').click();
            }
            var text_length = $('#what-does-the-nonprofit-do').val().length;
            var text_remaining = text_max - text_length;
            $('#what-does-the-nonprofit-do-feedback').html(text_remaining + ' characters remaining');
        });