extends ../layout
block content
    .jumbotron.text-center
        h1.hug-top Nonprofit Sign Up
        include ../partials/nonprofit-application-progress-bar
        h2 Thank you for reaching out to us. We’ll send you an email no later than #{getBackDay}.
