.map-ui {
  height: 100%;
}

.map-ui ul {
  list-style: none;
  color: var(--secondary-color);
}

.map-ui > ul {
  padding: 0;
}

button.map-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  background: transparent;
  border: none;
}

button.map-title:hover {
  color: var(--tertiary-color);
  background-color: var(--tertiary-background);
}

.map-title > h4 {
  margin-bottom: 0;
}

.map-title-completed {
  margin-left: auto;
  width: 100px;
  padding-left: 20px;
}

.superblock .map-title svg {
  width: 14px;
  margin-right: 5px;
  flex-shrink: 0;
  fill: var(--color-quaternary) !important;
  stroke: var(--color-quaternary);
}

li.open > .map-title svg:first-child {
  transform: rotate(90deg);
}

.map-challenge-title {
  margin-bottom: 0.25rem;
  max-width: 28rem;
}

.block a {
  text-decoration: none;
}
