extends ../layout
block content
    script.
        var challengeName = 'Wiki View';
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center
                h1= title
            .panel-body
                .row
                    .col-xs-12
                        div!= description
                .spacer
                .spacer
                .spacer
                .col-xs-12.col-sm-6.col-sm-offset-3
                    .text-center
                        .next-wiki-button.btn.btn-primary.btn-big.btn-block Next article (ctrl + enter)
                        .ten-pixel-break
                        #showAllButton.btn.btn-info.btn-big.btn-block Show me all wiki articles
                .spacer
                .row
                    .col-xs-12.text-center
                        if !user
                            a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
            .spacer
    #all-challenges-dialog.modal(tabindex='-1')
        .modal-dialog.animated.fadeInUp.fast-animation
            .modal-content
                .modal-header.all-list-header Wiki Articles
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    include ../partials/wikis
    #wikiId.hidden= wikiId
    script.
        $(document).ready(function() {
            $('body').keydown(function(e) {
                if (e.ctrlKey && e.keyCode == 13) {
                    $('.next-wiki-button').click();
                }
            });
        });
