extends ../layout
block content
    script.
        var challengeName = 'Wiki View';
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center
                h1= title
            .panel-body
                div!= description
                .row
                    .col-xs-12.text-center
                        if !user
                            h3 Got 3 minutes? Learn to code with us!
                            a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
            .spacer
