extends ../layout
block content
    script.
        var challengeName = 'Wiki View';
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center
                h1= title
            .panel-body
                h1!= description
