.reflex-element {
  overflow: hidden !important;
}

.monaco-menu .action-label {
  color: var(--highlight-color);
  letter-spacing: 0.02em;
}

.monaco-aria-container {
  top: -999em;
}

#challenge-page-tabs .nav-tabs {
  margin-left: 2px;
  display: flex;
}

#challenge-page-tabs .nav-tabs > li {
  flex: 1;
  text-align: center;
}

#challenge-page-tabs .nav-tabs > li > a {
  padding: 5px 10px;
}

#challenge-page-tabs .tab-content {
  height: calc(100vh - var(--header-height, 0px) - 69px);
  overflow-y: auto;
}

#challenge-page-tabs .tab-pane {
  height: 100%;
  overflow: hidden;
}
#challenge-page-tabs a {
  text-decoration: none;
}
#challenge-page-tabs a:hover {
  color: var(--secondary-background);
}
