extends ../../layout

block content
  h2 Stripe API

  ol
    li
      a(href='/api/stripe/onetime') One Time Charges
    li
      a(href='/api/stripe/newsubscriber') New Subscriber
    li
      a(href='/api/stripe/customers') List All Customers
    
