extends ../../layout

block content
  .page-header
    h2
      i.fa.fa-dollar
      | Stripe API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/api/stripe')
      i.fa.fa-home
      | All API Calls
    a.btn.btn-primary(href='https://stripe.com/docs/api', target='_blank')
      i.fa.fa-code
      | API Reference
    a.btn.btn-primary(href='https://manage.stripe.com/account/apikeys', target='_blank')
      i.fa.fa-gear
      | API Keys
  br
  .row  
    .col-sm-4        
      form(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        br
        .form-group
          label(for='customerName') Customer Name
          input#customerName.form-control(type='text', name='customerName', placeholder='Customer Name')
          label(for='customerEmail') Email address
          input#customerEmail.form-control(type='email', name='email', placeholder='Enter email')
          label(for='planselect') Select a Plan
          select.form-control#planselect(name='plantype')
            option(selected='selected', disabled='disabled') Select a Plan
            each name in plans
              option #{name}
        .form-group
          label(for='ccnumber') Credit Card Number
          input#ccnumber.form-control(type='text', size='20', name='ccNumber')

          label(for='CVC') CVC
          input#CVC.form-control(type='text', size='4', name='cvc')

          label(for='exp-month') Expiration (MM/YYYY)
          input#exp-month.form-control(type='text', size='2', name='expMonth')
          input#exp-year.form-control(type='text', size='4', name='expYear')
        button.btn.btn-primary(type='submit') Submit Payment
    .col-sm-7.col-sm-offset-1
      if subscription
        h2 Customer
        pre
          |!{JSON.stringify(customer)}
        h2 Subscription
        pre
          |!{JSON.stringify(subscription)}
      else
        h2 Stripe New Subscriber API
        p
        | This API is to create a new subscription for a user. The API tokenizes the credit card, creates a new user, then it creates a subscription for the user. 
        br
        br
        | You must create your subscription plans 
        a(href='https://manage.stripe.com/test/plans') here 
        | and then they will automatically populate in the dropdown list. You can create free trials too. 
        br
        br
        | Test Credit Card: 4242424242424242
        br 
        | Any CVC & valid experation date. 