.super-block-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.super-block-accordion ul {
  padding: 0;
}

.super-block-accordion li {
  list-style-type: none;
}

.super-block-accordion li a {
  text-decoration: none;
}

.super-block-accordion .chapter,
.super-block-accordion .link-block {
  background-color: var(--primary-background);
}

.super-block-accordion .chapter-button {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.super-block-accordion .chapter-button .chapter-button-left {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.5em;
}

.super-block-accordion .chapter-button .chapter-button-right {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.super-block-accordion .dropdown-wrap,
.super-block-accordion .checkmark-wrap {
  position: relative;
  top: 2px;
}

.super-block-accordion .chapter-checkmark-wrap {
  right: 5px;
}

.super-block-accordion .module-button {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.25em;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.super-block-accordion .module-button-left,
.super-block-accordion .module-button-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.super-block-accordion .module-steps {
  font-size: 0.75em;
}

.super-block-accordion .chapter-button:hover,
.super-block-accordion .module-button:hover {
  background-color: var(--tertiary-background);
  color: var(--primary-text);
}

.super-block-accordion .chapter-button[aria-expanded='false'] .dropdown-icon,
.super-block-accordion .module-button[aria-expanded='false'] .dropdown-icon {
  transform: rotate(180deg);
}

.super-block-accordion .chapter-button[aria-expanded='true'] .dropdown-icon,
.super-block-accordion .module-button[aria-expanded='true'] .dropdown-icon {
  transform: rotate(0deg);
}

.super-block-accordion .chapter-panel {
  padding: 0 16px;
}

.super-block-accordion .module-panel {
  padding: 0 24px;
}

.super-block-accordion .chapter-panel > li {
  border-bottom: 4px solid var(--secondary-background);
}

.super-block-accordion .chapter-panel > li:last-child {
  border-bottom: none;
}

.super-block-accordion .chapter-panel > li:last-child .block-grid,
.super-block-accordion .module-panel > li:last-child .block-grid {
  border-bottom: 0;
}

.super-block-accordion .badge {
  color: var(--quaternary-color);
  border: 1px solid var(--quaternary-color);
  align-self: center;
  height: fit-content;
  padding: 1px 6px 2px;
  font-size: 0.85rem;
  position: relative;
  top: 1px;
}

.super-block-accordion .coming-soon-module {
  font-size: 1.25rem;
}

.super-block-accordion .module-intro {
  margin-left: 17px;
  margin-top: 16px;
}

.full-width-container {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.super-benefits-container {
  background-color: var(--gray-75);
  color: var(--gray-15);
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.super-block-intro-page .btn-cta-big {
  max-width: 350px;
}

.super-block-benefits > div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.super-block-benefits p {
  margin: 0;
}

.super-block-benefits {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.super-block-benefits svg path,
.super-block-benefits p {
  fill: var(--gray-15);
}

.super-block-benefits h3 {
  color: var(--gray05);
}

@media screen and (min-width: 700px) {
  .super-block-benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .super-block-benefits svg {
    margin-top: -10px;
  }
}
