.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.button-default-style {
  @apply bg-default-background-quaternary;
  @apply border-default-foreground-secondary;
  @apply text-default-foreground-secondary;
  @apply border-2;
}
