h1 Admin
p This view is visible to users with the administrator role.

table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th #
            th Username
            th Role
    tbody
        tr(data-ng-repeat="user in users")
            td {{ user.id }}
            td
               i.icon-twitter(data-ng-show="user.provider == 'twitter'")
               i.icon-facebook-sign(data-ng-show="user.provider == 'facebook'")
               i.icon-google-plus-sign(data-ng-show="user.provider == 'google'")
               i.icon-linkedin(data-ng-show="user.provider == 'linkedin'")
               |  {{ user.username }}
            td
                span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}