@import './colors.css';

@tailwind base;

@layer base {
  /* Override Tailwind's default `text-decoration` rule. */
  /* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css#L85 */
  a {
    @apply underline;
  }
  /* Override Tailwind's default `-webkit-tap-highlight-color` rule. */
  /* https://github.com/tailwindlabs/tailwindcss/discussions/2984 */
  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@tailwind components;
@tailwind utilities;
