extends ../layout

block content
  .jumbotron
      h1.animated.lightSpeedIn.text-center.hug-top We'll code software solutions for your nonprofit, for free!
      .animated.fadeIn.delay-2.landing-panel-body
          h3 Our students will help you build that donor tracking system, community message board, or whatever your organization needs,&nbsp;
            strong at no cost.
          h3 In exchange, we ask only that you:
              h4
                  ul
                      li &#8226 Meet with them regularly to provide direction and answer questions
                      li &#8226 Clearly communicate your project's goals: what will this project solve, and for whom?
                      li &#8226 Understand that all our projects involve building new sites using modern JavaScript frameworks. We're happy to build a replacement for your old Wordpress or Drupal, but we cannot expand or maintain it.
                      li &#8226 Keep your expectations high. Our students' goal is to produce work that's up to your standards
          h3 If you're OK with these terms, great! We'd love to help you! Fill in this form and we'll get right back to you.
          form.form-horizontal(role='form', action="/nonprofits/", method='POST', novalidate='novalidate', name='nonprofitForm')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(class='col-sm-2 control-label', for='name') Your name *
              .col-sm-8
                input.form-control(type='text', name='name', id='name', autocomplete="off", ng-model='name', required='required')
              .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.name.$invalid && nonprofitForm.name.$error.required && !nonprofitForm.name.$pristine")
                alert(type='danger')
                    span.ion-close-circled(id='#name-error')
                    |  Your name is required.
            .form-group
              label(class='col-sm-2 control-label', for='email') Your email *
              .col-sm-8
                input.form-control(type='text', name='email', id='email', autocomplete="off", ng-model='email', required='required')
              .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.email.$invalid && nonprofitForm.email.$error.required && !nonprofitForm.email.$pristine")
                alert(type='danger')
                  span.ion-close-circled(id='#email-error').
                    Your email is required.
            .form-group
              label(class='col-sm-2 control-label', for='message') Briefly describe what problem you need to solve, and for whom. *
              .col-sm-8
                textarea.form-control(type='text', name='message', id='message', rows='7', autocomplete="off", ng-model='message', required='required')
              .col-sm-8.col-sm-offset-2(ng-cloak, ng-show="nonprofitForm.message.$invalid && nonprofitForm.message.$error.required && !nonprofitForm.message.$pristine")
                alert(type='danger')
                  span.ion-close-circled(id='#message-error')
                  | Your message is required.
            .form-group
              .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit', ng-disabled='nonprofitForm.$invalid')
                  span.ion-paper-airplane
                  | Submit
  script.
      var challengeName = 'Non-profit Interest'