.large-p {
  font-size: 24px;
}

/* Buttons with a lot of text can overflow and mess up formatting on small
   screens, this stops that unless the word itself is too large. */

.btn {
  white-space: pre-line;
}

.logo-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.logo-row h2 {
  height: 35px;
  padding: 0 10px 0 10px;
}

.landing-page ul {
  list-style: none;
  padding-left: 0px;
}
