.large-p {
  font-size: 24px;
}

/* Buttons with a lot of text can overflow and mess up formatting on small
   screens, this stops that unless the word itself is too large. */

.btn {
  white-space: pre-line;
}

.landing-page ul {
  list-style: none;
  padding-left: 0px;
}

#featured-logos {
  max-width: 600px;
}
.landing-top h1:first-child {
  margin-top: 0px;
}

.landing-page h1,
.landing-page h2,
.landing-page p {
  font-family: 'Lato', sans-serif;
}

p.caption {
  margin: 10px 0 0 0;
  font-size: 0.8rem;
  color: var(--quaternary-color);
}

.as-seen-in {
  background-color: var(--gray-75);
  color: var(--gray-15);
}

.as-seen-in h1 {
  color: var(--gray-15);
}

.landing-page h1 {
  margin-bottom: 40px;
}

.campers-images {
  display: none !important;
}

@media (min-width: 1200px) {
  .campers-images {
    display: inline-block !important;
    width: 100%;
    height: 100%;
  }
}

.logo-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 10px 0;
}

.logo-row svg {
  height: 40px;
}

@media (min-width: 370px) {
  .logo-row svg {
    margin: 5px 15px;
  }
}

@media (min-width: 480px) {
  .logo-row svg {
    height: 25px;
    margin: 5px;
  }
}

@media (min-width: 550px) {
  .logo-row {
    justify-content: space-between;
  }

  .logo-row svg {
    height: 40px;
  }
}

.cta-landing-section h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

/* testimonials */

.testimonials-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.testimonials p,
.testimonials strong {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  color: var(--gray-75);
}
.testimonial-meta p:last-child {
  margin-top: 15px;
}

.testimonial-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 50px 10px;
  background: var(--gray-00);
  -webkit-box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09);
}

.testimonial-image,
.landing-page-image {
  width: 100%;
}

.testimonial-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0px 30px 0px;
}

.testimonial-meta p,
.testimonial-meta strong {
  font-size: 1.2rem;
}

.testimonial-card-header {
  height: 100%;
  padding-bottom: 100%;
  position: relative;
}

.testimonial-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.testimonials-footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: justify;
  justify-content: center;
}
.landing-top,
.as-seen-in,
.certification-section,
.testimonials {
  padding: 4vw 0;
}

@media (min-width: 500px) {
  .cta-landing-section h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .testimonial-card {
    flex-direction: row;
    width: auto;
    max-width: none;
  }
  .testimonial-image {
    width: auto;
    height: 100%;
  }
  .testimonial-meta {
    padding: 0px 0px 30px;
  }
  .testimonial-meta p,
  .testimonial-meta strong {
    font-size: 1.3rem;
  }
  .testimonials-footer {
    padding: 40px;
  }
  .testimonial-card-header {
    height: 350px;
    min-width: 350px;
    padding-bottom: 0;
  }
}
