.universal-nav {
  z-index: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40px;
  font-size: 18px;
  font-family: 'Roboto-Mono', sans-serif;
  height: var(--header-height);
  background: var(--theme-color);
  position: fixed;
  z-index: 1000;
  color: var(--gray-00);
  width: 100%;
  padding: 0 15px;
  top: 0;
}

.universal-nav a {
  text-decoration: none;
}

.universal-nav .universal-nav-right a {
  font-family: 'Roboto Mono', monospace;
}

.universal-nav-left {
  display: flex;
  flex: 1 0 33%;
  margin-left: 0;
  z-index: 2000;
}

.universal-nav-middle {
  display: flex;
  align-items: center;
  flex: 1 0 33%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  letter-spacing: 0.4px;
  white-space: nowrap;
  -ms-overflow-scrolling: touch;
}

.universal-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 33%;
  height: var(--header-height);
}

#universal-nav-logo {
  flex-shrink: 0;
  display: block;
  margin: 0 auto;
  color: var(--gray-00);
  font-size: 1.7rem;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: -0.5px;
}

#universal-nav-logo:hover {
  text-decoration: none;
  background-color: var(--theme-color);
}

#universal-nav-logo:focus {
  background-color: inherit;
}

#universal-nav-logo svg {
  display: block;
  width: auto;
  height: 24px;
  margin: 7px 0;
}

.nav-list {
  display: none;
  position: absolute;
  background-color: var(--theme-color);
  top: calc(var(--header-height) * 2);
  right: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
  max-width: 250px;
}

.nav-link {
  margin: 0;
  padding: 2px 15px 0;
  display: flex;
  align-items: center;
  color: var(--gray-00);
  background-color: var(--gray-90);
  opacity: 1;
  white-space: normal;
  min-height: var(--header-height);
  width: 100%;
  border: none;
}

.dropdown-nav-link {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-nav-link:hover .nav-link-lang-dropdown,
.dropdown-nav-link:active .nav-link-lang-dropdown {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.nav-link:hover,
.nav-link:active {
  color: var(--theme-color);
  text-decoration: none;
  background: white;
  cursor: pointer;
}

.nav-link-header,
.nav-link-header:hover,
.nav-link-header:active {
  color: var(--gray-00);
  background-color: var(--gray-90);
  cursor: default;
}

.nav-link .fa-external-link-alt {
  color: var(--gray-45);
}

.nav-link .fa-check,
.nav-link .fa-check-square {
  width: 18px !important;
  height: auto !important;
}

.nav-link:hover .nav-link-lang-dropdown,
.nav-link:active .nav-link-lang-dropdown {
  background-color: var(--gray-00);
  color: var(--gray-90);
  cursor: pointer;
}

.nav-link-lang-dropdown {
  padding: 0 15px;
  color: var(--gray-00);
  background-color: var(--gray-90);
  width: 100%;
  border: none;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 10px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

.nav-link-lang-dropdown:focus {
  outline: none;
}

.nav-link-flex {
  display: flex;
  justify-content: space-between;
}

.nav-link-sign-in {
  display: none;
}

.nav-link-dull {
  color: var(--gray-45);
}

.nav-skeleton {
  height: var(--header-height);
  margin-right: 15px;
  width: 350px;
}

.nav-list .fcc-loader {
  padding: 0 40px;
  margin-left: 35px;
  margin-right: 25px;
}

.toggle-button-nav {
  padding: 2px 14px;
  border: 1px solid var(--gray-00);
  font-family: 'lato', sans-serif;
  font-size: 18px;
  color: var(--gray-00);
  background-color: var(--theme-color);
  cursor: pointer;
  max-height: calc(var(--header-height) - 6px);
  margin-right: 10px;
}

.toggle-button-nav:hover {
  background-color: var(--theme-color);
  color: var(--gray-00);
  border: 1px solid var(--gray-00);
}

.toggle-button-nav:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -3px;
}

.avatar-nav-link {
  display: block;
  height: 31px;
  width: 31px;
}

.avatar-nav-link:hover,
.avatar-nav-link:focus {
  background-color: var(--theme-color);
}

.avatar-nav-link .avatar-container {
  height: 100%;
}

.avatar-nav-link .avatar-container svg,
.avatar-nav-link .avatar-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gold-border {
  border: 2px solid var(--yellow-gold);
}

.blue-border {
  border: 2px solid var(--blue-mid);
}

.purple-border {
  border: 2px solid var(--purple-mid);
}

.default-border {
  border: 2px solid var(--gray-15);
}

.expand-nav {
  height: var(--header-height);
}

.display-menu {
  display: inherit;
  text-align: left;
  margin-top: calc(-1 * var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.display-menu::-webkit-scrollbar {
  display: none;
}

.toggle-button-nav {
  display: flex;
}

.reverse-toggle-color {
  background-color: var(--gray-00);
  color: var(--theme-color);
}

.reverse-toggle-color:hover {
  background-color: var(--gray-00);
  color: var(--theme-color);
}

.nav-line,
.nav-line-2 {
  border-color: var(--gray-45);
  width: 100%;
  margin: 0;
}

.nav-line-2 {
  border-top-width: 2px;
}

.signup-btn {
  max-height: calc(var(--header-height) - 6px);
  padding: 0 8px;
  margin-left: 2px;
}

@media (max-width: 980px) {
  .universal-nav-left {
    display: none;
  }

  .universal-nav-middle {
    flex: none;
  }

  .display-search {
    display: initial;
  }

  .universal-nav-right {
    flex: 1 0 50%;
    display: flex;
    justify-content: flex-end;
  }

  .fcc_searchBar .ais-SearchBox-form {
    display: flex;
    position: absolute;
    top: var(--header-height);
    left: 15px;
    max-width: calc(100vw - 350px);
  }

  #universal-nav-logo {
    display: flex;
    position: absolute;
    left: 17px;
    top: 0;
  }

  .expand-nav {
    min-height: calc(2 * var(--header-height));
  }
}

@media (max-width: 600px) {
  .nav-list {
    min-width: 100%;
    top: calc(var(--header-height) * 2);
    margin-top: 0;
  }

  .fcc_searchBar .ais-SearchBox-form {
    max-width: 100%;
  }

  .ais-SearchBox-input {
    min-width: 100%;
  }

  .ais-Hits {
    min-width: calc(100% - 30px);
  }

  .display-menu {
    max-height: calc(100vh - var(--header-height) * 2);
  }
}

@media (max-width: 455px) {
  .universal-nav {
    padding: 0 5px;
  }

  .universal-nav {
    padding: 0 5px;
  }

  .nav-link-sign-in {
    display: flex;
  }

  .navatar .signup-btn {
    display: none;
  }

  .navatar {
    display: none;
  }

  #universal-nav-logo {
    max-width: 60%;
  }
}

@media (max-width: 300px) {
  #universal-nav-logo {
    max-width: none;
    left: -170px;
  }
}
