.universal-nav {
  z-index: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40px;
  font-size: 18px;
  font-family: 'Roboto-Mono', sans-serif;
  height: var(--header-height);
  background: var(--theme-color);
  position: fixed;
  z-index: 1000;
  color: var(--gray-00);
  width: 100%;
  padding: 0 15px;
  top: 0;
}

.universal-nav a {
  text-decoration: none;
}

.universal-nav .universal-nav-right a {
  font-family: 'Roboto Mono', monospace;
}

.universal-nav-left {
  display: flex;
  flex: 1 0 33%;
  margin-left: 0px;
  z-index: 2000;
}

.universal-nav-middle {
  display: flex;
  align-items: center;
  flex: 1 0 33%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 10px;
  letter-spacing: 0.4px;
  white-space: nowrap;
  -ms-overflow-scrolling: touch;
}

.universal-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 33%;
  height: var(--header-height);
}

#universal-nav-logo {
  flex-shrink: 0;
  display: block;
  margin: 0 auto;
  color: var(--gray-00);
  font-size: 1.7rem;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: -0.5px;
}

#universal-nav-logo:hover {
  text-decoration: none;
  background-color: var(--theme-color);
}
#universal-nav-logo:focus {
  background-color: inherit;
}

#universal-nav-logo svg {
  display: block;
  width: auto;
  height: 24px;
  margin: 7px 0px;
}

.nav-list {
  display: none;
  position: absolute;
  background-color: var(--theme-color);
  top: calc(var(--header-height) * 2);
  right: 0px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
  max-width: 300px;
}

.nav-list li {
  display: block;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 2px 15px 0 25px;
  color: var(--gray-00);
  opacity: 1;
  white-space: nowrap;
  height: var(--header-height);
  width: 100%;
  align-items: center;
}

.nav-list span.nav-link {
  padding: 2px 15px 0 15px;
  background-color: var(--gray-75);
}

.nav-list a.nav-link:hover {
  color: var(--theme-color);
  text-decoration: none;
  background: white;
}

.nav-list li a.nav-link:focus {
  background: var(--theme-color);
  color: white;
}

.nav-list li a.nav-link:focus:hover {
  color: var(--theme-color);
  background: white;
}

.nav-list a.btn-cta {
  padding: 0 20px;
  height: 30px;
  margin-left: 19px;
  margin-right: 15px;
}

.nav-skeleton {
  height: var(--header-height);
  margin-right: 15px;
  width: 350px;
}

.nav-list .fcc-loader {
  padding: 0 40px;
  margin-left: 35px;
  margin-right: 25px;
}

.toggle-button-nav {
  padding: 2px 14px 2px;
  border: 1px solid var(--gray-00);
  font-family: 'lato', sans-serif;
  font-size: 18px;
  color: var(--gray-00);
  outline: none;
  background-color: var(--theme-color);
  cursor: pointer;
  margin-top: 4px;
  height: auto;
}

.toggle-button-nav:hover {
  background-color: var(--theme-color);
  color: var(--gray-00);
  border: 1px solid var(--gray-00);
}

.navatar .avatar-container {
  display: block;
  padding: 0;
  margin-left: 15px;
  opacity: 1;
  white-space: nowrap;
  background: transparent;
  height: calc(var(--header-height) - 8px);
  width: calc(var(--header-height) - 8px);
}

.navatar .avatar-containersvg {
  display: inline;
  background: var(--secondary-background);
}

.navatar .avatar-container svg,
.navatar .avatar-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gold-border {
  border: 2px solid var(--yellow-gold);
}

.blue-border {
  border: 2px solid var(--blue-mid);
}

.purple-border {
  border: 2px solid var(--purple-mid);
}

.default-border {
  border: 2px solid transparent;
}

.expand-nav {
  height: var(--header-height);
}

.display-menu {
  display: inherit;
  text-align: left;
  margin-top: calc(-1 * var(--header-height));
}

.toggle-button-nav {
  display: flex;
}

.reverse-toggle-color {
  background-color: var(--gray-00);
  color: var(--theme-color);
}

.reverse-toggle-color:hover {
  background-color: var(--gray-00);
  color: var(--theme-color);
}

@media (max-width: 980px) {
  .universal-nav-left {
    display: none;
  }

  .universal-nav-middle {
    width: 50%;
  }

  .display-search {
    display: initial;
  }

  .universal-nav-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .fcc_searchBar .ais-SearchBox-form {
    display: flex;
    position: absolute;
    top: var(--header-height);
    left: 15px;
  }

  #universal-nav-logo {
    display: flex;
    position: absolute;
    left: 17px;
    top: 0px;
  }

  .expand-nav {
    min-height: calc(2 * var(--header-height));
  }
}
