.large-p {
  font-size: 24px;
}

/* Buttons with a lot of text can overflow and mess up formatting on small
     screens, this stops that unless the word itself is too large. */

.btn {
  white-space: pre-line;
}

.logo-row h2 {
  height: 35px;
  padding: 0 10px;
}

.landing-page ul {
  list-style: none;
  padding-inline-start: 0;
}

.quote-partial .blockquote {
  font-size: 1.3rem;
  border: none;
}

.intro-description strong,
.intro-description p {
  font-size: 1.17rem;
}

@media (max-width: 500px) {
  .quote-partial .blockquote {
    font-size: 1.2rem;
    border: none;
  }

  .intro-description strong,
  .intro-description p {
    font-size: 1rem;
  }
}
.quote-author {
  font-style: normal;
  color: var(--secondary-color);
}
