.avatar-container .avatar {
  height: 180px;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.username,
.name,
.bio,
.location {
  overflow-wrap: break-word;
}

.supporter-img {
  border: 10px solid var(--yellow-gold);
}
