.learn-alert {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #31708f;
  color: #31708f;
  background: linear-gradient(
      -10deg,
      rgba(217, 237, 247, 1) 35%,
      rgba(237, 202, 216, 0) 75%,
      rgb(255 215 224) 100%
    ),
    radial-gradient(
      circle,
      rgba(255, 202, 225, 1) 0%,
      rgba(218, 234, 252, 1) 100%
    );
}

.learn-alert .btn {
  background-color: transparent;
  color: #31708f;
  border-color: #31708f;
}
.learn-alert .btn:hover,
.learn-alert .btn:focus,
.learn-alert a:hover,
.learn-alert a:focus {
  background-color: #31708f;
  color: #d9edf7;
  border-color: #31708f;
}

.university-alert p,
.learn-alert p {
  color: inherit;
}

.learn-alert .progress-wrapper {
  display: inline-block;
  width: 100%;
  margin: 1.2rem 0;
  flex-direction: row;
  border: 1px solid var(--blue70);
}

.learn-alert h3,
.learn-alert h2 {
  color: var(--blue70);
}

.learn-alert .progress-bar-wrap,
.progress-bar-background {
  background-color: transparent;
}

.learn-alert hr {
  border-top-color: var(--blue10);
}

.learn-alert .btn-container {
  display: flex;
  justify-content: center;
}

.learn-alert .donate-button,
.university-alert .donate-button {
  border-color: #31708f;
}

.university-alert {
  background-color: var(--blue05);
  background-repeat: repeat;
  animation: slideBackground 10s linear infinite;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="144" height="113" viewBox="0 0 144 113" fill="none"><path d="M83.0205 89.0206L83.0515 78.5206L98.0293 86.0649L114.053 78.1122L114.02 89.1121C114.02 89.1121 107.6 96.0932 97.9998 96.0648C88.3998 96.0365 83.0205 89.0206 83.0205 89.0206Z" fill="%23198EEE" fill-opacity="0.1"/><path d="M76 72L98 59L121 72V81L123.5 87.5H117L120 81V72.5L98 83L76 72Z" fill="%233099F0" fill-opacity="0.1"/><path d="M10.0205 33.0206L10.0515 22.5206L25.0293 30.0649L41.0529 22.1122L41.0204 33.1121C41.0204 33.1121 34.5997 40.0932 24.9998 40.0648C15.3998 40.0365 10.0205 33.0206 10.0205 33.0206Z" fill="%23198EEE" fill-opacity="0.1"/><path d="M3 16L25 3L48 16V25L50.5 31.5H44L47 25V16.5L25 27L3 16Z" fill="%233099F0" fill-opacity="0.1"/></svg>');
}

@keyframes slideBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 144px 113px;
  }
}

.learn-alert .progress-bar-percent {
  border-right: 1px solid var(--blue70);
  background-color: var(--blue-mid);
  background-image: linear-gradient(to right, #31708f, #198eee);
  box-shadow: none;
}

.annual-donation-alert p {
  margin-bottom: 0;
}
