.hide-test-frame {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.challenge-preview, .challenge-preview-frame {
  height: calc(60vh);
  width: 100%;
  padding: 0;
  margin: 0;
}