:root {
  --header-height: 38px;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
}

#top-nav {
  background: #006400;
  height: var(--header-height);
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

#top-nav .home-link {
  display: flex;
  align-items: center;
}

#top-nav img {
  max-height: 25px;
  min-width: 35px;
  margin: 0 5px;
}

#top-right-nav {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #006400;
}

#top-right-nav a,
#top-right-nav img {
  max-height: var(--header-height);
}

#top-right-nav > li > a {
  padding: 8px 15px;
}

#top-right-nav li {
  margin: 0;
}

#top-right-nav a {
  color: #fff;
  font-size: 18px;
}

#top-right-nav a:hover,
#top-right-nav a:focus {
  background-color: #fff;
  color: #006400;
}

#top-right-nav li.user-state-link,
#top-right-nav li.user-state-link:hover,
#top-right-nav li.user-state-link:focus,
#top-right-nav li.user-state-link > a,
#top-right-nav li.user-state-link > a:hover,
#top-right-nav li.user-state-link > a:focus {
  background-color: #006400;
}

#top-right-nav a:hover,
#top-right-nav a:focus {
  text-decoration: none;
}

.user-state-spinner {
  height: var(--header-height);
  padding: 0 12px;
}

.user-state-spinner > div {
  animation-duration: 1.5s !important;
}

/* Search bar */
.fcc_searchBar {
  flex-grow: 1;
  padding: 0 10px;
  max-height: 33px;
}

.fcc_searchBar .ais-SearchBox-input,
.fcc_searchBar .ais-Hits {
  background-color: #fff;
}

.fcc_searchBar .ais-SearchBox-form {
  margin-bottom: 0;
}

.fcc_searchBar .ais-Hits {
  width: 60%;
}

@media (max-width: 735px) {
  .fcc_searchBar .ais-Hits {
    width: 80%;
    left: 10%;
  }
}

/* Navbar logo */

.logo-glyph {
  height: 30px;
  width: auto;
}

.logo {
  display: none;
}

.logoContainer {
  margin-right: 10px;
}

@media (min-width: 735px) {
  .logo-glyph {
    display: none;
  }

  .logo {
    display: block;
  }

  .logoContainer {
    margin-right: 50px;
    width: 25%;
  }
}

#top-nav .menu-button {
  display: none;
}

@media (max-width: 734px) {
  #top-nav {
    padding: 0;
  }

  #top-nav .menu-button {
    display: block;
    margin: 0 20px 0 12px;
    padding: 2px 14px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }

  .opened #top-right-nav {
    top: var(--header-height);
  }

  #top-right-nav {
    position: absolute;
    top: -300px;
    flex-direction: column;
    width: 100vw;
    height: min-content;
    min-height: 160px;
    padding: 10px 0;
  }

  #top-nav img {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 420px) {
  #top-nav img {
    margin: 0 0 0 5px;
  }

  #top-nav .menu-button {
    margin: 0 10px 0 4px;
  }
}
