* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
}

.shapes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

/* Shapes */

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

.rectangle {
  width: 150px;
  height: 80px;
  background-color: green;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid purple;
}
