extends ../layout
block content
    script.
        var challengeName = 'Field Guide View';
    .panel.panel-info.no-padding
        .panel-heading.text-center
            h1= title
        .panel-body
            div!= description
            .col-xs-12.col-sm-6.col-sm-offset-3
                .spacer
                .text-center
                    if user && user.uncompletedFieldGuides.length > 0
                        .next-field-guide-button.btn.btn-primary.btn-big.btn-block Next article (ctrl + enter)
                        .button-spacer
                    a.btn.btn-info.btn-big.btn-block(href='/field-guide/all-articles') Show me all articles
                    if !user
                        .button-spacer
                        a.btn.btn-big.signup-btn.btn-block(href='/login') Start learning to code (it's free)
        .spacer
    #fieldGuideId.hidden= fieldGuideId
    script.
        $(document).ready(function() {
            $('body').keydown(function(e) {
                if (e.ctrlKey && e.keyCode == 13) {
                    $('.next-field-guide-button').click();
                }
            });
        });
