Greetings from San Francisco!

Thank you for joining our community.

Please verify your email by following the link below:

<a href="<%= verifyHref %>"><%= verifyHref %></a>

Feel free to email us at this address if you have any questions about freeCodeCamp.
<br>
<br>
And if you have a moment, check out our blog: https://medium.freecodecamp.org.
<br>
<br>
Good luck with the challenges!

Thanks,
The freeCodeCamp Team.
team@freecodecamp.com
