Greetings from San Francisco!
<br>
<br>
Thank you for joining the freeCodeCamp community.
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Happy coding!
<br>
<br>
<br>
- the freeCodeCamp Team
