Greetings from San Francisco!
<br>
<br>
Thank you for joining our community.
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Feel free to email us at this address if you have any questions about freeCodeCamp.
<br>
<br>
And if you have a moment, check out our blog: https://medium.freecodecamp.com.
<br>
<br>
Good luck with the challenges!
<br>
<br>
<br>
- the freeCodeCamp Team.
