<h3>
  Thank you, for updating you contact details.
</h3>
<p>
  Please verify your email by following the link below:
</p>
<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>
<p>
  Feel free to email us at this address if you have any questions about Free Code Camp.
</p>
<p>
  - the Free Code Camp Team.
</p>
