Thank you for updating your contact details.

Please verify your email by following the link below:

<a href="<%= verifyHref %>"><%= verifyHref %></a>

Please email us at this address if you have any questions about freeCodeCamp.

Good luck with the challenges!

Thanks,
The freeCodeCamp Team.
team@freecodecamp.com
