Thank you, for updating you contact details.
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Feel free to email us at this address if you have any questions about Free Code Camp.
<br>
<br>
<br>
- the Free Code Camp Team.
