Thank you for your patient for updating your contact details.
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<br>
Please email us at this address <a href="<%= verifyHref %>"><%= verifyHref %></a> if you have any questions about freeCodeCamp.
<br>
<br>
<br>
-from  the freeCodeCamp Team
