extends ../layout

block content
    .page-header
        h3 Your Curriculum
    h1= title
    ul
        each course in courses
            a(href="/courses/#{course.id}")
                =course.name
            br

