extends ../layout

block content
    .page-header
        h3 Your Curriculum
    ul.pages
    li.chat.page
        div.chatArea
            ul.messages
        input.inputMessage(placeholder='Type here...')
    li.login.page
        div.form
            h3.title What's your nickname?
            input.usernameInput(type='text', maxlength='14')
    h1= title


//    .row
//    .col-sm-6
//        h3 Your Curriculum
//    .col-sm-6
//        .chat
//            .chat-messages
//            .chat-input.row
//                .col-sm-3
//                    input.usernameInput(placeholder='Nickanem', type='text', maxlength='14')
//                .col-sm-9
//                    input.inputMessage(placeholder='Type here...')
//