extends ../layout

block content
    .page-header
        h3 Your Curriculum
    h1= title
    ul
        each course in courses
            li= course.name
    script(type="text/javascript") var username = '#{username}';

//    https://www.hipchat.com/invite/178107/cc2f6ea4dfac9e48b9a88b305adae48a