extends ../layout
block content
    .row
        .col-xs-12.col-sm-8
            .panel.panel-primary
                .panel-heading Your Curriculum
                .panel.panel-body
                    .responsive-container.animated.zoomIn.delay-1
                        iframe(src='//player.vimeo.com/video/#{video}', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    h3 Instructions:
                    p Here are a few quick tips:
                    ol
                        li Work through our challenges in order. Many challenges are self-graded. If you want our feedback,&nbsp;
                            a(href="https://twitter.com/intent/tweet?text=Hey%20@freecodecamp") tweet a link to your project to @freecodecamp.
                        li If you get stuck, try working through our recommended (free) courses. They're super helpful, but totally optional. You can pair program on them, too.
                        li Challenge #2 will show you how to start a pair programming session. Pair program as much as possible. It's more fun, and you'll learn better that way.
                    p We're working to create more challenges. If you have an idea for a challenge you'd like us to implement,&nbsp
                        a(href="https://twitter.com/intent/tweet?text=Hey%20@freecodecamp") tweet it to @freecodecamp.
        .col-sm-4.col-xs-12.animated.flipInY.delay-2
            include ./../partials/challenges
        .col-sm-4.col-xs-12.animated.flipInY.delay-2
            include ./../partials/courses