extends ../layout
block content
    .row
        .col-sm-8.col-xs-12
            h1 Welcome to Free Code Camp!

        .col-sm-4.col-xs-12
            include ./../partials/challenges
        .col-sm-4.col-xs-12
            include ./../partials/courses