extends ../layout-wide
block content
  iframe#wikiFrame(frameborder='no')
  script.
      var lang = window.location.toString().match(/\/\w{2}\//);
      lang = (lang) ? lang[0] : '/en/';
      $('#wikiFrame').attr('src','//freecodecamp.github.io/wiki' + lang);
