name: CD - Docker - GHCR Images

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'pnpm-lock.yaml'
      - 'docker/devcontainer/**'
      - '.github/workflows/docker-ghcr.yml'

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and Push Images
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'recursive'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log in to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6
        with:
          files: docker/devcontainer/docker-bake.hcl
          targets: devcontainer
          push: true
        env:
          TAG: ${{ github.sha }}
          TAG_LATEST: ${{ github.ref_name == 'main' }}
