name: CI - E2E - Playwright
on:
  workflow_dispatch:
  workflow_run:
    workflows: ['CI - Node.js']
    types:
      - completed
  # TODO: refactor with a workflow_call
  pull_request:
    branches:
      - 'main'
      - 'temp-**' # Temporary branches allowed on Upstream

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.workflow_run.head_branch || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') && !contains(github.ref, 'prod-') }}

jobs:
  playwright-e2e:
    name: Run Playwright Tests
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # Extend this to include firefox and webkit once chromium is working.
        browsers: [chromium]
        node-version: [22]

    steps:
      - name: Set Action Environment Variables
        run: |
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Checkout Source Files
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      # Note, no submodules because we're just building the English client.

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        id: pnpm-install
        with:
          run_install: false

      - name: Install Dependencies
        run: pnpm install

      - name: Build Client Image
        run: |
          docker build \
            --build-arg HOME_LOCATION=http://localhost:8000 \
            --build-arg NEWS_LOCATION=https://www.freecodecamp.org/news \
            --build-arg CLIENT_LOCALE=english \
            --build-arg CURRICULUM_LOCALE=english \
            --build-arg API_LOCATION=http://localhost:3000 \
            --build-arg ALGOLIA_API_KEY=api_key_from_algolia_dashboard \
            --build-arg ALGOLIA_APP_ID=app_id_from_algolia_dashboard \
            --build-arg GROWTHBOOK_URI=api_URI_from_Growthbook_dashboard \
            --build-arg FORUM_LOCATION=https://forum.freecodecamp.org \
            --build-arg PATREON_CLIENT_ID=id_from_patreon_dashboard \
            --build-arg PAYPAL_CLIENT_ID=id_from_paypal_dashboard \
            --build-arg STRIPE_PUBLIC_KEY=pk_from_stripe_dashboard \
            --build-arg SHOW_UPCOMING_CHANGES=false \
            --build-arg FREECODECAMP_NODE_ENV=development \
            --build-arg DEPLOYMENT_ENV=staging \
            -t fcc-client \
            -f docker/web/Dockerfile .

      - name: Build API Image
        run: |
          docker build \
            -t fcc-api \
            -f docker/api/Dockerfile .

      - name: Set freeCodeCamp Environment Variables (needed by api)
        run: |
          cp sample.env .env

      - name: Install playwright dependencies
        run: npx playwright install --with-deps

      - name: Start apps
        run: |
          docker compose up -d
          sleep 10

      - name: Seed Database with Certified User
        run: pnpm run seed:certified-user

      - name: Run playwright tests
        run: npx playwright test --project=${{ matrix.browsers }} --grep-invert 'third-party-donation.spec.ts'

      - name: Upload Playwright Report
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-${{ matrix.browsers }}
          path: playwright/reporter
          retention-days: 7

      - name: Upload Webpack Stats
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: webpack-stats
          path: client/public/stats.json
