name: 'Check for merge conflicts'
on:
  push
jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: mschilde/auto-label-merge-conflicts@master
        with:
          CONFLICT_LABEL_NAME: 'status: merge conflict'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
